<table width="60%" border="0" cellspacing="2" cellpadding="5">
	<tr>
		<th>Address</th>
		<td><%= @team.address %></td>
		<th>State</th>
		<td><%= @team.state %></td>
		<th>Website</th>
		<td><%= @team.url %></td>
	</tr>
	<tr>
		<th>City</th>
		<td><%= @team.city %></td>
		<th>Zip</th>
		<td><%= @team.zip %></td>
		<th>Email</th>
		<td><%= @team.email %></td>
	</tr>
	</table>