<tr>
	<td width="20px"><input type="checkbox" name="members[]" value="<%= person.id %>" /></td>
	<td><%= person.full_name %></td>
	<td><%= person.current_address.phone %></td>
	<td><%= person.current_address.alternate_phone %></td>
	<td><%= person.current_address.email %></td>
</tr>