<%- hide_total ||= false %>
<div class="dashmodule" id="<%= id %>">
  <div class="moduletitle">
    <h2><%= link_to_function "#{header} <span>-</span>", "toggle('#{id}')" %></h2>
  </div>
  <div class="modulecontent">
    <table align="right">
    <%- stat.keys.sort.each do |k| %>
      <%- if k != "" -%>
      <tr align="right">
        <%- value_str = stat[k].is_a?(Float) ? number_to_percentage(stat[k]) : number_with_delimiter(stat[k]) %>
        <td style="width: 50%"><%= k %></td><td style="width: 50px"><%= value_str %><td/>
      </tr>
      <%- end -%>
    <%- end -%>
    <%- if stat[""].present? %>
      <tr align="right">
        <td style="width: 50%">No value entered</td><td style="width: 50px"><%= number_with_delimiter(stat[""]) %></td><br/>
      </tr>
    <%- end %>
    <%- unless hide_total -%>
      <tr align="right">
        <td style="width: 50%"><b>Total</b></td><td><b><%= number_with_delimiter(stat.values.sum) %></b></td>
      </tr>
    <%- end -%>
    </table>
  </div>
</div>
