<div id="stats">
  <table>
    <tr>
      <td width="50%">
        <%= render :partial => "genders" %>
      </td><td width="50%">
        <%= render :partial => "marital_status" %>
    </tr><tr>
      </td><td width="50%">
        <%= render :partial => "languages" %>
      </td><td width="50%">
        <%= render :partial => "mccs" %>
    </tr><tr>
      </td><td width="50%">
        <%= render :partial => "funding_source" %>
      </td><td width="50%">
        <%= render :partial => "staff_status" %>
    </tr><tr>
      </td><td width="50%">
        <%= render :partial => "position" %>
      </td><td width="50%">
        <%= render :partial => "scope" %>
    </tr><tr>
      </td><td width="50%">
        <%= render :partial => "stage" %>
      </td><td width="50%">
        <%= render :partial => "whq" %>
      </td>
    </tr>
  </table>
</div>
