<div id="stats">
  <%= render :partial => "genders" %>
  <%= render :partial => "marital_status" %>
  <%= render :partial => "languages" %>
  <%= render :partial => "mccs" %>
  <%= render :partial => "funding_source" %>
  <%= render :partial => "staff_status" %>
  <%= render :partial => "position" %>
  <%= render :partial => "scope" %>
  <%= render :partial => "stage" %>
  <%= render :partial => "whq" %>
  <%= render :partial => "demog" %>
  <%= render :partial => "fiscal" %>
  <%= render :partial => "staff_count" %>
</div>
