<div id="stats">
<%= render :partial => "genders" %>
<%= render :partial => "languages" %>
<%= render :partial => "mccs" %>
<%= render :partial => "staff_status" %>
<%= render :partial => "position" %>
<%= render :partial => "scope" %>
</div>
