<%= stylesheet_link_tag "jquery-ui" %>

<table>
<%- @areas_total.keys.sort{ |a1, a2| a1.area <=> a2.area }.each do |area| %>
  <%- count = @areas_total[area] %>
  <tr>
    <td style="width: 200px">
      <%= area.area %>
    </td>
    <td style="width: 100px">
      <%= @areas_present[area] %> of <%= count %><BR/>
    </td>
    <td style="width: 500px"> 
      <div id="<%= area.id %>"></div>
      <%- percent_done = count.to_f > 0 ? (@areas_present[area].to_f / count.to_f * 100).to_i : 0 %>
      <script type="text/javascript">$("#<%= area.id %>").progressbar({ value: <%= percent_done %> });</script>
    </td>
  </tr>
<%- end %>
</table>
