<td><%= number_with_delimiter(@whq["live_exp"]) %></td>
<td><%= number_with_delimiter(@whq["live_dec"]) %></td>
<td><%= number_with_delimiter(@whq["new_grth_mbr"]) %></td>
<td><%= number_with_delimiter(@whq["mvmt_mbr"]) %></td>
<td><%= number_with_delimiter(@whq["mvmt_ldr"]) %></td>
<td><%= number_with_delimiter(@whq["new_staff"]) %></td>
<td class="last"><%= number_with_delimiter(@whq["lifetime_lab"]) %></td>
