<style>
  label {
    padding: 0 10px 0 0;
    width: 50px;
    text-align: right;
    line-height: 24px;
  }
  span.export_container form {
    float: right;
    margin-left: 10px;
    position:relative;
    top:-30px;
  }
</style>


<h3>Submission Area Report</h3>
<br/>

<p><%= label_tag 'Mcc' %>
<%= select_tag :mcc, options_for_select(@mcc_options, params[:mcc]) %></p>
<p><%= label_tag 'Area' %>
<%= select_tag :area_id, options_for_select(@area_options, params[:a].to_i) %></p>
<p><%= label_tag 'Stage' %>
<%= select_tag :stage_id, options_for_select(@stage_options, params[:s].to_i) %></p>
<p><%= label_tag 'Time' %>
<%= select_tag :month, options_for_select(@month_options, params[:m].to_i) %>
<%= select_tag :year, options_for_select(@year_options, params[:y].to_i) %></p>

<span class="export_container">
  <%= button_to "Export all Countries", {:action => "export_submission_countries"}, {:style => "float:left;"} %>
  <%= button_to "Export all Areas", {:action => "export_submission_areas"}, {:style => "float:right;"} %>
</span>

<%- with_str = "'a='+$('#area_id').val()
                +'&y='+$('#year').val()
                +'&m='+$('#month').val()
                +'&s='+$('#stage_id').val()
                +'&mcc='+$('#mcc').val()" %>
<% [:area_id, :year, :month, :stage_id, :mcc].each do |field| %>
  <%= observe_field field,
        :url => { :controller => :global_dashboard, :action => :submission_area_report },
        :loading => "$('#spinner').show(); $('div#tabs').css('opacity', '0.3');", :complete => "$('#spinner').hide(); $('div#tabs').effect('highlight');", :with => with_str
   %>
<% end %>

<br><label><%= spinner %></label><br>

<div id="stats">
  <%= render :partial => "submission_area_report" %>
</div>

<br/><%= link_to "Back to the Global Dashboard", global_dashboard_path %><br/>


<script type="text/javascript">
  $($("span.export_container input").click(function(event){
    event.preventDefault();
    $("<input id='a' type='hidden' name='a' value='"+$("select#area_id").val()+"'>").appendTo($(this).parents('form:first'));
    $("<input id='y' type='hidden' name='y' value='"+$("select#year").val()+"'>").appendTo($(this).parents('form:first'));
    $(this).parents('form:first').submit();
  }));
</script>
