<div class="modulecontent">
  <ul class="groupicon">
    <% @person.all_groups.each do |group| %>
      <li>
        <%- if authorized?(:accept_request, :group_involvements) || 
              authorized?(:decline_requests, :group_involvements) %>
          <%= link_to(group.name, group) %>
          <ul class="requesticon">
            <%= render :partial => 'groups/member_request', :collection => group.requests, 
              :locals => { :source => 'dashboard' } %>
          </ul>
        <%- elsif group.is_interested(@me) -%>
          <%= link_to(group.name, group) %>, Interested
        <%- elsif group.has_requested(@me) -%>
          <%= link_to(group.name, group) %>, Awaiting join request decision
        <%- else -%>
          <%= link_to(group.name, group) %>
        <%- end -%>
      </li>
    <%- end -%>
  </ul>
  <%= link_to 'Join a Group', :controller => "groups", :action => "join"%> 
  &nbsp
  <%- tooltip do -%> 
    Click here to go to the page where you can request joining a group. 
  <%- end -%>
</div>
