<P><b><%= @num_people %></b> people in the <%= @ministry.name %> ministry.</P>

<%- if @group_stats.present? %>
<table border='0' cellpadding='0' cellspacing='0' style='margin-bottom: 10px'>
  <tr>
    <th class="norm dashboard_subtitle"><%= @current_semester.desc.upcase %> GROUPS</th>
    <th class="small center" width='25%'>groups</th>
    <th class="small center" width='25%'>participants</th>
  </tr>
  <%- @group_stats.each do |gt, sem, sem_inv, tot| -%>
    <tr>
      <td><%= gt.pluralize %></td>
      <td class='center'><b><%= sem %></b></td>
      <td class='center'><b><%= sem_inv %></b></td>
  </tr>
  <%- end -%>
</table>
<% else %><P>No groups</P><% end %>

<div class="dashboard_subtitle">LOGINS</div>
<P class="dashboard_stats_indent">
Last 7 days: <b><%= @logins_this_week %></b><BR/>
Last 30 days: <b><%= @logins_this_month %></b><BR/>
</P>

<div class="dashboard_subtitle">TIMETABLE UPDATES</div>
<P class="dashboard_stats_indent">
Last 7 days: <b><%= @tt_last_week %></b><BR/>
Last 30 days: <b><%= @tt_last_month %></b><BR/>
</P>
