<% @site_title = 'Dashboard' -%>
<div class="welcome">
<div class="sectionHeader">
	<h2>Welcome to the Ministry Tracker</h2>
</div><br/>
<%- if @ministry -%>

<div class="hidememessage" style="display:none;">
<p>The first thing you're probably going to want to check out is the "Directory"
tab. The directory tab is the main data entry arena.</p>
<p>The "Profile" tab is all about you. It's where you keep your personal information
up to date. It's also a launching point for managing the different areas of ministry
you're responsible for.</p>
<p>This "Dashboard" area will keep you informed of new features we have added to 
this system, along with any other information we think would be helpful to you.</p>
<div class="closebox" style="display:none;">
  <a href="">Hide this message</a>
</div>
</div>


<div id="dashwrap">

  <div id="col_1">
  
    <div class="dashmodule">
      <div class="moduletitle">
        <h2>Search the Directory</h2>
        <div class="modulecontrols">
          <a href="" class="minmodule"></a>
          <a href="" class="movemodule"></a>
          <a href="" class="closemodule"></a>
        </div>
      </div>
      <div class="modulecontent">
      
        <div class="modulesearchbox">
        <% form_tag(directory_people_path) do %>
        <input type="text" class="searchdash" name="search" />
        <input type="submit" class="searchdashsubmit" value="Search"/><br />
        <%- end -%>
        <% if authorized?(:advanced, :people) %>
        <small><%= link_to('Advanced Search', advanced_people_path()) %></small>
        <% end %>
        </div>
        
        <h6>Recent Searches</h6>
        <div class="lightgray">
          <ul class="searchicon">
            <% @my.searches.each do |search| %>
              <li><%= link_to(search.description, directory_people_path(:search_id => search.id)) %></li>
            <% end %>
          </ul>
        </div>
      
      </div>
    </div>
    
    
    <div class="dashmodule">
      <div class="moduletitle">
        <h2>Quick Tools</h2>
        <div class="modulecontrols">
          <a href="" class="minmodule"></a>
          <a href="" class="movemodule"></a>
          <a href="" class="closemodule"></a>
        </div>
      </div>
      <div class="modulecontent">
        <ul>
          <%- if authorized?(:new) -%>
          <li>
            <%= link_to_remote('Add a student', :url => '/people/add_student',
		                                             :loading => "$('#spinneradd_student').show();",
                                                 :complete => "$('#spinneradd_student').hide();
                                                                show_add_student()",
                        											 	 :method => :get) %>
        		<%= spinner('add_student') %>
          </li>
          <%- end -%>
          <%- if authorized?(:new, :group) -%>
          <li><%= link_to('Create a group', groups_path) %></li>
          <%- end -%>
          <%- if authorized?(:new, :ministry) -%>
          <li><%= link_to('Create a Ministry', '/manage') %></li>
          <%- end -%>
          <li><%= link_to('Go to the Directory', directory_people_path) %></li>
        </ul>
      </div>
    </div>
  
  <div class="clear"></div>
  
  </div><!-- col 1 -->
  
  <div id="col_2">
  
    <div class="dashmodule">
      <div class="moduletitle">
        <h2>My Groups</h2>
        <div class="modulecontrols">
          <a href="" class="minmodule"></a>
          <a href="" class="movemodule"></a>
          <a href="" class="closemodule"></a>
        </div>
      </div>
      <div class="modulecontent">
        <ul class="groupicon">
          <% @my.groups.each do |group| %>
            <li><%= link_to(group.name, group) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  
    
    
    <% if is_ministry_leader %>
    <div class="dashmodule">
      <div class="moduletitle">
        <h2>Statistics</h2>
        <div class="modulecontrols">
          <a href="" class="minmodule"></a>
          <a href="" class="movemodule"></a>
          <a href="" class="closemodule"></a>
        </div>
      </div>
      <div class="modulecontent">
      <ul>
        <li>People in all movements: <%= @people_in_ministries %></li>
        <% @ministry.group_types.each do |gt| %>
          <li>Number of <%= gt.group_type.pluralize %>: <%= gt.groups.count %></li>
        <% end %>
        <li>Movements: <%= @movement_count %></li>
      </ul>
      <br>
      <h6>Newest People</h6>
        <div class="lightgray">
          <ul class="searchicon">
            <% @newest_people.each do |person| %>
              <li><%= link_to(person.full_name, person) %></li>
            <% end %>
          </ul>
        </div>
      
      
      </div>
    </div>
    <% end %>
  
  <div class="clear"></div>
  
  </div><!-- col2 -->

<div class="clear"></div>
</div>



<%- else -%>
<p>You currently aren't associated with any ministry. This could be because the leader of your ministry hasn't put you in the system.
	It could also be because the email address your leader has for you is different from the email address you used to log in.
	<!-- If you think this is the case, please <%#= link_to_remote "click here to try other email addresses." %> -->
	</p>

<%- end -%>
</div>