<% 
unless @mobile
%>

<% content_for :javascripts do %>
  <%= javascript_include_tag "dashboard.js" %>
<% end %>

<% @site_title = 'Dashboard' -%>

<div class="welcome">
<%- if @ministry -%>


<!-- credit for three column layout: http://matthewjamestaylor.com/blog/perfect-3-column.htm -->
<div id="dashwrap" class="colmask threecol">
  <div class="colmid">
    <div class="colleft">


      <div class="col1">

        <div class="dashmodule">
          <div class="moduletitle">
            <h2>My Groups
            <%= spinner('gt') %></h2>
            <div class="modulecontrols">
              <a href="" class="minmodule"></a>
              <a href="" class="movemodule"></a>
              <a href="" class="closemodule"></a>
            </div>
          </div>

          <div id = "groups">
            <%= render :partial => "dashboard/groups" %>
          </div>
        </div>


        <% if @show_my_events %>
        <div class="dashmodule">
          <div class="moduletitle">
            <h2>
              My Events&nbsp;
              <%= image_tag("/images/spinner.gif", :id => "eventsSpinner", :alt => "Spinner") %>
            </h2>
            <div class="modulecontrols">
              <a href="" class="minmodule"></a>
              <a href="" class="movemodule"></a>
              <a href="" class="closemodule"></a>
            </div>
          </div>

          <div id="events">
            <div class="modulecontent" style="min-height: 0px">
              <%= render :partial => 'projects' %>
            </div>
          </div>
        </div>
        <% end %>


        <% if is_ministry_leader %>
        <div class="dashmodule">
          <div class="moduletitle">
            <h2>Stats</h2>
            <div class="modulecontrols">
              <a href="" class="minmodule"></a>
              <a href="" class="movemodule"></a>
              <a href="" class="closemodule"></a>
            </div>
          </div>
          <div class="modulecontent">
            <%= render :partial => "stats" %>
          </div>
        </div>
        <% end %>



        <div class="clear"></div>
      </div><!-- col1 -->


      <div class="col2">
        <div id="verticalTablistContainer">
          <%= image_tag "/images/bracket_vertical_top.png", :class => "top" %>
          <%= tabnav :vertical_main %>
          <%= image_tag "/images/bracket_vertical_bottom.png", :class => "bottom" %>
        </div>
        <div class="clear"></div>
      </div><!-- col2 -->

      
      <div class="col3">

        <% if (is_staff_somewhere || authorized?(:show_total_indicated_decisions, :stats)) && @total_indicated_decisions.present? %>
        <div class="dashmodule">
          <div class="moduletitle">
            <h2>God at Work</h2>
            <div class="modulecontrols">
              <a href="" class="minmodule"></a>
              <a href="" class="movemodule"></a>
              <a href="" class="closemodule"></a>
            </div>
          </div>
          <div class="modulecontent">
            <%= render :partial => "insights" %>
          </div>
        </div>
        <% end %>

        <div class="clear"></div>
      </div><!-- col3 -->
      
      
    </div>
  </div>
</div>



<%- else -%>
<p>You currently aren't associated with any ministry. This could be because the leader of your ministry hasn't put you in the system.
	It could also be because the email address your leader has for you is different from the email address you used to log in.
	<!-- If you think this is the case, please <%#= link_to_remote "click here to try other email addresses." %> -->
	</p>

<%- end -%>
</div>

<%
else #(if the website is viewed from a mobile)
%>
    <ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b"> 
      <li><%= link_to 'Search', url_for(:controller => :search, :action => :index) %></li> 
      <li><%= link_to 'Profile', "/people/#{@me.id}" %></li> 
      <li><%= link_to 'Groups', url_for(:controller => :groups, :action => :index) %></li> 
      <li><%= link_to 'Update Stats', url_for(:controller => :stats, :action => :index) %></li> 
    </ul> 

<%
end
%>