<h1>Event Groups</h1>
<br/>
<table>
  <tr>
    <th><b>Title</b></th>
    <th><b>Description</b></th>
  </tr>

<% @event_groups.each do |event_group| %>
  <tr>
    <td><%=h event_group.title %></td>
    <td><%=h event_group.description %></td>
    <td><%= link_to 'Show', event_group %></td>
    <td><%= link_to 'Edit', edit_event_group_path(event_group) %></td>
    <td><%= link_to 'Destroy', event_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event group', new_event_group_path %>
