<%- if people.length > 0 -%>
	Click on the name of the person you'd like to add:<br />
	<table cellpadding="0" cellspacing="0" class="directorytable">
	  <tr><th>Name</th><th>Email</th><th>Last Logged In</th></tr>
	<%- people.each do |person| -%>
	  <tr class="<%= cycle('nohighlight','highlight') %>">
	    <td>
  		<%- form_tag search_people_url, :id => "person#{person.id}" do -%>
  			<%= hidden_field_tag :group_id, group_id %>
  			<%= hidden_field_tag :person_id, person.id %>
  			<%= hidden_field_tag :level, type %>
  			<%= link_to_remote(person.full_name, :url => group_involvements_url(), 
  												 :method => :post,
  												 :submit => "person#{person.id}") %><br />
  		<%- end -%>
  		</td>
  		<td><%= person.current_address.try(:email) %></td>
  		<td><%= person.try(:user).try(:last_login).present? ? "#{distance_of_time_in_words(Time.zone.now, person.try(:user).try(:last_login))} ago" : "never" %></td>
		</tr>
	<%- end -%>
	</table>
<%- else -%>
	<br />
  <strong>Sorry, I couldn't find anyone by that name. If you are sure the person you're looking for is not in the system yet, <%= link_to_remote "click here to add a student", :url => add_student_people_url, :loading => "$('#spinneradd_student').show();", :complete => "$('#spinneradd_student').hide(); show_add_student()", :method => :get %>
  </strong>
<%- end -%>
