<% content_for :javascripts do %>
  <%= javascript_include_tag "fbconnect" %>
<% end %>
<script type="text/javascript" charset="utf-8">
  function log_in() {
    $('#spinner').show();
    $.ajax({data:$.param($('#login_form').serializeArray()), dataType:'script', type:'post', url:'<%= url_for :action => "create" %>'});
  }
  $(function() {
    $('#password').keydown(function(event){
      if (event.keyCode == 13) {
        log_in();
      }
    });
    $('#username').keydown(function(event){
      if (event.keyCode == 13) {
        $('#password').focus();
      }
    });
  })
</script>
 
<div class="clearfix">
  <% form_tag session_path, :id => 'login_form', :enctype => "application/x-www-form-urlencoded" do -%>
  <!--<form enctype="application/x-www-form-urlencoded" method="post" action="https://signin.mygcx.org/cas/login?service=<%= new_session_url %>" class="right" id="form_login">-->
  <!-- <div class="login_prompt"><b>Login</b>:</div> -->
  <div class="login_sector">
    <div class="clearfix">
      <label for="username">Username:</label>
      <%= text_field_tag('username', params[:username], :class => "inputtext") %>
    </div>
    <div class="clearfix">
      <label for="password">Password</label>
      <%= password_field_tag('password', '', :class => "inputtext") %>
    </div>
 
    <div class="clearfix">
      <label for="remember_me">Remember me:</label>
      <%= check_box_tag 'remember_me', 1, false, :class => "inputcheck" %>
    </div>
    
   <p><%= submit_to_remote 'login_btn', 'Log in', :url => { :action => 'create' }, :before => "$('#spinner').show()" %> <%= spinner %></p>
  </form>
  <% end -%>
</div>
  
<% unless params[:fb_user] %>
<div class="login_sector_fb">
<div class="login_prompt">Or <b>login</b> with Facebook:</div>
  <%= fb_login_button('facebook_onlogin_ready()')%>

</div>
</div>
<% end %>