<%
unless @mobile
%>

  <% cache([I18n.locale, flash[:notice]]) do %>

    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
           "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
      <head>
        <meta http-equiv="X-UA-Compatible" />
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <link rel="Shortcut Icon" href="/favicon.ico">

        <title>
          <%= @site_title + ' | ' if @site_title -%>
          <% if t('misc.web_title') %>
            <%= t('misc.web_title') %>
          <% elsif Cmt::CONFIG[:web_title] %>
            <%= Cmt::CONFIG[:web_title] %>
          <% else %>
            Campus Movement Tracker
          <% end %>
        </title>

        <%= stylesheet_link_tag "special_login", :media => "screen", :cache => "cache/special_login" %>
        <%= locale_stylesheet_link_tag %>
      </head>
      <body>

        <div class="messages">
          <!--[if lt IE 8]>
            <div id='browser_warning'>
              <%= image_tag("exclamation.gif") %>
              <b>You are using an outdated browser (<%= link_to "what's a browser?", "http://www.whatbrowser.org/", :target => "_blank" %>)</b><br/>
              For a faster, safer browsing experience, upgrade for free to one of these browsers today:<br/>

              <%= link_to image_tag("browser_chrome_small.gif", :alt => "Google Chrome"), 'http://www.google.com/chrome', :title => "Google Chrome" %>
              <%= link_to image_tag("browser_firefox_small.gif", :alt => "Firefox"), 'http://www.mozilla.com/firefox/', :title => "Firefox" %>
              <%= link_to image_tag("browser_safari_small.gif", :alt => "Safari"), 'http://www.apple.com/safari/', :title => "Safari" %>
              <%= link_to image_tag("browser_ie_small.gif", :alt => "Internet Explorer"), 'http://www.microsoft.com/windows/internet-explorer/', :title => "Internet Explorer" %>
            </div>
          <![endif]-->

          <div class="flash notice" id="flash_notice" <%= "style=\"display:none;\"" unless flash[:notice] %>><%= flash[:notice] %></div>
        </div>

        <div id="logo_container" class="signup">
          <div id="p2c_pulse_logo"></div>
          <%= link_to switch_languages_text, switch_languages_url(:switch_domain => true), :id => 'switch_language', :class => 'action-button' %>
        </div>

        <div id="banner_container" class="signup">
          <a id="leftBubble" href="<%= signup_url %>" alt="Join a Group (no need to login!)">
            <span id="leftBubbleImg">&nbsp;</span>
          </a>
          <a id="rightBubble" href="https://thekey.me/cas/login.htm?service=<%= new_session_url %>" alt="Sign In">
            <span id="rightBubbleImg">&nbsp;</span>
          </a>
        </div>

        <div id="footer_container">
          <div id="pulseExplain">&nbsp;</div>
          <%= link_to '<span id="createLoginImg">&nbsp;</span>', new_gcx_url, :id => "create_logon" %>
          <%= link_to '<span id="helpImg">&nbsp;</span>', "http://getsatisfaction.com/powertochange", :id => "help_link" %>
        </div>
    	</body>
    </html>

  <% end %>


<%
else
%>
    <ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b">
      <li><a href="https://thekey.me/cas/login.htm?service=<%= new_session_url %>">Sign In</a></li>
      <li><%= link_to 'How to Sign Up', new_gcx_url %></li>
      <li><%= link_to 'Help', "http://getsatisfaction.com/powertochange" %></li>
    </ul>
<%
end
%>
