<%- show_form = Cmt::CONFIG[:gcx_direct_logins] || Cmt::CONFIG[:local_direct_logins] -%>
<%- if Cmt::CONFIG[:gcx_greenscreen_from_link] -%>
  <%- unless show_form %><br /><%- end -%>
  <div class='login_sector' style='text-align: center'>
    <br/>
    <%= link_to image_tag('GCX-logo.gif', :height => '68px', :width => '100px', 
                          :style => 'vertical-align: middle'),
      CASClient::Frameworks::Rails::Filter.login_url(controller) %>
      &nbsp; &nbsp; &nbsp;
    <%= link_to 'Login with GCX', CASClient::Frameworks::Rails::Filter.login_url(controller) %>
    <br/>
    <%= link_to 'Create an Account', new_gcx_url %>
  </div>
  <div class='login_info'>
    <%= I18n.t :GCX_login_info, :default => '' %>
  </div>
  <%- if show_form -%>
    <br/>
    <div id="local_form">
      <%= render :partial => 'local_form' %>
    </div> 
  <%- end -%>
<%- else -%>
  <div id="local_form">
    <br/>
    <%= render :partial => 'local_form' %>
  </div> 
<%- end-%>
