<br/>

<%- if logged_in? -%>
<P>
<B><I>You're already logged in as <%= @me.full_name %>!  You can begin using the <%= I18n.t(:app_name) %> by going to the <%= link_to 'Dashboard', "#{request.protocol}#{request.host_with_port}" %>.
</I></B>
</P>
<%- end -%>

<p>
<%= t("signup.explanation") %>
</p>

<p>
<%= t("signup.to_signup") %>
</p>

<style>
  #login_instructions li {
    list-style-type: decimal;
  }
</style>

<ol id="login_instructions">
  <li><a href="https://thekey.me/cas/service/selfservice?target=signup" target='blank'><%= t("signup.click_here") %></a> <%= t("signup.new_window") %></li>
  <li><strong><%= t("signup.wait") %></strong></li>
  <li><%= I18n.t("signup.back", :url => "#{request.protocol}#{request.host_with_port}") %></li>
  <li><%= I18n.t("signup.click_to_login") %></li>
</ol>
<br/>
<p><%= t("signup.help_txt") %>
