<table width="60%" border="0" cellspacing="2" cellpadding="5">
	<tr>
		<th>Address</th>
		<td><%= @bible_study.address %></td>
		<th>State</th>
		<td><%= @bible_study.state %></td>
		<th>Website</th>
		<td><%= @bible_study.url %></td>
	</tr>
	<tr>
		<th>City</th>
		<td><%= @bible_study.city %></td>
		<th>Zip</th>
		<td><%= @bible_study.zip %></td>
		<th>Email</th>
		<td><%= @bible_study.email %></td>
	</tr>
	</table>