<% form_tag(directory_people_path) do %>
  Year in School: <br/>
  <%= select_tag 'school_year[]', options_for_select(SchoolYear.find(:all).collect {|sy| ["(#{sy.name} #{sy.level})", sy.id]}, @options["school_year"]), :multiple => true %>
  <br/>  
  Gender:
  <ul>
    <% ['1','0'].each do |gender| %>
      <li>
        <%= check_box_tag "gender[]", gender, @options["gender"] && @options["gender"].include?(gender) %>
        <%= Person.human_gender(gender) %> 
      </li>
    <% end %>
  </ul>
  <br/> 
  Ministry: <br/>
  <%= select_tag 'ministry[]', options_for_select(@my.ministries.collect {|ministry| [ministry.name, ministry.id]}, @options["ministry"]), :multiple => true %>
  <br/>
  Campus: <br/>
  <%= select_tag 'campus[]', options_for_select(@campuses.collect {|campus| [campus.name, campus.id]}, @options["campus"]), :multiple => true %>
  <br/>
  First Name: <%= text_field_tag :first_name, @options['first_name'] %>
  Last Name: <%= text_field_tag :last_name, @options['last_name'] %>
  <br/>
  Email: <%= text_field_tag :email, @options['email'] %><br/>
  
  <%= submit_tag 'Search' %>
<% end %>