<%- params.merge(@options) if @options.present? -%>
<% form_tag(directory_people_path) do %>
  Year in School:
  <ul>
    <% SchoolYear.find(:all).each do |sy| %>
      <li>
        <%= check_box_tag "school_year[]", sy.id, params[:school_year] && params[:school_year].include?(sy.id.to_s) %>
        <%= sy.name %> 
        <%= "(#{sy.level})" if sy.level.present? %>
      </li>
    <% end %>
  </ul>
  <br/>  
  Gender:
  <ul>
    <% ['1','0'].each do |gender| %>
      <li>
        <%= check_box_tag "gender[]", gender, params[:gender] && params[:gender].include?(gender) %>
        <%= Person.human_gender(gender) %> 
      </li>
    <% end %>
  </ul>
  <br/> 
  Ministry:
  <ul>
    <% @my.ministries.each do |ministry| %>
      <li>
        <%= check_box_tag "ministry[]", ministry.id, params[:ministry] && params[:ministry].include?(ministry.id) %>
        <%= ministry.name %> 
      </li>
    <% end %>
  </ul>
  <br/>
  Campus:
  <ul>
    <% @campuses.sort.each do |campus| %>
      <li>
        <%= check_box_tag "campus[]", campus.id, params[:campus] && params[:campus].include?(campus.id) %>
        <%= campus.name %> 
      </li>
    <% end %>
  </ul>
  <br/>
  <%= submit_tag 'Search' %>
<% end %>