<% form_tag(directory_people_path(:format => 'html')) do %>
  <div class="adfieldbox">
    <big>First Name<br /></big>
    <%= text_field_tag :first_name,
      @options['first_name'],
      :class => 'wide'
    %>
  </div>
  
  <div class="adfieldbox">
    <big>Last Name<br /></big>
    <%= text_field_tag :last_name,
      @options['last_name'],
      :class => 'wide'
    %>
  </div>
  
  <div class="adfieldbox">
    <big>Gender<br /></big>
    <% ['1','0'].each do |gender| %>
        <%= check_box_tag "gender[]",
          gender,
          @options["gender"] && @options["gender"].include?(gender)
        %>
        <%= Person.human_gender(gender) %> &nbsp;&nbsp;
    <% end %>
  </div>
  
  <div class="adfieldbox">
    <big>Email<br /></big>
    <%= text_field_tag :email,
      @options['email'],
      :class => 'wide'
    %>
  </div>
  
  <div class="clear" style="margin-bottom:15px;"><br/></div>
  
  <div class="adfieldbox">
    <big>Year in School</big>
    <%- tooltip do -%>
      Pressing Ctrl/Command will help selecting and deselecting multiple years.
    <%- end -%>
    <br/>
    
    <%= select_tag 'school_year[]',
      options_for_select(SchoolYear.find(:all).collect {|sy| [sy.name, sy.id.to_s]},
        @options["school_year"]),
      :multiple => true, :class => "multiSelect"
    %>
  </div>

  <div class="adfieldbox">
    <big>Ministry</big>
    <%- tooltip do -%>
      Pressing Ctrl/Command will help selecting and deselecting multiple ministries.
    <%- end -%>
    <br/>
    
    <%
      ministries_for_select = @ministries.collect {|ministry| [ministry.name, ministry.id.to_s]}
      ministries_for_select.sort! {|a,b| a[0] <=> b[0]}
    %>
    <%= select_tag 'ministry[]',
      options_for_select(ministries_for_select, @options["ministry"]),
      :multiple => true,
      :class => 'wide', :class => "multiSelect"
    %>
  </div>
    
  <div class="adfieldbox">
    <big>Campus</big>
    <%- tooltip do -%>
      Pressing Ctrl/Command will help selecting and deselecting multiple campuses.
    <%- end -%>
    <br/>
    
    <%= select_tag 'campus[]',
      options_for_select(
        @campuses.collect {|campus| [campus.name, campus.id.to_s]},
          @options["campus"]),
      :multiple => true,
      :class => "doublewide multiSelect"
    %>
  </div>

  <div class="adfieldbox">
    <big>Role</big>
    <%- tooltip do -%>
      Pressing Ctrl/Command will help selecting and deselecting multiple roles.
    <%- end -%>
    <br/>
    
    <% #options_for_select(MinistryRole.find(:all, :order => "type ASC, position ASC").collect {|r| [r.name, r.id.to_s]}, %>
    <%  #grouped_options = {'North America' => [['United States','US'], 'Canada'], 'Europe' => ['Denmark','Germany','France'] }  %>

    <%
    grouped_options = {}
    grouped_options[StaffRole.human_name_plural] = StaffRole.find(:all, :order => "type ASC, position ASC").collect{|r| [r.name, r.id.to_s]}
    grouped_options[StudentRole.human_name_plural] = StudentRole.find(:all, :order => "type ASC, position ASC").collect{|r| [r.name, r.id.to_s]}
    %>

    <%= select_tag 'role[]',
        grouped_options_for_select(grouped_options, @options["role"]),
        :multiple => true, :class => "multiSelect"
    %>
  </div>


  <div class="clear" style="margin-bottom:15px;"><br/></div>
  
  <%= submit_tag 'Search' %>
  <%= link_to_function "Back to Basic Search",
    "$('#basic_search').show();$('#advanced_search').hide();"
  %>
<% end %>
