<table class="halftab">
	<tr>
		<th>First Name</th>
		<td><%= text_field :person, :first_name %></td>
	</tr>
	<tr>
		<th>Last Name</th>
		<td><%= text_field :person, :last_name %></td>
	</tr>
	<tr>
		<th>Email</th>
		<td><%= text_field :current_address, :email %></td>
	</tr>
	<tr>
		<th>Date of Birth</th>
		<td class="date">
			<%=
				start_year = Date.today.year
  	        	end_year = start_year - 100
    	      	f.date_select :birth_date, {
    	        	:include_blank => true,
    	        	:start_year => start_year,
    	        	:end_year => end_year,
    	        	:ifFormat => (I18n.t 'date.formats.default')};
          	%>
		</td>
	</tr>
	<tr>
		<th>Gender</th>
		<td>
			<%=
				f.select :gender,
					[['Male', 1],['Female', 0]], :selected => @person.gender.to_i
			%>
		</td>
	</tr>
	
	<%- if Cmt::CONFIG[:facebook_connectivity_enabled] -%>
   <%- fields_for user do |uf| -%>
    <tr>
      <th>Facebook&trade;</th>
	   <td><%= uf.text_field :facebook_username %></td>
	  </tr>
	  <%- end if user -%>
	<%- end -%>  
	
	
</table>
