<table class="halftab">
	<tr>
    <th><%= t('profile.headings.first_name') %></th>
		<td><%= text_field :person, :first_name %></td>
	</tr>
	<tr>
    <th><%= t('profile.headings.last_name') %></th>
		<td><%= text_field :person, :last_name %></td>
	</tr>
	<tr>
    <th><%= t('profile.headings.email') %></th>
		<td><%= text_field :current_address, :email %></td>
	</tr>
	<tr>
    <th><%= t('profile.headings.date_of_birth') %></th>
		<td class="date">
			<%=
				start_year = Date.today.year
        end_year = start_year - 100
        f.date_select :birth_date, {
          :include_blank => true,
          :start_year => start_year,
          :end_year => end_year,
          :ifFormat => (I18n.t 'date.formats.default')};
        %>
		</td>
	</tr>
	<tr>
    <th><%= t('profile.headings.gender') %></th>
		<td>
			<%=
				f.select :gender,
					[[t('misc.genders.male'), '1'],[t('misc.genders.female'), '0']], :selected => @person.gender_us_id 
			%>
		</td>
	</tr>
	
	<%- if Cmt::CONFIG[:facebook_connectivity_enabled] -%>
   <%- fields_for user do |uf| -%>
    <tr>
      <th>Facebook&trade;</th>
	   <td><%= uf.text_field :facebook_username %></td>
	  </tr>
	  <%- end if user -%>
	<%- end -%>  
	
	
</table>
