	<strong>Current Address</strong><br />
	<table>
	<tr>
		<td>Address 1: </td>
		<td><%= text_field :current_address, :address1 %></td>
	</tr>
	<% if @use_address2 -%>
	<tr>
		<td>Address 2: </td>
		<td><%= text_field :current_address, :address2 %></td>
	</tr>
	<% end -%>
	<tr>
		<td>City: </td>
		<td><%= text_field :current_address, :city %></td>
	</tr>
	<tr>
		<td>State: </td>
		<td><%= select :current_address, :state, options_from_collection_for_select(@states, 'id','name') %></td>
	</tr>
	<tr>
		<td>Zip: </td>
		<td><%= text_field :current_address, :zip %></td>
	</tr>
	<tr>
		<td>Main Phone: </td>
		<td><%= text_field :current_address, :phone %></td>
	</tr>
	<tr>
		<td>Second Phone: </td>
		<td><%= text_field :current_address, :alternate_phone %></td>
	</tr>
	</table>
	
