<table class="halftab">
	<tr>
		<th>Phone</th>
		<td><%= text_field :current_address, :phone %></td>
	</tr>

	<tr>
		<th>Alt Phone</th>
		<td><%= text_field :current_address, :alternate_phone %></td>
	</tr>

	<tr>
  <th>Address<% if @use_address2 %> 1:<% end %></th>
		<td><%= text_field :current_address, :address1 %></td>
	</tr>

  <% if @use_address2 %>
	<tr>
		<th>Address 2:</th>
		<td><%= text_field :current_address, :address2 %></td>
	</tr>
  <% end %>

	<tr>
		<th>City: </th>
		<td><%= text_field :current_address, :city %></td>
	</tr>
	<tr>
		<th>Country:</th>
		<td>
			<%= select :current_address, :country, countries, :prompt => true %>
      <%= observe_field(:current_address_country, {
        :url => { :action => "set_current_address_states" },
        :with => 'current_address_country',
        :before => "$('#spinnerp').show()"})
      %>
    </td>
  </tr>
	<tr>
		<th><%= I18n.t :State, :default => 'State' %>:</th>
		<%= render :partial => 'current_address_state_dropdown', 
				:locals => { :states => states }
		%>
	</tr>
  <tr>
    <th><%= I18n.t :Zip, :default => 'Zip' %>:</th>
    <td><%= text_field :current_address, :zip %></td>
  </tr>

  <%- dorm_selection = dorms.empty? ? [] : dorms.collect {|d| d.name }.insert(0, '') -%>
<tr>
  <th>Dorm: </th>
  <td><%= select :current_address, :dorm, dorm_selection %></td>
</tr>

<tr>
  <th>Room:</th>
  <td><%= text_field :current_address, :room %></td>
</tr>
<tr>
  <th>Valid from</th>
  <td class="date">
    <%=
        start_year = Date.today.year - 5
    end_year = start_year + 5
    date_select :current_address, :start_date, {
      :include_blank => true,
      :start_year => start_year,
      :end_year => end_year }
    %>
  </td>
</tr>
<tr>
  <th>Valid until</th>
  <td class="date">
    <%=
    start_year = Date.today.year - 5
    end_year = start_year + 5
    date_select :current_address, :end_date, {
      :include_blank => true,
      :start_year => start_year,
      :end_year => end_year }
    %>
  </td>
</tr>
</table>
