<% has_primary_campus_involvement = !@person.primary_campus_involvement.nil? %>
<%= error_messages_for :person, :current_address, :perm_address, :ci, :mi %>
<% remote_form_for @person, :url => person_url(@person, :set_campus_requested => params[:set_campus_requested]), :method => :put do |f| %>

  <table width="100%" border="0" cellspacing="0" cellpadding="5" class="address editpad">

    <!-- Render the person's basic information -->
    <tr>	
      <td>
        <%= render :partial => 'basic_person_information',
          :locals => { :f => f, :person => @person, :user => @person.user}
        %>
      </td>
      <td class="spacer">&nbsp;</td>
      <td>
        Primary campus:
        <%= select :person, :primary_campus_involvement_id, options_for_select(@person.campus_involvements.collect{ |ci| [ ci.campus.name, ci.id ] }) %>
      </td>
    </tr>

    <!-- Render the address blocks -->
    <tr>
      <td><h4 class="title">Current Address</h4></td>
      <td class="spacer">&nbsp;</td>
      <td><h4 class="title">Permanent Address</h4></td>
    </tr>
    <tr>
      <td>
          <%= render :partial => 'current_address',
            :locals => {
            :dorms => @dorms,
            :states => current_address_states,
            :current_address_country => current_address_country,
            :countries => countries }
        %>
      </td>
      <td class="spacer">&nbsp;</td>
      <td>
        <%= render :partial => 'permanent_address',
          :locals => {
          :countries => countries,
          :permanent_address_country => permanent_address_country,
          :states => permanent_address_states }
      %>
      </td>
    </tr>
  </table>
<br />

<!-- Buttons at the bottom -->
<%= submit_tag "Save" %> or
<% if request.xhr? %>or <% unless Cmt::CONFIG[:person_edit_in_thickbox] %><%= link_to_function 'cancel', "$('#edit_info').hide();$('#info').show()", :class => 'cancel'%><% else %><a id="TB_closeWindowButton" href="#">cancel</a><% end %><% end %>
<% end -%>
