<% has_primary_campus_involvement = !@person.primary_campus_involvement.nil? %>
<%= error_messages_for :person, :current_address, :perm_address %>
<% remote_form_for @person, :url => person_url(@person), :method => :put  do |f| %>
  
  <%-# If the country field is set, get campuses from the country %>
  <% if @country %>
  	<table width="100%" border="0" cellspacing="0" cellpadding="5" class="address editpad">
  		<tr>
  		  	<td>
  		    	<table class="halftab">
  			    	<tr>
  						<th>Primary Campus:</th>
  						<td><%= render :partial => 'campus_dropdown'  if @campuses %></td>
  					</tr>
  			    	<tr>
  						<th>&nbsp;</th>
  						<td>&nbsp;</td>
  					</tr>
  		    	</table>
  		  	</td>
   	
  		  	<td class="spacer">&nbsp;</td>
   
  		  	<td>
  			    <%- fields_for :primary_campus_involvement do |cif| -%>
  			    	<table class="halftab">	
  				      	<tr>
  							<th>Pick a state:</th>
  							<td class="date">
  								<%= select_tag :state,
  										options_from_collection_for_select(
  											@states, 'id', 'name')
  								%>
  								<%= observe_field(
  										:state, {
  											:url => get_campuses_people_path,
  											:with => 'state',
  											:before => "$('#spinnerp').show()"})
  								%>
  							</td>
  						</tr>
  			    	</table>
  			  	<%- end -%>
  		  	</td>
  		</tr>
  	</table>
	<%- end -%>  
	<%= submit_tag "Save" %> or
	<%= link_to_function 'cancel',
			"$('#edit_info').hide();$('#info').show()",
			:class => 'cancel'
	%>
