<table class="halftab">
  <%- if @primary_campus_involvement.present? && !@primary_campus_involvement.new_record? %>
  <tr>
    <th><%= t('profile.headings.grad_date') %></th>
    <td><%= date_select :primary_campus_involvement, :graduation_date %></td>
  </tr>
  <%- end -%>
	<tr>
    <th><%= t('profile.headings.major') %></th>
		<td><%= text_field :person, :major %></td>
	</tr>
	<tr>
    <th><%= t('profile.headings.minor') %></th>
		<td><%= text_field :person, :minor %></td>
	</tr>
</table>
