<div class="profileImage">
  <%= spinner(nil, nil, "default/shared/large-loading.gif") %>
  <div class="profilePictureWrapper">
  <%- if @person.profile_picture.nil? -%>
    
    <%- if Cmt::CONFIG[:profile_picture_enabled] -%>
      <%= image_tag 'no_photo.png', :size => '200x200', :class => "profilePicture" %>
        <%- if authorized?(:edit, :people) -%>
	    <div id="profileCaption">
	      <%= link_to_function "#{image_tag 'debicons/Wpencil.png'} Change Picture", "show_upload_picture()"  %>
	    </div>
	    <%- end -%>
	  <%- else -%>
      <%= image_tag 'photo_coming.png', :size => '200x200', :class => "profilePicture" %>
	  <%- end -%>
  <%- else -%>
    <%= image_tag(@person.profile_picture.public_filename(:medium), :class => "profilePicture") %>
    <%- if Cmt::CONFIG[:profile_picture_enabled] -%>
        <%- if authorized?(:edit, :people) -%>
	      <div id="profileCaption">
	        <%= link_to_function "#{image_tag 'debicons/Wpencil.png'} Change", "show_upload_picture()"  %>
	        &nbsp;
      	  <%= link_to_remote("#{image_tag 'debicons/Wremoveicon.png'} Delete",
      	                     :url => profile_picture_url(:id => @person.profile_picture.try(:id), :person_id => @person.id),
                         	   :confirm => "Delete your profile picture?",
                             :method => :delete,
                             :before => "$('#spinner').show()") %>
	      </div>
	    <%- end -%>
	  <%- end -%>
  <%- end -%>
  </div>
</div>
