<% if authorized?(:index, :search) %>
  <% if (authorized?(:people, :search) && authorized?(:show, :people) && authorized?(:search, :people) && authorized?(:add_mentor, :people)) %>

    <div id="uberMentorSearchContainer">
      <% default_search_box_text = "search" %>

      <div id="uberMentorSearchBoxContainer">
        <% form_tag url_for(:controller => :search), :method => 'get' do %>

          <%  if controller.controller_name == "search" && (controller.action_name == "people") %>
            <input type="text" id="uberMentorSearchBox" class="search" name="q" value="<%= q %>"/>
          <% else %>
            <input type="text" id="uberMentorSearchBox" class="search" name="q" value="<%= default_search_box_text %>"/>
          <% end %>

        <% end %>
      </div>

      <%= javascript_include_tag "jquery.ajaxQueue.js" %>
      <%= javascript_include_tag "jquery.autocomplete.js" %>
      <script>
        $("#uberMentorSearchBox").autocomplete("/search/autocomplete_mentors/?p="+<%= person.id %>+"", {
					resultsClass: "alt_ac_results",
          minChars: 2,
          selectFirst: false,
          matchContains: true,
          autoFill: false,
          scroll: false,
          cacheLength: 10,
          matchSubset: false,
          width: 255,
          delay: 400,
          formatItem: function(data, i, n, value) {
            return value;
          },
          formatResult: function(data, value) {
            // find the name, it's inside the div with id autoCompleteName
            indexOfId = value.indexOf('autoCompleteName');
            return value.substring(value.indexOf('>', indexOfId)+1, value.indexOf('<', indexOfId));
          },
          formatMatch: function(data, i, n, value) {
            // not sure if this is ever called... but we don't want to match code, just the name
            // find the name, it's inside the div with id autoCompleteName
            indexOfId = value.indexOf('autoCompleteName');
            return value.substring(value.indexOf('>', indexOfId)+1, value.indexOf('<', indexOfId));
          }
        }).result(function(event, info) {
					var selectedRow = info[0];
					indexOfId = selectedRow.indexOf('hiddenMentorID');
					mentor_id = selectedRow.substring(selectedRow.indexOf('>', indexOfId)+1, selectedRow.indexOf('<', indexOfId));
          location.href = "/people/"+<%= person.id %>+"?m="+mentor_id;
        });


        <% if session[:search].nil? || session[:search][:search_prepared].nil? %>
        var prepare = function() {
          jQuery.ajax({
            dataType:'script',
            type:'get',
            url: 'people/prepare'});
          $('#uberMentorSearchBox').unbind('mouseover', prepare);
          $('#uberMentorSearchBox').unbind('focus', prepare);
        };

        $('#uberMentorSearchBox').bind('mouseover', prepare);
        $('#uberMentorSearchBox').bind('focus', prepare);
        <% end %>


        $(document).ready(function() {
          var fields = jQuery("#uberMentorSearchBox");
          for (var i = 0; i < fields.length; i++) {
            fields[i].onfocus = function() {
              this.className += ' focused'; // so we can style focused input elements in IE
              if(this.value=='<%= default_search_box_text %>') this.value='';
            }
            fields[i].onblur = function() {
              this.className = this.className.replace('focused', '');
              if(this.value=='') this.value='<%= default_search_box_text %>';
            }
          };
          
        });
      </script>
    </div>

  <% end %>
<% end %>
