<table class="halftab">
	<tr>
		<th>Phone</th>
		<td><%= text_field :perm_address, :phone %></td>
	</tr>
	<tr>
		<th>Address 1:</th>
		<td><%= text_field :perm_address, :address1 %></td>
	</tr>
	<tr>
		<th>Address 2:</th>
		<td><%= text_field :perm_address, :address2 %></td>
	</tr>
	<tr>
		<th>City: </th>
		<td><%= text_field :perm_address, :city %></td>
	</tr>
	<tr>
		<th>State:</th>
		<td><%= text_field :perm_address, :state %></td>
		</tr>
	<tr>
		<th>Zip:</th>
		<td><%= text_field :perm_address, :zip %></td>
	</tr>
</table>