<%- fields_for :primary_campus_involvement do |cif| -%>
  <table class="halftab">
    <tr id='campus_country' style='<%= "display:none;" if @campus_state %>'>
      <th>Country</th>
      <td><%= select_tag :primary_campus_country_id, render(:partial => 'campus_country_options') %></td>
      <%= observe_field(:primary_campus_country_id, {
        :url => get_campus_states_people_path,
        :with => 'primary_campus_country_id',
        :before => "$('#spinnerp').show()"})
      %>
    </tr>
    <tr id='campus_state' style='<%= "display:none;" if @campus_state %>'>
      <th>State</th>
      <td><%= select_tag :primary_campus_state_id, render(:partial => 'campus_state_options') %>
        <br/>
        <span id="campus_country_filter">Filtered by <%= @campus_country.try(:country) %>.</span>  <%= link_to_function(t(:person_campus_change_country, 
                               :default => 'change to a different country'), 
                           "$('#campus_state').hide();$('#campus_country').show();") %>
        <%= observe_field(:primary_campus_state_id, {
          :url => get_campuses_people_path,
          :with => 'primary_campus_state_id',
          :before => "$('#spinnerp').show()"})
        %>
      </td>
    </tr>
    <tr id='campuses' style='<%= "display:none;" unless @person.primary_campus %>'>
      <th>Campus</th>
      <td>
        <%= render :partial => 'campus_dropdown' %>
        <br/>
        <span id='campus_state_filter'>Filtered by <%= @campus_state.try(:name) %>.</span>  <%= link_to_function(t(:person_campus_change_state, 
                               :default => 'change to a different state'), 
                           "$('#campuses').hide();$('#campus_state').show();") %>
      </td>
    </tr>
    <tr>
      <th>Year</th>
      <td><%= cif.select :school_year_id, school_year_options %></td>
    </tr>
    <tr>
      <th>Grad Date</th>
      <td class="date"><%= cif.date_select(:graduation_date, date_options(1980)) %></td>
    </tr>
    <tr>
      <th>Major</th>
      <td><%= cif.text_field :major %></td>
    </tr>
    <tr>
      <th>Minor</th>
      <td><%= cif.text_field :minor %></td>
    </tr>
    <tr><th>Responsible Person</th><td>
      <%= select_tag :responsible_person_id, options_from_collection_for_select(@possible_responsible_people, 'id', 'full_name') %>
    </td></tr>
  </table>
<%- end -%>
