<h3><%= @person.primary_campus.try(:name) %>&nbsp;</h3>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="address">
<tr>

	<td>
	  <table class="halftab">
    	<tr>
    	  <th width="120px">Email</th>
    	  <td width="200px">
    	    <%= @current_address.email if @current_address %>
    	  </td>
    	</tr>
    	
    	<%- # If the person is under 21, show their full birthdate. Otherwise just show the day/month 
    	  format = @person.birth_date < 21.years.ago.to_date ? :short_ordinal : :long_ordinal if @person.birth_date -%>
    	<tr><th>Birth Day</th><td><%= format_date(@person.birth_date, format) %></td></tr>
    	<tr><th>Gender</th><td><%= @person.human_gender %></td></tr>
  		<%- if @person.user  -%>
      	<tr>
      	  <th>Facebook&trade;</th>
      	  <td><%= @person.user.facebook_username.present? ? @person.user.facebook_username : 'Click "Edit Information" to link your Facebook Account' %></td>
      	</tr>
      <%- end -%>
      
      <tr><th>People Responsible For</th><td>
        <%- if @people_responsible_for -%>
          <%- @people_responsible_for.each do |person| -%>
            <%= link_to person.full_name, person_url(person.id) %>
            <br>
          <%- end -%>
        <%- end -%>
      </td></tr>
      
      
	  </table>
	</td>
	
	<td class="spacer">&nbsp;</td>
	
	<td>
	  <table class="halftab">
    	<tr><th width="100px">Year in School</th><td><%= @person.most_recent_involvement.try(:school_year).try(:description) %></td></tr>
    	<tr><th>Graduation Date</th><td><%= format_date(@person.most_recent_involvement.try(:graduation_date)) %></td></tr>
    	<tr><th>Major</th><td><%= @person.most_recent_involvement.try(:major) %></td></tr>
    	<tr><th>Minor</th><td><%= @person.most_recent_involvement.try(:minor) %></td></tr>
	<tr><th>Responsible Person<th><td> 
    <% if @person.responsible_person %>
	    <%= link_to @person.responsible_person.full_name, person_url(@person.responsible_person.id) %>
    <% end %>
	</td></tr>
	
    	<%- if !@person.url.blank?
    	      desc, url = parse_url(@person.url) -%>
    	<tr><th>Website</th><td><%= link_to(desc, url, :target => '_blank')  %></td></tr>
    	<%- end -%>
	  </table>
	</td>

</tr>

<tr>
	<td colspan="1"><h4 class="title">Current Address</h4></td>
	<td class="spacer">&nbsp;</td>
	<td colspan="1"><h4 class="title">Permanent Address</h4></td>
</tr>

<tr>
<td>
	
	<table class="halftab">
	<tr><th width="150">Phone</th><td><%= @current_address.phone if @current_address %></td></tr>
	<tr><th>Alternate Phone</th><td><%= @current_address.alternate_phone if @current_address %></td></tr>
	<tr><th>Address</th><td><%= @current_address.mailing if @current_address %></td></tr>
	<tr><th>&nbsp;</th><td><%= @current_address.dorm if @current_address %> <%= "Room " + @current_address.room unless @current_address.nil? || @current_address.room.to_s.empty? %></td></tr>
	<tr>
	  <th>Valid from</th>
	  <td>
	    <%=
	      format_date(@current_address.start_date) if @current_address
	    %>
	    <%
	      unless @perm_address.nil? || @perm_address.start_date.to_s.empty?
	    %> &mdash;
	    <%=
	      format_date(@current_address.end_date) if @current_address
	    %>
	    <% end  %>
	  </td>
	</tr>
	</table>

</td>
<td class="spacer">&nbsp;</td>
<td>
	<table class="halftab">
		<tr>
		  <th width="150">Phone</th>
		  <td>
		    <%=
		      @perm_address.phone if @perm_address
		    %>
		  </td>
		</tr>
		
		<tr>
		  <th>Address</th>
		  <td>
		    <%=
		      @perm_address.mailing if @perm_address
		    %>
		  </td>
		</tr>
		
	</table>
</td>
</tr>
</table>
<br />

<%- if is_ministry_leader -%>
	<%- remote_form_for @person do |f| -%>
	<div id="staffArea">
		<% i = 0 %>
		<table width="100%">
		<tr>
		<%- @ministry.profile_questions.each do |ca| -%>
			<th><%= ca.name %>: </th><td> <%= custom_field(ca, @person) %></td>
			<% i +=1 %>
			<%- if i%2 == 0 then i = 0 -%></tr><tr><%- end -%>
		<%- end -%>
		<%- while i < 2 do 
				i +=1-%>
				<td width="25%">&nbsp;</td><td>&nbsp;</td>
		<%- end unless i == 0 -%>
		</tr>
		</table>
		
		Leadership notes: <span style="color:silver; font-style:italic;">(everything below this is only seen by those designated as leaders of this ministry)</span><br />
		<%= f.text_area :staff_notes, :rows => 4, :cols => 40 %>
    <%= submit_tag "Save Notes" %>
	</div>
	<%- end -%>
<%- end -%>