<% @site_title = 'Directory' -%>
<script language="JavaScript" type="text/javascript">
	function switchCheck(form) {
		if(form["select_all"].checked == true) {
			checkAll(form)
		} else {
			uncheckAll(form)
		}
	}
	function checkAll(form) {
		for(i=0; i< form.length; i++)
			form[i].checked = true;
	}
	// Uncheck all the options option
	function uncheckAll(form) {
		for(i=0; i< form.length; i++)
			form[i].checked = false;
	}
</script>
<div class="sectionHeader">
	<h2><%= @campus ? @campus.name : @ministry.name %> Directory</h2>
</div>
<%- if authorized?(:new) -%>
	<div id="addStudentLink">
		<%= link_to_remote(image_tag("add_student.png"), :url => '/people/add_student',
		                                                 :loading => "$('#spinneradd_student').show();",
		                                                 :complete => "$('#spinneradd_student').hide();
		                                                                show_add_student()",
                            											 	 :method => :get) %>
		<%= spinner('add_student') %>
		or <%= link_to('import a bunch of students', new_import_path) %>
	</div>
<%- end -%>
<%- if @me.all_ministries.length > 1 -%>
	<div class="butNormal" ><%= link_to_function("Switch directories", "$(this).hide();$('#current_ministry').show()") %></div>
	<%= select_tag("current_ministry", options_for_select(@me.all_ministries.collect {|m| [m.name, m.id]}, @ministry.id), :style => "display:none") %>
	<%= observe_field(:current_ministry, {:url => change_ministry_people_url, :with => 'current_ministry'} ) -%>
<%- end -%>
<%- if @ministry.views.length > 1 -%>
	View: <%= select_tag("view", options_for_select(@ministry.views.collect {|v| [v.title, v.id]}, @view.id), :style => 'width:100px') %>
	<%= observe_field(:view, {:url => change_view_people_url, :with => 'view'} ) -%>
<%- end -%>
<%- if authorized?(:advanced) %>
	<div class="butDExcel" ><%= link_to "Excel Download", directory_people_url(:format => 'xls', :start => 'A', :finish => '', :search_id => @search.id) %></div>
<%- end -%>
<div id="searchBox">
  <div id="basic_search" <%= 'style="display:none"' if @advanced %>>
	<%- form_tag directory_people_url do -%>
		Search by name or email: <%= text_field_tag "search"%> <%= submit_tag "Go"%> &nbsp;&nbsp;
    <!-- <div class="butNormal" ><%= link_to "Show all from "+@ministry.name, directory_people_url, :method => :post %></div> -->
    
    <%- if authorized?(:advanced) %>
  		<%= link_to_function "Advanced Search", "$('#basic_search').hide();$('#advanced_search').show();"%> 
  	<%- end -%>
	<%- end -%>
	</div>
  <div id="advanced_search" <%= 'style="display:none"' unless @advanced %>>
    <%= render :partial => 'advanced_search' %>
		<%= link_to_function "Basic Search", "$('#basic_search').show();$('#advanced_search').hide();"%> 
	</div>
	
		&nbsp;&nbsp;
		<!--	
		<%= link_to "More actions..."%>
-->
	
<%- if @count > 2000 -%><br />
	| 
	<%- ('A'..'Z').each do |l| -%>
		<%= link_to l+'-'+l+'m', directory_people_url(:start => l, :finish => l+'n', :search_id => @search.id) %> | 
		<%- finish = (l == 'Z') ? '' : l.next -%>
		<%= link_to l+'n-'+l+'z', directory_people_url(:start => l+'n', :finish => finish, :search_id => @search.id) %> | 
	<%- end -%>
<%- elsif @count > 500 
	# set the default start value to A
	params[:start] ||= 'A'
	-%><br />
	<%- ('A'..'Z').each do |l| 
		finish = (l == 'Z') ? '' : l.next-%>
		<%= link_to l, directory_people_url(:start => l, :finish => finish, :search_id => @search.id) %> | 
	<%- end -%>
<%- end -%>
</div>
<%- if @conditions -%>
<div class="yoursearch"><%= simple_format("Search Results for: <strong>#{@search_for.present? ? @search_for : 'Everybody'}</strong>") %>
</div>
<%- unless params[:start].to_s.empty? -%>
	Showing: Last name starts with <strong><%= params[:start] %></strong> <%= 'through '+params[:finish] unless params[:finish].to_s.empty? %>
<% end %>
<div id="people">
	<%= form_tag({}, :name => 'people_form', :id => 'people_form') %>
	<table cellpadding="0" cellspacing="0" class="directorytable">
		<thead class="center">
		  <tr>
<!--
			<th>
				<%= check_box_tag 'select_all', 1, false, :onClick => "switchCheck($('#people_form'));" %>
				<%= image_tag "button_edit_grey_tiny.gif", :size => '13x13', :border => '0', :style => "visibility:hidden"%>
			</th>
-->
  <%- @view.columns.each do |column| -%>
			<th>
			  <%- if [nil, 'date'].include?(column.column_type) 
			        direction = '' -%>
  			  <%- if session[:order].to_s.include?(column.select_clause) 
  			        if session[:order].to_s.include?(' desc') -%>
        			    <%= image_tag('silk/bullet_arrow_down.png') %>
  			    <%- else 
  			          direction = ' desc' -%>
        			    <%= image_tag('silk/bullet_arrow_up.png') %>
  			    <%- end -%>
  			  <%- end -%>
  			  <%= link_to(column.title, directory_people_url(:order => "#{column.select_clause}#{direction}", :start => params[:start], :finish => params[:finish], :search_id => @search.id )) %>
  			<%- else -%>
  			  <%= column.title %>
  			<%- end -%>
			</th>
	<%- end -%>
			<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
		<%- @people.each_with_index do |person, i|  -%>
			<tr <%= i.even? ? 'class="highlight"' : 'class="nohighlight"' %> onclick="javascript:document.location = '<%= person_path(person['person_id']) %>'">
<!--
				<td>
					<%= i+1 %>.
					<%= check_box_tag 'person[]'%>
					<%= image_tag "button_edit_grey_tiny.gif", :size => '13x13', :border => '0'%>
				</td>
-->
      <%- @view.columns.each do |column| -%>
				<td style="white-space: nowrap;"><%= 
				case column.column_type
				when 'image'
				  if person[column.safe_name]
				    file_id, filename = person[column.safe_name].split('|')
            filename = filename.split('.')
            filename = filename[0] + '_mini.' + filename[1]
  				  image_tag("http://s3.amazonaws.com/#{Technoweenie::AttachmentFu::Backends::S3Backend.bucket_name}/profile_pictures/#{file_id}/#{filename}") 
				  end
				when 'date'
				  format_date(person[column.safe_name])
				when 'gender'
				  @person.human_gender(person[column.safe_name])
				when 'url'
				  unless person[column.safe_name].blank?
  				  desc, url = parse_url(person[column.safe_name])
  				  link_to(desc, url, :target => '_blank')
  			  end
				else
  				person[column.safe_name] 
  			end %></td>
	    <%- end -%>
				<td><span class="butProfile"><%= link_to 'Profile', person_url(person['person_id']) %></span></td>
			</tr>
			<%- end -%>
			
		</tbody>
	</table>
  (<%= @people.size %>) <%= @people.size != 1 ? 'people' : 'person' %> found
</div>
  <%- end -%>