<% @site_title = 'Directory' -%>
<div id="timetable_link"
</div>
<div class="sectionHeader">
	<h2><%= @campus ? @campus.name : @ministry.name %> Directory</h2>
</div>
<%- if authorized?(:new) -%>
	<div id="addStudentLink" style="vertical-align:middle;">
		<%= link_to_remote(image_tag("add_student.png"), :url => add_student_people_url,
		                                                 :loading => "$('#spinneradd_student').show();",
		                                                 :complete => "$('#spinneradd_student').hide();
		                                                                show_add_student()",
                            											 	 :method => :get) %>
    <%= spinner('add_student') %>
    <%- if authorized?(:new, :imports) -%>
      <%= link_to(image_tag('import.png') + ' Mass import tool', new_import_path, :class => 'massimport') %>
    <%- end -%>
	</div>
<%- end -%>
<%- if @me.ministries.length > 1 -%>
  <%- if authorized?(:change_ministry_and_goto_directory) -%>
	  <div class="butNormal" ><%= link_to_function("Switch directories", "$(this).hide();$('#current_ministry').show()") %></div>
    <%= select_tag("current_ministry", options_for_select(@my.ministry_tree.sort.collect {|m| [m.name, m.id]}, @ministry.id), :style => "display:none") %>
    <%= observe_field(:current_ministry, {:url => change_ministry_and_goto_directory_people_url, :with => 'current_ministry'} ) -%>
    <%- tooltip do -%> 
      This will allow to to view the directory of another ministry you are involved in.
    <%- end -%>
  <%- end -%>
<%- end -%>
<%- if @ministry.views.length > 1 -%>
	View: <%= select_tag("view", options_for_select(@ministry.views.collect {|v| [v.title, v.id]}, @view.id), :style => 'width:100px') %>
	<%= observe_field(:view, {:url => change_view_people_url, :with => 'view'} ) -%>
  <%- tooltip do -%> 
    These are defined in the Manage tab, under the Customize option. Views are different ways to look at the directory.
  <%- end -%>
<%- end -%>

<%= render :partial => 'search_box' %>

<%- if @conditions -%>


<%- if authorized?(:advanced) %>
	<div class="butDExcel" style="float:right;">
    <%= link_to "Excel Download", directory_people_url(:format => 'xls', :start => 'A', :finish => '', :search_id => @search.id) %>
  </div>
  <div style= "float:right;">
  <%- tooltip do -%> 
      You can download an excel spreadsheet with all the information you see in your current view.
    <%- end -%>
  </div>
<%- end -%>


<%= form_tag(perform_task_people_path, :name => 'people_form', :id => 'people_form') %>
<div class="yoursearch">
<p>Search Results for: <strong><%= @search_for.present? ? @search_for : 'Everybody' %></strong>  | (<%= @count %>) <%= @count != 1 ? 'people' : 'person' %> found<br />
  <script type="text/javascript" charset="utf-8">
    var total_people = <%= @count %>
  </script>
  <%  options = [['Filter by Last Name','']] %>
  <%- if @count > 2000 -%>
    <!-- | -->
  	<%- ('A'..'Z').each do |l| -%>
      <!-- <%#= link_to l+'-'+l+'m', directory_people_url(:start => l, :finish => l+'n', :search_id => @search.id) %> | -->
  		<% options << [l+'-'+l+'m', directory_people_url(:start => l, :finish => l+'n', :search_id => @search.id, :format => :html)] %>
  		<%- finish = (l == 'Z') ? '' : l.next -%>
      <!-- <%#= link_to l+'n-'+l+'z', directory_people_url(:start => l+'n', :finish => finish, :search_id => @search.id) %> |  -->
  		<% options << [l+'n-'+l+'z', directory_people_url(:start => l+'n', :finish => finish, :search_id => @search.id, :format => :html)] %>
  	<%- end -%>
  <%- elsif @count > 500 
  	# set the default start value to A
  	params[:start] ||= 'A'
  	-%>
  	<%- ('A'..'Z').each do |l| 
  		finish = (l == 'Z') ? '' : l.next -%>
      <!-- <%#= link_to l, directory_people_url(:start => l, :finish => finish, :search_id => @search.id) %> | -->
  		<% options << [l+'-'+finish, directory_people_url(:start => l, :finish => finish, :search_id => @search.id, :format => :html)] %>
  	<%- end -%>
  <%- end -%>
  <% if @count > 500 %>
    <%= select_tag(:interval, options_for_select(options)) %>
    <%= observe_field(:interval, :function => "if($('#interval').val() != '') document.location = $('#interval').val().replace(/&amp;/g,'&');") %>
  <% end %>

  <%- if authorized?(:email) -%>
    <%= select_tag(:perform_action, options_for_select([['Perform Action with Selected',''],['Send Email',new_email_path],['Create Group', new_group_path]])) %>
    <%= observe_field :perform_action, :function => "performAction()" %>
  <%- end -%>
</p>
</div>



<%- unless params[:start].to_s.empty? -%>
	Showing: Last name starts with <strong><%= params[:start] %></strong> <%= 'through '+params[:finish] unless params[:finish].to_s.empty? %>
<% end %>
<div id="people">
	<table cellpadding="0" cellspacing="0" class="directorytable">
		<thead class="center">
		  <tr id="selected_row" style="display:none">
		    <td colspan="<%= @view.columns.length + 2 %>">
		      <%= hidden_field_tag :entire_search, 0 %>
		      <%= hidden_field_tag :search_id, @search.id %>
		      All <strong><%= @people.length %></strong> people on this page are selected.
		      <%= link_to_function("Select all <strong>#{@count}</strong> people from this search.", "selectEntireSearch();") %>
		    </td>
	    </tr>
		  <tr id="entire_search_row" style="display:none">
		    <td colspan="<%= @view.columns.length + 2 %>">All <strong><%= @count %></strong> people from this search are selected.
		      <%= link_to_function("Clear selection.", "clearSelection();") %>
		    </td>
	    </tr>
		  <tr>
  <%- if authorized?(:email) -%>
      <th>
        <%= check_box_tag 'select_all', 1, false %>
      </th>
  <%- end -%>
  <%- @view.columns.each do |column| -%>
			<th>
			  <%- if [nil, 'date'].include?(column.column_type) 
			        direction = '' -%>
  			  <%- if session[:order_column_id].to_s == column.id.to_s
                if session[:direction] == 'asc' 
                  direction = 'desc' -%>
        			    <%= image_tag('silk/bullet_arrow_down.png') %>
  			    <%- else 
  			          direction = 'asc' -%>
        			    <%= image_tag('silk/bullet_arrow_up.png') %>
  			    <%- end -%>
  			  <%- end -%>
  			  <%= link_to(I18n.t(column.title, :default => column.title), 
  			               directory_people_url(:format => "html", 
  			                                     :order_column_id => column.id,
                                             :direction => direction,
  			                                     :start => params[:start], :finish => params[:finish], 
  			                                     :search_id => @search.id )) %>
  			<%- else -%>
  			  <%= column.title %>
  			<%- end -%>
			</th>
	<%- end -%>
			<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
		<% @can_delete = authorized?(:new) %>
		<%- @people.each_with_index do |person, i|  -%>
			<tr class="<%= i.even? ? 'highlight' : 'nohighlight' %>">
  <%- if authorized?(:email) -%>
      <td width="10px">
        <%= check_box_tag 'person[]', person["person_id"] %> 
      </td>
  <%- end -%>
      <%- @view.columns.each do |column| -%>
				<td style="white-space: nowrap;" class="person_row" person_link="<%= person_path(person['person_id']) %>"><%= 
				case column.column_type
				when 'image'
				  if person[column.safe_name]
				    file_id, filename = person[column.safe_name].split('|')
            filename = filename.split('.')
            filename = filename[0] + '_mini.' + filename[1]
  				  image_tag("http://s3.amazonaws.com/#{Technoweenie::AttachmentFu::Backends::S3Backend.bucket_name}/profile_pictures/#{file_id}/#{filename}")  if defined?(Technoweenie::AttachmentFu::Backends::S3Backend.bucket_name)
				  end
				when 'date'
				  format_date(person[column.safe_name])
				when 'gender'
				  @person.human_gender(person[column.safe_name])
				when 'url'
				  unless person[column.safe_name].blank?
  				  desc, url = parse_url(person[column.safe_name])
  				  link_to(desc, url, :target => '_blank')
  			  end
				else
  				person[column.safe_name] 
  			end %></td>
	    <%- end -%>
				<td class="alignright">
				  <%= link_to(image_tag('delete.png'), person_path(person['person_id']), :method => :delete, :confirm => "You are about to remove this person from all ministries and campuses they are a part of. Are you SURE you want to continue?") if @can_delete %>
				  <span class="butProfile"><%= link_to 'Profile', person_path(person['person_id']) %></span>
				</td>
			</tr>
			<%- end -%>
			
		</tbody>
	</table>
  
</div>
<%- end -%>
