<% @site_title = 'Profile' -%>
<%= stylesheet_link_tag "profile", :media => "all" %>

<div id="profiletitle">
  <%- if authorized?(:edit, :people) -%>
    <%-# If the person has a gcx account, then send them to the gcx page to change their password %>
    <%- if @person == @me && @person.user.guid -%>
      <div class="butUpdate" ><a href="https://signin.mygcx.org/sso/selfservice/protected/password/changePassword.jsp" target="_blank">Change Password</a></div> 
    <%- else -%>
      <div class="butUpdate" ><%= link_to("Change Password", edit_user_path(@person.user, :height => 300, :width => 450), {:class => 'thickbox'}) if @person == @me && @person.user  %></div> 
    <%- end -%>
    <%- unless Cmt::CONFIG[:gcx_import_disabled] -%>
      <%- if session[:cas_user] &&  session[:cas_pgt].present? -%>
        <div class="butUpdate" style="margin-right:5px;"><%= link_to "Import GCX Profile", import_gcx_profile_person_path(@person) %></div>
      <%- end -%>
    <%- end -%>
    <div class="butUpdate" style="margin-right:5px;">
      <%= link_to_remote "Edit Information", :url => edit_person_path(@person, :format => 'js'), :before => "$('#spinnerp').show()", :complete => "$('#spinnerp').hide()", :method => :get %>
    </div>
	<%- end -%>
	<h1><%= @person.full_name %> <%= spinner('p') %></h1> 
  <div class="divider" style="margin-bottom:0;">&nbsp;</div>
</div>
<div class="leftColumn">
	  <div id="profileImageBox">
		  <%= render :partial => 'image' %>
	  </div>
	<div>
		<div class="floatLeft"><%= spinner %></div>
		<div id="progress-bar"></div>
	</div>
	<iframe id="upload" name="upload" src="about:blank" style="width:1px;height:1px;border:0px;"></iframe>

	<h5 class="title">I'm Involved In</h5>
  <%= render :partial => 'group_list', :locals => { 
    :group_types_and_involvements => @person.group_group_involvements(:involved)
  } %>
	
  <%- if @staff -%>
  <div id="ministries_div">
  <h4 style='display:inline'>Ministries</h4> <%- if authorized?(:edit, :people) -%><%= link_to_remote image_tag("button_edit_grey_tiny.gif"), :url => person_ministry_involvements_url(@person.id), :method => :get, :success => "show_dialog('Manage Ministries')" %><%- end -%>
  <%- if @person.ministries.count > 0 -%>
  	<ul id="profile_ministries">
  	<%- @person.ministries.uniq.each do |ministry| 
  	  mi = @person.ministry_involvements.detect {|ami| ami.ministry_id == ministry.id}-%>
      <%= render :partial => 'profile_ministry_li', :locals => { :mi => mi } %>
  	<%- end -%>
  	</ul> <br />
	<%- end -%>
  </div>
  <%- end -%>
	<div id="campuses_div">
    <%= render :partial => 'campuses' %>
  </div>
	<%# = link_to '&raquo; Find a Group', find_groups_url %><br />
	<%#= link_to '&raquo; Find a Ministry Team', :controller => 'groups', :action => 'list', :id => '2' %>

	<br />

	<%- if @person.group_interests.count > 0 -%>
		<h5 class="title">I'm Interested In</h5>
    <%= render :partial => 'group_list', :locals => {
      :group_types_and_involvements => @person.group_group_involvements(:interests)
    } %>
	<%- end -%>	

	<%- if @person.group_requests.count > 0 -%>
		<h5 class="title">I've Requested</h5>
    <%= render :partial => 'group_list', :locals => {
      :group_types_and_involvements => @person.group_group_involvements(:requests)
    } %>
	<%- end -%>	
</div>
<div class="rightColumn">
	<div class="clearDivider">&nbsp;</div>

  <div id="info">
    <%= render :partial => 'view' %>
  </div>
  <div><div id="edit_info" style="display:none"></div></div>
</div>

<%= render :partial => 'upload_picture', :locals => {:person => @person} %>
