<% @site_title = 'Profile' -%>
<%= stylesheet_link_tag "profile", :media => "all" %>

<div id="profiletitle">
  <%- if @person == @me || is_ministry_leader -%>
    <%-# If the person has a gcx account, then send them to the gcx page to change their password %>
    <%- if @person == @me && @person.user.guid -%>
      <div class="butUpdate" ><a href="https://signin.mygcx.org/sso/selfservice/protected/password/changePassword.jsp" target="_blank">Change Password</a></div> 
    <%- else -%>
      <div class="butUpdate" ><%= link_to("Change Password", edit_user_path(@person.user, :height => 300, :width => 450), {:class => 'thickbox'}) if @person == @me && @person.user  %></div> 
    <%- end -%>
    <%- unless Cmt::CONFIG[:gcx_import_disabled] -%>
      <%- if session[:cas_user] &&  session[:cas_pgt].present? -%>
        <div class="butUpdate" style="margin-right:5px;"><%= link_to "Import GCX Profile", import_gcx_profile_person_path(@person) %></div>
      <%- end -%>
    <%- end -%>
    <div class="butUpdate" style="margin-right:5px;">
      <%= link_to_remote "Edit Information", :url => edit_person_path(@person), :before => "$('#spinnerp').show()", :complete => "$('#spinnerp').hide()", :method => :get %>
    </div>
  	<h1><%= @person.full_name %> <%= spinner('p') %></h1> 
  	<div class="divider" style="margin-bottom:0;">&nbsp;</div>
	<%- end -%>
</div>
 
<div class="leftColumn">
	<div id="profileImageBox">
		<%= render :partial => 'image' %>
	</div>
	<div>
		<div class="floatLeft"><%= spinner %></div>
		<div id="progress-bar"></div>
	</div>
	<iframe id="upload" name="upload" src="about:blank" style="width:1px;height:1px;border:0px;"></iframe>

	<h5 class="title">I'm Involved In</h5>
	<% type = ''  %>
  	<%- @person.groups.each do |group| -%>
  	  <%- unless type == group.group_type.group_type -%>
            <h4><%= group.group_type.group_type.pluralize %></h4>
            <ul>
      <%- end -%>
  	  <li id="group_<%= group.id %>">
  		  <%= link_to group.name, group_url(group) %>
  		</li>
  	  <%- unless type == group.group_type.group_type
  	        type = group.group_type.group_type -%>
  	        </ul><br />
      <%- end -%>
  	<%- end -%>

	
	<%- if @person.ministries.count > 0 -%>
  	<h4>Ministries</h4>
  	<ul>
  	<%- @person.ministries.each do |ministry| 
  	  mi = @person.active_ministry_involvements.detect {|ami| ami.ministry_id == ministry.id}-%>
  	  <li id="mi_<%= mi.id %>">
  	  <%= link_to_remote(image_tag('delete.png'), :url => person_ministry_involvement_path(@person, mi), 
                                                  :confirm => "Are you sure you want to remove #{@person == @me ? 'yourself' : @person.first_name} from #{mi.ministry.name}?", 
                                                  :method => :delete,
                                                  :before => "$('#spinner').show()")  if @me == @person || authorized?(:new) %>
  	  <%= link_to_remote(mi.ministry.name, :url => change_ministry_people_url(:ministry => mi.ministry.id),
                  											 	 :method => :get) %>
  	  </li>
  	<%- end -%>
  	</ul> <br />
	<%- end -%>
	<div id="campuses_div">
	<%- if @person.active_campus_involvements.count > 0 -%>
    <%= render :partial => 'campuses' %>
  <%- end -%>
  </div>
	<br />
	<%# = link_to '&raquo; Find a Group', find_groups_url %><br />
	<%#= link_to '&raquo; Find a Ministry Team', :controller => 'groups', :action => 'list', :id => '2' %>
 <!--
	<br />
	<%= link_to '&raquo; Register for a Conference', :controller => 'conference', :action => 'list', :id => '2' %><br />
	<%= link_to '&raquo; Past Conferences', :controller => 'conference', :action => 'list', :id => '2' %>
 
	-->
	<%- if @person.group_interests.count > 0 -%>
		<h5 class="title">I'm Interested In</h5>
		<%- @person.group_interests.each do |group| -%>
			<%= link_to group.name, group_url(group), :class => 'norm' %> ( team )<br />
		<%- end -%>	
	<%- end -%>	
</div>
<div class="rightColumn">

<!--
	<div style="float:right;">
		<%= link_to_function "School History", "$('#schoolHistory').slideToggle();", :class => 'norm' %> <%= image_tag("down_arrow_sm.png") %> &nbsp;
	</div>
-->

	
<!--
	<div id="schoolHistory" style="display:none;">
		<div class="schoolHistoryBox">
			<table cellpadding="0" cellspacing="0">
				<thead>
					<th>&nbsp;</th>
					<th>Started</th>
					<th>Through</th>
					<th>Role</th>
				</thead>
				<tbody>
					<tr>
						<td>Middle Tennessee State University</td>
						<td>May 2003</td>
						<td>Now</td>
						<td>Student Leader</td>
					</tr>
					<tr class="highlight">
						<td>University of Tennessee</td>
						<td>August 2002</td>
						<td>Now</td>
						<td>Student</td>
					</tr>
					<tr>
						<td>Local Community College</td>
						<td>August 2001</td>
						<td>August 2002</td>
						<td>Student</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
-->
	<div class="clearDivider">&nbsp;</div>
<!--	
	<div class="message">
		You have <%= link_to "3 new contacts", :controller => 'contacts' %> to follow-up.
	</div>
 
	<div class="message">
		1 new message in your <%= link_to "inbox", :controller => 'messages' %>.
	</div>
 
	<div class="message">
		2 new messages have been posted in your <%= link_to "Group", :controller => 'group' %>
	</div>
-->
 	<div id="info">
		<%= render :partial => 'view' %>
	</div>
	<div><div id="edit_info" style="display:none"><%#= render :partial => 'edit' %></div></div>
</div>

<%= render :partial => 'upload_picture', :locals => {:person => @person} %>