
<div class="searchResultsTitle">
  <%= image_tag("silk/world.png") %>

  <% if @gsa_results_unauthenticated.present? %>
    <%= "Public " %>
  <% else %>
    <%= "#{image_tag("silk/key.png", :class => "theKey", :title => " - <span class='whiteFont'>You can see these secure and personalized web results because you're logged into TheKey.</span>")} " %>
  <% end %>

  <strong>Web</strong> results for <strong><%= @q %></strong>

  <% if @gsa_results_unauthenticated.present? %>
    <div class="casAuthenticationWarning">
      These are publicly available search results.
      To see the complete set of secure and personalized search results we'll need to check your ID,
      <%= link_to("click here to login to TheKey.", :controller => :sessions, :action => :recreate, :destination => "#{url_for(:action => :web, :controller => :search, :q => @q,:only_path=> false)}") %>
    </div>
  <% end %>
</div>

<ul id="WebSearchResults">
  <% if @web.results.size > 0 %>
    <%= render :partial => "web_result", :collection => @web.results -%>

    <% if pagination == true %>
      <br/>
      <div class="searchResultsPagination pagination">
        <% params[:page] ||= 1 %>
        <%= params[:page].to_i > 1 ? link_to("« Previous", url_for(params.merge(:page => params[:page].to_i - 1)), :class => "prev_page") : %(<span class="disabled prev_page">« Previous</span>) %>
        <%= @web.results.size < @num_results_per_page ? %(<span class="disabled next_page">Next »</span>) : link_to("Next »", url_for(params.merge(:page => params[:page].to_i + 1)), :class => "next_page") %>
      </div>
    <% else %>
      <% unless @web.results.size < @num_results_per_page %>
        <li class="searchResult searchResultMore">
          <%= link_to("See more web results »", :action => "web", :controller => "search", :q => @q, :page => 2) %>
        </li>
      <% end %>
    <% end %>

  <% else %>
    <p>
      No web results found for <strong><%= @q %></strong>.<br/>
      Try using different or more general search terms.
    </p>
  <% end %>
</ul>

<script type="text/javascript">
  // show tooltip on hover over key icon
  $(".theKey").tooltip({
    track: true,
    delay: 0,
    showURL: false,
    showBody: " - ",
    fade: 100
  });
</script>
