
<%= javascript_include_tag "jquery.tooltip.js" %>

<div class="searchResultsTitle">
  <%= image_tag("silk/world.png") %>
  <%= @gsa_results_unauthenticated.present? ? "Public " : "#{image_tag("silk/key.png", :class => "theKey",
    :title => " - <span class='whiteFont'>You can see these personalized web results because you are logged into TheKey.</span>")} " %>
  <strong>Web</strong> results for <strong><%= @q %></strong>

  <div class="searchResultsSize">
    <%= "0 " if @web.total_results == 0 %>
    web results
    <% if @web.total_results > @web.per_page %>
      <% onCurPageEnd = @web.current_page * @web.per_page %>
      <% onCurPageBegin = (onCurPageEnd-@web.per_page)+1 %>
      <% onCurPageEnd = onCurPageEnd > @web.total_results ? @web.total_results : onCurPageEnd %>
      <%= "#{onCurPageBegin}-#{onCurPageEnd}" %>
    <% end %>
  </div>

</div>

<ul id="WebSearchResults">
  <% if @web.results.size > 0 %>
    <%= render :partial => "web_result", :collection => @web.results -%>

    <% if pagination == true %>
      <br/>
      <div class="searchResultsPagination">
        <%= will_paginate @web, :page_links => false %>
      </div>
    <% else %>
      <% if @web.total_results > @num_results_per_page %>
        <li class="searchResult searchResultMore">
          <%= link_to("See more web results »", :action => "web", :controller => "search", :q => @q, :page => 2) %>
        </li>
      <% end %>
    <% end %>

  <% else %>
    <p>
      No web results found for <strong><%= @q %></strong>.<br/>
      Try using different or more general search terms.
    </p>
  <% end %>
</ul>

<script type="text/javascript">
  // show tooltip on hover over key icon
  $(".theKey").tooltip({
    track: true,
    delay: 0,
    showURL: false,
    showBody: " - ",
    fade: 100
  });
</script>
