<% if @people.present? || @discover_contacts.present? %>
  <% @people.each do |person| %>
    <%= render 'person_ac', :person_ac => person %>
  <% end if @people.present? %>

  <% @discover_contacts.each_with_index do |dc, i| %>
    <%= render 'discover_contact_ac', :discover_contact => dc, :index => i %>
  <% end if @discover_contacts.present? %>

  <% unless @all_results_link == false %>
    <%= link_to("<div class='autoCompleteResult last'>" +
        "<div class='acLinkPath' style='display: none;'>/search?q=#{@q}</div>" +
        "<div class='autoCompleteMorePic'>&nbsp;</div>" +
        "<div class='autoCompleteMore'>See all results for <span class='autoCompleteName'>#{@q}</span></div>" +
        "<div class='autoCompleteMoreInfo noSearchHighlight'>displaying top results</div>" +
        "</div>", "/search?q=#{@q}") %>
  <% end %>

<% elsif !logged_in? %>
  <span class='autoCompleteName' style='display: none;'><%=@q%></span><br/><%= image_tag("silk/exclamation.png") %> <b>You have logged out,<br/>please login and try searching again.</b><br/>&nbsp;
<% end %>