
<h1 id="reportTitle">Search</h1>
<%
  if @mobile
    %><%= render :partial => "search_box", :locals => { :q => @q } %><%
  end
%>

<% if @q.present? %>



<div id="searchHeaderInfo">
</div>

<div id="searchFilterControlsContainer">
  <%= render :partial => "filter_controls" %>
</div>

<div id="searchResultsContainer">
  <br/>
  
  <% if session[:search][:authorized_to_search_people] %>
    <%= render :partial => "people", :locals => { :pagination => false } %>
    <br/>
    <br/>
  <% end %>


  <% if session[:search][:authorized_to_search_groups] %>
    <%= render :partial => "groups", :locals => { :pagination => false } %>
    <br/>
    <br/>
  <% end %>


  <% if session[:search][:authorized_to_search_web] %>
    <div id="webResults">
      <div class="searchResultsTitle">
        <%= image_tag("silk/world.png") %> Fetching <strong>Web</strong> results for <strong><%= @q %></strong>
      </div>
      <div class="searchResult searchResultWeb">
        <%= image_tag("default/shared/blue-loading.gif", :class => "spinner") %>
      </div>
    </div>
    
    <br/>
    <br/>
  <% end %>

</div>


<% elsif !@mobile %>

<br/>
<big>Don't be shy, search for something by using the search box! <%= image_tag "silk/emoticon_wink.png" %> </big>

<% end %>


<script type="text/javascript">
  $(document).ready(function(){
    jQuery.ajax({
      dataType:'script',
      type:'post',
      url:'<%= url_for :controller => :search, :action => :web_remote, :q => "#{@q}" %>'});
  });
</script>
