<%- uid = Time.now.to_i -%>
<span id='chosen_ministry'></span> <%= link_to_function 'Choose Ministry', "", :id => 'choose_ministry_link' %>
<%= hidden_field_tag 'ministry_involvement[ministry_id]' %>
<div id='choose_ministry_tree_<%=uid%>' class='choose_ministry_tree' style='display:none'></div>
<script>
  Ext.onReady(function(){
    // shorthand
    var Tree = Ext.tree;

    var tree = new Tree.TreePanel({
      useArrows: true,
      autoScroll: true,
      animate: true,
      enableDD: false,
      containerScroll: true,
      border: true,
      width: 400,
      height: 200,

      root: <%= get_ministry.root.to_hash_with_children.to_json %>
    });

    // render the tree
    tree.render('choose_ministry_tree_<%=uid%>');
    tree.getRootNode().expand();

    // handle clicks
    tree.on('click', function(node, e) {
      $('#ministry_involvement_ministry_id')[0].value = node.id;
      //$('#choose_ministry_tree').slideUp();
      $('#chosen_ministry').text(node.text);
      $('#choose_ministry_link').text('Change Ministry')
      return false;
    }, this);
  });

  $("#choose_ministry_link").click(function(e) {
    $('#choose_ministry_tree_<%=uid%>').slideDown();
    return false;
  });
  $(document).click(function(e) {
    if ($('#choose_ministry_tree_<%=uid%>').is(':visible')) {
      $('#choose_ministry_tree_<%=uid%>').slideUp();
    }
  });
</script>
