<div>
<%= link_to_remote "", {:url => person_ministry_involvement_url(@person.id, ministry_involvement.id, :from_profile => @from_profile), :method => :delete,
                        :confirm => t("profile.manage_campuses.archive_confirm")},
                       {:title => "Remove", :class => "removeInvolvementIconLink"} %>
<%= ministry_involvement.ministry.name %>, 
<%= ministry_involvement.ministry_role.try(:name) %>, 
<%- if ministry_involvement.end_date.present? -%> from <%= ministry_involvement.start_date %> to <%= ministry_involvement.end_date %>
<%- else -%>
 since <%= ministry_involvement.start_date %>
<%- end -%>
&nbsp;
<%= link_to_remote "", {:url => edit_person_ministry_involvement_url(@person.id, ministry_involvement.id, :from_manage => true), :method => :get},
                       {:title => "Edit", :class => "editInvolvementIconLink"} %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    strikeParentOnHover($(".removeInvolvementIconLink"));
  });
</script>
