
<div style="width: 70%; margin-left: auto; margin-right: auto;">
<% if @involvements %>

  <br/>
  <big><%= image_tag("silk/error.png") %> You're about to change all of the following people's roles to the role that you select below, regardless of their current role.</big>
  <br/>
  <br/>
  Some people may have different roles at different ministries, only the role at the ministry specified beside each person below will be changed.
  <br/>
  <br/>
  <br/>

  <table cellspacing="0" cellpadding="5" border="0" class="groupInvolvementList">
    <tr>
      <th>Person</th>
      <th>Ministry</th>
      <th>Current Role</th>
    </tr>

    <% @involvements.each do |involvement| %>
    <tr class="<%= cycle('highlight', 'nohighlight') %>">
      <td><%= link_to("#{involvement.person.full_name}", "/people/#{involvement.person.id}", {:title => "Goto #{involvement.person.first_name.capitalize}'s profile"}) -%></td>
      <td><%= involvement.ministry.name %></td>
      <td><%= involvement.ministry_role.name %> (<%= involvement.ministry_role.class.to_s.underscore.humanize %>)</td>
    </tr>
    <% end %>
  </table>

  <br/>

  <% unless @people_without_involvements.blank? || @people_without_involvements.empty? %>
    <%= image_tag("silk/exclamation.png") %> <b> The following people cannot be included, please update their roles on an individual basis: </b> <br/>
    <%= @people_without_involvements.collect{|person| link_to("#{person.full_name}", "/people/#{person.id}", {:title => "Goto #{person.first_name.capitalize}'s profile"}) }.join(', ') %>
    <br/>
    <br/>
  <% end %>
  
  <br/>
  <br/>

  <% form_tag({:action => "update_multiple_roles", :controller => "ministry_involvements", :method => "get"},
    {:onSubmit => "if( $('#role_id').val() == '' || $('#role_id :selected').text() == '') { alert('Please select a new role to change to first!'); return false; } else { return true; }"}) do %>
    
    <big>
    <%= image_tag("silk/pencil.png") %>
    Change to the new role

		<% blank_option = "<option value=\"""\"></option>" %>
		<% not_involved_group = "<optgroup label=\"Remove all roles & involvements\"><option value=\"#{MinistryInvolvementsHelper::NOT_INVOLVED_ROLE}\">No Longer Involved</option></optgroup>" %>
    <% option_groups = blank_option + option_groups_from_collection_for_select([ StaffRole, StudentRole ], :all, :human_name_plural, :id, :name, selected_key = nil) + not_involved_group %>
		<%= select('role', :id, option_groups) %>
    </big>
    
  
    <% for involvement in @involvements %>
      <%= hidden_field_tag "involvement_id[]", involvement.id %>
    <% end %>

    <br/>
    <br/>
    <%= image_tag("silk/arrow_up.png") %> You may promote someone up to and including your role.
    <br/>
    <%= image_tag("silk/arrow_down.png") %> You may demote someone only if they have a lower role than you.
    <br/>
    <br/>

    <br/>
    <%= submit_tag "Change roles" %> or <%= link_to("Cancel", :back) %>
    <br/>
    
  <% end %>

<% else %>
  <br/>
  Sorry, the ministry involvements that you want to edit were not received properly. Please try again!<br/><br/>
  <%= link_to("Back", :back) %>
<% end %>
</div>
