

<script>
  function facebook_init_callback() {
    FB.Canvas.setSize({ width: 758, height: 800 });
  }

  function facebook_login_callback(session) {
    FB.api('/me', function(response) {
      setValueIfNotSet('person_first_name', response.first_name);
      setValueIfNotSet('person_last_name', response.last_name);
      setValueIfNotSet('person_email', response.email);

      // don't confuse gender index with the value
      if(response.gender == "male") {
        document.getElementById('person_gender').selectedIndex = 0;
      } else if(response.gender == "female") {
        document.getElementById('person_gender').selectedIndex = 1;
      }
    });
  }
</script>


<% instruction_block do %>
<B>Step 1:</B> Please fill out your info and click next.  <% if logged_in? %><B>Please note that you’re currently logged into The Pulse as <%= @person.full_name %>.  This form will update your personal information.  If this is not you, please hit the ‘Start again’ button and click on the sign up link in the front page.  Thank you!</B><% end %>
<BR/>
<BR/>
All fields are required except for major and dorm.
<% end %>

<center>
  <%= render :partial => 'progress', :locals => { :step => 1 } %>
</center>

<%- if logged_in? %>
<DIV class="center">
  <P>
  <%= link_to "Start Again", logout_url, :class => 'action-button' %>
  </P>
</DIV>
<%- end -%>



<div id="signup_step1_columns">

<%- form_for @person, :url => { :action => :step1_info_submit, :method => :post } do |f| -%>
  <%= f.error_messages %>
  <table id="signup_step1_info">
  <tr>
    <td class="label">First Name </td>
    <td><%= f.text_field :first_name %></td>
  </tr>
  <tr>
    <td class="label">Last Name </td>
    <td><%= f.text_field :last_name %></td>
  </tr>
  <%- unless logged_in? %>
  <tr>
    <td class="label">Email </td>
    <td><%= f.text_field :email %></td>
  </tr>
  <%- end %>
  <tr>
    <td class="label">Gender </td>
    <td><%= f.select :gender, [["Male", 1], ['Female', 0]], :prompt => "" %></td>
  </tr>
  <tr>
    <td class="label">Phone </td>
    <td><%= f.text_field :local_phone %></td>
  </tr>
  <%= render :partial => 'people/primary_campus_involvement', :locals => { 
       :hide_grad_date => true, :hide_major => true, :hide_minor => true,
       :no_table => true, :hide_campus => false
      }
  %>
  <%= observe_field "primary_campus_involvement_campus_id",
        :url => { :controller => 'signup', :action => 'get_dorms' },
        :with => "primary_campus_involvement_campus_id"
  %>
  <tr>
    <td class="label">Major </td>
    <td><%= f.text_field :major %></td>
  </tr>
  <%= render :partial => "dorm_tr" %>
  </table>

  <fb:login-button show-faces="true" width="200" max-rows="4" perms="<%=Facebook::SIGNUP_PERMS%>" style="float:left;"></fb:login-button>

</div>

<br/>

<div class="center">
<%= submit_tag "Next", :class => 'action-button' %>  
</div>

<%- end -%>
