<% instruction_block do %>
  <% if logged_in? && session[:from_facebook_canvas] == true %>
    Hi <b><%= @person.full_name %></b>, if that's not you
    <%= link_to "click here to logout", "#", :onclick => "preventDefault(); top.location.href='/leave_facebook_and_js_redirect?js_redirect_url=#{logout_url}'" %>
  <% end %>
<% end %>


<div id="signup_group_select_container">
  <% if @ask_campus %>
    <span id="campus_question"> Which campus are you on? </span>
  <% end %>
  <%= select_tag "primary_campus_involvement_campus_id",
        options_for_select([""] + @campuses.collect{ |c| [ c.name, c.id.to_s ] },
        session[:signup_campus_id].to_s),
        :name => "primary_campus_involvement[campus_id]"
  %>
  <%= select_tag "group_semester_id",
        options_for_select(@semesters.collect{ |s| [ s.desc, s.id.to_s ] },
        @current_semester.id.to_s),
        :name => "group[semester_id]",
        :style => "#{'display:none;' if @ask_campus}"
  %>
</div>
  
<div id="spinner" class="signup_groups" style="display:none;">
  <%= image_tag "default/shared/large-loading.gif" %>
  <br/>
  getting groups...
</div>

<div id="groups">
</div>


<script type="text/javascript">
  $('#primary_campus_involvement_campus_id').change(function() {
    update_groups();
  });

  $('#group_semester_id').change(function() {
    update_groups();
  });

  function update_groups() {
    campus_value = $("#primary_campus_involvement_campus_id").val();
    semester_value = $("#group_semester_id").val();
    
    if ($("#primary_campus_involvement_campus_id").val() != "" && $("#group_semester_id").val() != "") {
      jQuery.ajax({data:'primary_campus_involvement_campus_id='+campus_value+'&group_semester_id='+semester_value,
                   dataType:'script', 
                   beforeSend: function() {
                     $("#groups").hide();
                     $("#spinner").fadeIn();
                   },
                   complete: function() { 
                     $("#spinner").hide();
                     $("#groups").fadeIn();
                     <% if @ask_campus %>
                       $("#campus_question").hide();
                       $("#group_semester_id").fadeIn();
                     <% end %>
                   },
                   type:'post', url:'/signup/step1_group_from_campus'});
    }
  }

  $(document).ready(function() {
    update_groups();
  });
</script>

