<% instruction_block do %>
<b>Step 2:</b> Join a group!
<% end %>

<center>
  <%= render :partial => 'progress', :locals => { :step => 2 } %>
</center>


<DIV class="center"><%= link_to_function "I want to choose an existing group to join for the <u>#{@current_semester.desc}</u> semester", "$(\"#groups_list\").is(':visible') ? $(\"#groups_list\").slideUp() : $(\"#groups_list\").slideDown();", :class => "action-button" %></DIV>

<DIV id="groups_list" style="display:none">
  <BR/>

  <DIV style="clear:both" class="center">
    <%= link_to "Next", { :action => "step3_timetable" }, :class => "action-button" %>
  </DIV>
  <DIV style="width: 675px; text-align: right;">
    <%= select_tag "semester_id", options_for_select(@semester_filter_options, @current_semester.id),
      :onChange => "if ($('#semester_id')[0].value == '#{@current_semester.id}') { $('#groups1').show();$('#groups2').hide(); } else { $('#groups1').hide(); $('#groups2').show(); }" %>
  </DIV>
  <div id="groups1">
    <%- @groups = @groups1 %>
    <%= render :partial => "groups/groups_for_ministry" %>
  </div>
  <div id="groups2" style="display:none">
    <%- @groups = @groups2 %>
    <%= render :partial => "groups/groups_for_ministry" %>
  </div>
  <DIV style="clear:both" class="center">
    <%= link_to "Next", { :action => "step3_timetable" }, :class => "action-button" %>
  </DIV>
</DIV>

<DIV class="center">
  
<BR/>
<BR/>
<P>
  <B>If you just want to join a group and have leaders put you into a group that fits your timetable, please choose a collection group below:</B>
</P>

<%= link_to "Collection group for the <u>#{@current_semester.desc}</u> semester", { :action => "step2_default_group", :semester_id => "#{@current_semester.id}" }, :class => "action-button" %>
<BR/>
<%= link_to "Collection group for the <u>#{@next_semester.desc}</u> semester", { :action => "step2_default_group", :semester_id => "#{@next_semester.id}" }, :class => "action-button" %>

<BR/>
<BR/>
<P>
  <small>Please note: Fall semesters are from September - December, Winter months are from January - April, and Summer months are from May - July</small>
</P>

<BR/>
<BR/>

<%= link_to "Back", { :action => "step1_info" }, :class => "action-button" %>

</DIV>