<% instruction_block do %>
<b>Step 2:</b> Join a group!
<% end %>

<center>
  <%= render :partial => 'jquery_ui_progress', :locals => { :current_step => 2 } %>
</center>


<DIV class="center">
  
  <P>
    Enter your timetable and have leaders find a group that fits your schedule:
  </P>

  <%= link_to "Find a group for me for #{@current_semester.desc.upcase}", { :action => "step2_default_group", :semester_id => "#{@current_semester.id}" }, :class => "action-button" %>
  <BR/>
  <%= link_to "Find a group for me for #{@next_semester.desc.upcase}", { :action => "step2_default_group", :semester_id => "#{@next_semester.id}" }, :class => "action-button" %>



  <BR/>
  <BR/>
  <BR/>

</DIV>


<DIV class="center"><%= link_to_function "I want to join an existing group for #{@current_semester.desc.upcase}", "$(\"#groups_list\").is(':visible') ? $(\"#groups_list\").slideUp() : $(\"#groups_list\").slideDown();", :class => "action-button" %></DIV>

<DIV id="groups_list" style="display:none">
  <BR/>

  <DIV style="clear:both" class="center">
    <%= link_to "Next", { :action => "step3_timetable" }, :class => "action-button" %>
  </DIV>
  <DIV style="width: 675px; text-align: right;">
    <%= select_tag "semester_id", options_for_select(@semester_filter_options, @current_semester.id),
      :onChange => "if ($('#semester_id')[0].value == '#{@current_semester.id}') { $('#groups1').show();$('#groups2').hide(); } else { $('#groups1').hide(); $('#groups2').show(); }" %>
  </DIV>
  <div id="groups1">
    <%- @groups = @groups1 %>
    <%= render :partial => "groups/groups_for_ministry" %>
  </div>
  <div id="groups2" style="display:none">
    <%- @groups = @groups2 %>
    <%= render :partial => "groups/groups_for_ministry" %>
  </div>
  <DIV style="clear:both" class="center">
    <%= link_to "Next", { :action => "step3_timetable" }, :class => "action-button" %>
  </DIV>
</DIV>


<DIV class="center">
  <BR/>
  <P>
    <small>FALL: September - December<br>WINTER: January - April<br>SUMMER: May - July</small>
  </P>
  <BR/>
  <BR/>
  <%= link_to "Back", { :action => "step1_info" }, :class => "action-button" %>
</DIV>