<% instruction_block do %>
  <% if logged_in? && session[:from_facebook_canvas] == true %>
    Hi <b><%= @person.full_name %></b>, if that's not you
    <%= leave_facebook_link_to "click here to logout", logout_url %>
  <% end %>
<% end %>


<div id="signup_group_select_container">
  <% campus_prompt = @ask_campus ? "Please select a campus..." : "" %>
  <%= select_tag "primary_campus_involvement_campus_id",
        options_for_select(["#{campus_prompt}"] + @campuses.collect{ |c| [ c.name, c.id.to_s ] },
        session[:signup_campus_id].to_s),
        :name => "primary_campus_involvement[campus_id]"
  %>
  <%= select_tag "group_semester_id",
      options_for_select(@semesters.collect{ |s| [ t("terms.#{s.translation_key}"), s.id.to_s ] },
        @current_semester.id.to_s),
        :name => "group[semester_id]",
        :style => "#{'display:none;' if @ask_campus}"
  %>
</div>
  
<div id="spinner" class="signup_groups" style="display:none;">
  <%= image_tag "default/shared/large-loading.gif" %>
  <br/>
  <%= t('groups.getting') %>
</div>

<div id="groups">
</div>


<script type="text/javascript">
  $('#primary_campus_involvement_campus_id').change(function() {
    update_groups();
  });

  $('#group_semester_id').change(function() {
    update_groups();
  });

  function update_groups() {
    campus_value = $("#primary_campus_involvement_campus_id").val();
    semester_value = $("#group_semester_id").val();
    
    if ($("#primary_campus_involvement_campus_id").val() != "" && $("#primary_campus_involvement_campus_id").val() != "<%=campus_prompt%>" && $("#group_semester_id").val() != "") {
      jQuery.ajax({data:'primary_campus_involvement_campus_id='+campus_value+'&group_semester_id='+semester_value,
                   dataType:'script', 
                   beforeSend: function() {
                     $("#groups").hide();
                     $("#spinner").fadeIn();
                   },
                   complete: function() { 
                     $("#spinner").hide();
                     $("#groups").fadeIn();
                     <% if @ask_campus %>
                       $("#group_semester_id").fadeIn();
                     <% end %>
                   },
                   type:'post', url:'/signup/step1_group_from_campus'});
    }
  }

  $(document).ready(function() {
    update_groups();
  });
</script>

