

<% if session[:from_facebook_canvas] == true %>
<script type="text/javascript">
  function facebook_init_callback() {
  }

  function facebook_login_callback(session) {
    FB.api('/me', function(response) {
      setValueIfNotSetButPresent('person_first_name', response.first_name);
      setValueIfNotSetButPresent('person_last_name', response.last_name);
      setValueIfNotSetButPresent('person_email', response.email);
      setValueIfNotSetButPresent('person_local_phone', response.mobile_phone);

      // don't confuse gender index with the value
      if(response.gender == "male" && document.getElementById('person_gender').value == "") {
        document.getElementById('person_gender').selectedIndex = 1;
      } else if(response.gender == "female" && document.getElementById('person_gender').value == "") {
        document.getElementById('person_gender').selectedIndex = 2;
      }
    });
  }
</script>
<% end %>


<% instruction_block do %>
  <% if logged_in? && session[:from_facebook_canvas] == true %>
    Hi <b><%= @person.full_name %></b>, if that's not you
    <%= leave_facebook_link_to "click here to logout", logout_url %>
    <br/>
    <br/>
  <% end %>
  Register for your group!
<% end %>


<div id="signup_step1_columns">

<%- form_for @person, :url => { :action => :step2_info_submit, :method => :post } do |f| -%>
  <%= f.error_messages %>
  <table id="signup_step2_info">
  <tr>
    <td class="label">First Name </td>
    <td>
      <%= f.text_field :first_name, :class => "required" %>
      <%= message_span("person[first_name]", "required") %>
    </td>
  </tr>
  <tr>
    <td class="label">Last Name </td>
    <td>
      <%= f.text_field :last_name, :class => "required" %>
      <%= message_span("person[last_name]", "required") %>
    </td>
  </tr>
  <%- unless logged_in? %>
  <tr>
    <td class="label">Email </td>
    <td>
      <%= f.text_field :email, :class => "required" %>
      <%= message_span("person[email]", "required") %>
    </td>
  </tr>
  <%- end %>
  <tr>
    <td class="label">Gender </td>
    <td>
      <%= f.select :gender, [["Male", "1"], ["Female", "0"]], {:selected => @person.gender_us_id, :prompt => ""}, {:class => "required"} %>
      <%= message_span("person[gender]", "required") %>
    </td>
  </tr>
  <tr>
    <td class="label">Phone </td>
    <td>
      <%= f.text_field :local_phone, :class => "required" %>
      <%= message_span("person[local_phone]", "required") %>
    </td>
  </tr>
  <tr>
    <td class="label">School Year </td>
    <td>
      <%= select_tag "primary_campus_involvement_school_year_id", 
            options_for_select(school_year_options, @primary_campus_involvement.school_year_id.to_i),
            {:name => "primary_campus_involvement[school_year_id]", :class => "required"}
      %>
      <%= message_span("primary_campus_involvement[school_year_id]", "required") %>
    </td>
  </tr>
  <tr>
    <td class="label">Major </td>
    <td><%= f.text_field :major %></td>
  </tr>
  <%= render :partial => "dorm_tr" %>
  </table>

</div>

<br/>
<br/>

<div class="center">
  <%= submit_tag("#{@next_button_text.present? ? @next_button_text : 'Next'}", :id => "submit", :class => 'action-button submit validateRequiredOnSubmit') %>
</div>

<%- end -%>

  
<%= javascript_include_tag "inputLiveValidations.js" %>


