<div id="campuses">
	<div id="current_campuses" class="current_campuses">
		<div class="title"><%= @ministry.name %> Campuses</div>
		<ul id="direct_campus_list">
		<%= render :partial => @ministry.ministry_campuses %>
		</ul>
		<%- unless @ministry.subministry_campuses.empty? -%>
			<div class="title">Inferred Campuses (from sub-ministries)</div>
			<ul id="inferred_campus_list" style="margin-left:+2em">
			<%= render :partial => @ministry.children %>
			</ul>
		<%- end -%>
	</div>
	<div id="instructions">
		This screen serves as a launching area for managing the high school and/or college campuses you work with. 
	</div><br />
	<div>
  	<div id="new_campus_link">
  		<%- if @ministry.campuses.empty? -%>
  			You haven't added any campuses to your ministry yet. Please click the '<strong>Add a campus</strong>' link below.<br /><br />
  		<%- end -%>
  		<%= link_to_remote('Add a campus', :url => {:action => :new},
  											 	 :before => "$('#new_campus_link').slideUp(); $('#spinner').show()")%><%= spinner %>
  	</div>
	</div>
		<div id="campus">
		</div>
</div>