	<div id="current_campuses" class="current_campuses">
		<div class="title"><%= @ministry.name %> Campuses</div>
		<ul id="direct_campus_list">
		<%= render :partial => @ministry.ministry_campuses %>
		</ul>
		<%- unless @ministry.subministry_campuses.empty? -%>
			<div class="title">Inferred Campuses (from sub-ministries)</div>
			<ul id="inferred_campus_list">
			  <%- @subministry = @ministry.subministry_campuses.first.ministry -%>
        <li><h4 class="u"><strong><%= @subministry.name %></strong></h4></li>
  			<%= render :partial => @ministry.subministry_campuses %>
			</ul>
		<%- end -%>
	</div>
	<br/>
	<div>
	  <% if authorized?(:new, :ministry_campuses) %>
  	<div id="new_campus_link">
  		<%- if @ministry.ministry_campuses.empty? -%>
  			You haven't added any campuses to your ministry yet. Please click the '<strong>Add a campus</strong>' link below.<br /><br />
  		<%- end -%>
  		<%= link_to_remote('Add a campus', :url => new_ministry_ministry_campus_path(@ministry),
  											 	 :before => "$('#new_campus_link').slideUp(); $('#spinnercampus').show()") %>
  	</div>
  	 <%= spinner('campus') %>
  	<% end %>
	</div>
		<div id="new_campus" style="display:none">	</div>
