<h2>Connect Import Survey Contacts Log</h2><br>

<% warns = 0 %>
<% errors = 0 %>

<div class="log_output_container">
  <% if @log_lines && @log_lines.present? %>
    <div class="log_line">
      <p><br><%= @num_lines > @unfiltered_log_lines.length ? 'End of file.' : link_to('Show more lines...', url_for(params.merge({ :n => @num_lines + 10000 }))) %><br><br></p>
    </div>

    <% @log_lines.each do |line| %>
      <% classes = '' %>
      <% if line.include? '[WARN]' %>
        <% warns += 1 %>
        <% classes += ' warn' %>
      <% end %>
      <% if line.include? '[ERROR]' %>
        <% errors += 1 %>
        <% classes += ' error' %>
      <% end %>

      <div class="log_line<%= classes %>"><%= line.gsub(@include_log_tag, '') %></div>
    <% end %>

  <% else %>
    <div class="log_line error">No log output to display. Check that the log file "<%= @log_path %>" exists, also check your Rails CiviCRM configuration at "<%= @yml_config_path %>"</div>
    <% errors += 1 %>
  <% end %>
</div>

<div class="log_output_status">
  <span class="log_line<%= errors > 0 ? ' error' : '' %>"><%= pluralize errors, 'error' %>.</span>
  <span class="log_line<%= warns > 0 ? ' warn' : '' %>"><%= pluralize warns, 'warning' %>.</span>
</div>

<br>

<p><br>Survey contacts are imported from Connect into The Pulse by running the Rake task <code>connect:import_contacts</code> as a Cron job.</p>

<p>
  The specific command is:<br>
  <code><%= @crontab_cmd %></code><br>
  <% if @crontab_list_output.include?(@crontab_cmd) %>
    <strong>This command was detected in the crontab.</strong>
  <% else %>
    <strong class="error">WARNING: This command was not detected in the crontab!</strong>
  <% end %>
</p>

<p>Output is logged to "<%= @log_path %>" above is the tail of <%= @num_lines %> lines.</p>


<script>
  $(function() {
    $('.log_output_container').animate({ scrollTop: $('.log_output_container')[0].scrollHeight }, 1000);
  });
</script>