<h1><%= @person.full_name %></h1> 
<div class="divider" style="margin-bottom:0;">&nbsp;</div>
<%- @all_questions = [] -%>
<%- remote_form_for @person do |f| -%>
    <%= hidden_field_tag :no_profile, true %>
    <%- @ministry.all_training_categories.each do |category| 
        questions = @ministry.all_training_questions.select {|q| q.training_category_id == category.id && 
                              (@ministry.active_training_questions.include?(q) || @ministry.mandated_training_questions.include?(q))} 
        unless questions.empty? 
          @all_questions += questions -%>
          <h3 class="title"><%= category.name %></h3>
      		<table width="100%">
      		<%- questions.each do |q|  -%>
        		<tr>
        			<td width="20%" nowrap="nowrap"><%= q.activity %>: </td>
        			<td> <%= training_question_field(q, @person) %></td>
        		</tr>
      	  <%- end -%>
      		</table>
  	<%- end
  	end -%>
  	<%- if @all_questions.empty? -%>
  	  <p>
  	    There aren't any training items set up for this movement. 
  	    <%= link_to('Please click here to define some', customize_path(@ministry)) if authorized?(:new, :training_questions) %>
  	  </p>
  	<%- else -%>
  		<%= submit_tag %>
  	<%- end -%>
<%- end -%>
