<%- unless @no_timetable.empty? -%>
  <div style="border:1px solid black;padding:5px;margin-bottom:10px">
    <h4 class="warning">Warning: we're missing timetables for the following people:</h4>
    <ul>
      <%- @no_timetable.each do |person| -%>
        <li><%= person.full_name %></li>
      <%- end -%>
    </ul>
  </div>
<%- end -%>
<%- @groups.each_with_index do |group, i| -%>
<div style="width:400px">
  Option <%= i + 1 %>
  <table border="1">
    <tbody>
      <tr>
        <td>&nbsp;</td>
        <%- group.each do |time| -%>
          <%- hours = time[:time] / 3600
              mins = (time[:time] - (hours * 3600)) / 60 -%>
          <td align="center">
            <% am_pm = hours > 11 ? 'pm' : 'am' %>
            <% hours = hours > 12 ? hours - 12 : hours %>
            <%= Date::ABBR_DAYNAMES[time[:day]] %> <%= hours %>:<%= sprintf("%02d", mins) %> <%= am_pm %><br/>
            <%= link_to_function('create this group', '') %>
          </td>
        <%- end -%>
      </tr>
      <%- @people.each do |person| 
          free_times = Timetable.setup_timetable(person) -%>
        <tr>
          <td><%= person.full_name %></td>
          <%- group.each do |time| -%>
            <%- person_time = free_times[time[:day]][time[:time]] -%>
            <%- css_class =  person_time && person_time.css_class.present? ? person_time.css_class : 'ok'  -%>
            <%- css_class += ' b' if time[:members].include?(person.id) && @leader_ids.include?(person.id) -%>
            <td width="120px" class="<%= css_class %> ">
              <input type="checkbox" value="1" name="time_<%= time[:time] %>[][<%= person.id %>]" id="time_<%= time[:time] %>_<%= person.id %>" <%= time[:members].include?(person.id) ? 'checked="checked"' : '' %>/>
              <%= person_time ? person_time.css_class.try(:titleize) : 'Ok' %>
            </td>
          <%- end -%>
        </tr>
      <%- end -%>
    </tbody>
  </table>
</div>
<br/>
<%- group.each do |time| -%>
<div id="group_<%= time[:day] %>_<%= time[:time] %>">
  <% @members = time[:members]
     @leaders = time[:leaders] %>
  <%#= render :partial => 'groups/form', :locals => {:group => Group.new(:start_time => time[:time], 
                                                                        :day => time[:day], 
                                                                        :end_time => time[:time] + params[:length].to_f.hours)} %>
</div>
<% end %>
<%- end if @groups -%>
<script type="text/javascript" charset="utf-8">
function show_create_group() {
	tb_show('Add Student', '#TB_inline?width=450&height=320&inlineId=addStudent')
}
</script>
<%= link_to_function("Go back and try again", "$('#results').fade();$('#timetable_search').appear()") %>