<%- @everyone = @people + @no_timetable -%>
<%- @groups.each_with_index do |group, i| -%>
<div style="width:400px">
  Option <%= i + 1 %>
  <table border="1">
    <tbody>
      <tr>
        <td>&nbsp;</td>
        <%- group.each do |time| -%>
          <%- hours = time[:time] / 3600
              mins = (time[:time] - (hours * 3600)) / 60 -%>
          <td><%= Date::ABBR_DAYNAMES[time[:day]] %> <%= hours %>:<%= sprintf("%02d", mins) %></td>
        <%- end -%>
      </tr>
      <%- @everyone.each do |person| 
          free_times = Timetable.setup_timetable(person) -%>
        <tr>
          <td><%= person.full_name %></td>
          <%- group.each do |time| -%>
            <%- if free_times.empty? -%>
              <td align="center" >OK</td>
            <%- else -%>
              <%- person_time = free_times[time[:day]][time[:time]] -%>
              <td align="center" width="60px" class="<%= person_time ? person_time.css_class : 'bad' %>"><%= person_time ? person_time.css_class.titleize : 'Bad' %></td>
            <%- end -%>
          <%- end -%>
        </tr>
      <%- end -%>
    </tbody>
  </table>
</div>
<br/>
<%- end if @groups -%>

<!-- 

  <table border="1">
  <tbody><tr>
    <td/>
    <td>
      Thu13    </td><td>
      Thu12    </td><td>
      Thu9    </td><td>
      Wed17    </td><td>
      Thu10    </td><td>
      Wed16    </td><td>
      Wed12    </td><td>
      Wed8    </td><td>
      Mon11    </td><td>
      Mon14    </td>  </tr>

  <tr>
    <td> Andrew de Jonge </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="white">
      Good    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff6600">
      Poor    </td>
    
    <td bgcolor="white">
      Good    </td>
    
    <td bgcolor="white">
      Good    </td>
      </tr><tr>
    <td> Andrew Mellor </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="white">
      Good    </td>
    
    <td bgcolor="white">
      Good    </td>
    
    <td bgcolor="white">
      Good    </td>
    
    <td bgcolor="white">
      Good    </td>
    
    <td bgcolor="white">
      Good    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="white">
      Good    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="red">
      Bad    </td>
      </tr><tr>
    <td> Andy Donaldson </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="white">
      Good    </td>
    
    <td bgcolor="white">
      Good    </td>
    
    <td bgcolor="#ff6600">
      Poor    </td>
    
    <td bgcolor="white">
      Good    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="white">
      Good    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="red">
      Bad    </td>
      </tr><tr>
    <td> Angela Sun </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
      </tr><tr>
    <td> Ann Hoang </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="red">
      Bad    </td>
      </tr><tr>
    <td> anna churchill </td>
    
    <td bgcolor="white">
      Good    </td>
    
    <td bgcolor="#ff6600">
      Poor    </td>
    
    <td bgcolor="white">
      Good    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff6600">
      Poor    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff6600">
      Poor    </td>
    
    <td bgcolor="white">
      Good    </td>
      </tr><tr>
    <td> Anneliz George </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
      </tr><tr>
    <td> Ara Daquinag </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
      </tr><tr>
    <td> Ben Hwang </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
      </tr><tr>
    <td> Bibiann Kim </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
      </tr><tr>
    <td> Billy Tang </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="white">
      Good    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="red">
      Bad    </td>
      </tr><tr>
    <td> camellia leong </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
      </tr><tr>
    <td> Carmen Tsang </td>
    
    <td bgcolor="white">
      Good    </td>
    
    <td bgcolor="white">
      Good    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="#ff6600">
      Poor    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="#ff6600">
      Poor    </td>
    
    <td bgcolor="white">
      Good    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="red">
      Bad    </td>
      </tr><tr>
    <td> Cat Gillies </td>
    
    <td bgcolor="white">
      Good    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="#ff6600">
      Poor    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="red">
      Bad    </td>
    
    <td bgcolor="#ff6600">
      Poor    </td>
    
    <td bgcolor="#ff6600">
      Poor    </td>
      </tr><tr>
    <td> Chris Leong </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
    
    <td bgcolor="#ff9966">
      OK    </td>
      </tr></tbody></table> -->