<%- if people.length > 0 -%>
	Click on the name of the person you'd like to add:<br />
	<div class="resultsbox">
  	<table cellpadding="0" cellspacing="0" class="directorytable">
  	  <tr><th>Name</th><th>Email</th><th colspan="3"></th></tr>
  	<%- people.each do |person| -%>
  	  <tr class="<%= cycle('nohighlight','highlight') %>">
  	    <td>
  	      <%- append = "<p id=\"person_type_#{person.id}\">#{person.full_name} | "
              append += link_to_function('remove', "$(this).parent().remove();$(\\'##{type}_#{person.id}\\').remove();$(\\'#filter_#{person.id}\\').remove();", :class => 'cancel') 
              append += '</p>'  %>
    			<%= person.full_name %>
    		</td>
    		<td><%= person.current_address.email if person.current_address %></td>
    		
  		  <%- types = ['leader','co_leader', 'member']
          types.each do |type| -%>
      		<td>
      		  <%= link_to_function(type.titleize,  "$('##{type}').append('#{append}');
                                            			$('#ids').append('#{hidden_field_tag("#{type}_ids[]", person.id, :id => "#{type}_#{person.id}")}');
                                            			$('#filter_ids').append('#{hidden_field_tag("filter_ids[]", person.id, :id => "filter_#{person.id}")}');
    			                                        $('#search_results').hide();
    			                                        $('#search').val('');
    			                                        $('#person_#{type}_#{person.id}').highlight()") %>
      		</td>
      	<% end %>
  		</tr>
  	<%- end -%>
  	</table>
  </div>
<%- else -%>
	<br />
	<strong>Sorry, I couldn't find anyone new by that name. If you have already added this person, you can't add them again.</strong>
<%- end -%><br/>
<%= link_to_function('Close this search', "$(this).parent().hide()", :class => 'cancel') %>