<div id="timetable_search">
  <h1 class="title">Find Common Times</h1>
  <h2>Find common times between users for a group</h2>
  <p>Choose which users would be Leaders, Co-Leaders or Participants for this group.</p>
  <%- before = "$('#spinner').show();"
      complete = "$('#spinner').hide();$('#search_results:hidden').slideDown()" 
  -%>
  <%- form_remote_tag(:html => {:id => "search_form"}, :before => before, 
  					          :url => search_people_url, :update => 'search_results', :complete => complete) do -%>
   	Search for people:&nbsp;&nbsp;
  	<%= text_field_tag :search, '', :id => "search" %> &nbsp;
  	<%= submit_tag('Search') %> &nbsp;<%= spinner() %>
  	<div id="filter_ids"></div>
  	<%= hidden_field_tag :context, 'timetables' %>
  <%- end -%> 
  <%#= observe_form("search_form", :before => before,
          :url => search_people_url, :update => 'search_results', :complete => complete, 
          :method => :post, :frequency => 0.75,
          :condition => "$('#search').val().length > 3")  %>
  <div id="search_results"></div>
  <%- types = ['leader','co_leader', 'member']
      types.each do |type| -%>
  <p>
    <h4><%= type.titleize.pluralize %></h4>
    <div id="<%= type %>"></div>
  </p>
  <br/>
  <%- end -%>
  <%- form_remote_tag(:url => search_timetables_path, :before => types.collect {|t| "$('##{t}_results').hide();"}.join('') + "$('#spinnersubmit').show()") do -%>
  <div id="ids"></div>
  <%= link_to_function('More Options', "$('#more_options').toggle();$(this).hide();") %><br/>
  <div id="more_options" style="display:none">
  
    <!-- <table border="1" cellspacing="0" cellpadding="4">

      <tr>
        <th width="25%"></th>
        <th width="25%">Leaders</th>
        <th width="25%">Co-Leaders</th>
        <th width="25%">Participants</th>
      </tr>

      <tr>

        <td width="25%">Minimum per group:</td>
        <td width="25%"><input type="text" name="Min[Leader]" size="2" value="1"></td>
        <td width="25%"><input type="text" name="Min[Co-Leader]" size="2" value="0"></td>
        <td width="25%"><input type="text" name="Min[Participant]" size="2" value="1"></td>
      </tr>
      <tr>

        <td width="25%">Maximum per group:</td>
        <td width="25%"><input type="text" name="Max[Leader]" size="2" value="1"></td>
        <td width="25%"><input type="text" name="Max[Co-Leader]" size="2" value="1"></td>
        <td width="25%"><input type="text" name="Max[Participant]" size="4" value="none"></td>

      </tr>


      <tr>
        <td width="20%">
          Cutoff quality:
          <%#- tooltip  do -%>
            Change this value to give preferential treatment<br/>to a leader, coleaders or participants when deciding group times.
          <%#- end -%>
        </td>

        <td>
            <select name="Quality[Leader]">
            <option value="1">Poor</option>
            <option value="2">OK</option>
            <option value="3">Good</option>
          </select>
        </td>
        <td>
          <select name="Quality[Co-Leader]">
            <option value="1">Poor</option>
            <option value="2">OK</option>
            <option value="3">Good</option>
          </select>
        </td>
        <td><select name="Quality[Participant]">
          <option value="1">Poor</option>
          <option value="2">OK</option>
          <option value="3">Good</option></select>
        </td>  
      </tr>   
    </table> -->
    <table border="0" cellspacing="5" cellpadding="5">
      <tr>
        <td width="250px">Maximum number of groups to be formed: </td>
        <td><%= text_field_tag :max_groups, '', :size => 2 %></td>
      </tr>
      <tr>
        <td>How long will the group meet for? </td>
        <td><%= text_field_tag :length, 1, :size => 2 %> (i.e. 1.5 hours)</td>
      </tr>
    </table>

    <!-- How many groups can a leader oversee? <%= text_field_tag :groups_per_leader, 1 %><br/> -->
  </div>
  <br/>
  <%= submit_tag('Submit') %>
  &nbsp;
  <%= spinner('submit') %>
  <%- end -%>
</div>
<div id="results"></div>

