<%= javascript_include_tag 'timetable' %>
<h1><%= @person.full_name %></h1> 
<div class="divider" style="margin-bottom:0;">&nbsp;</div>
<br />
<%- if @can_edit -%>
  <%- if @printable -%>
	 <!-- DO *NOT* SHOW LINKS -->
	<%- elsif -%>
	  <div class="butNormal" style="margin-top:20px;">
	    <%= link_to('Edit timetable', edit_person_timetable_path(@person, @timetable)) %>
	  </div>
		&nbsp;&nbsp;
		<small><%= link_to(image_tag('silk/printer.png'), person_timetable_path(@person, @timetable, :print_it => "true"),
	  :title => "Print timetable", :popup => ['Print_Timetable', 'height=768,width=1024']) %></small>
	<%- end -%>
<%- end -%>

<div style="float:right">
  <% if @timetable.updated_at.present? %>
    <span title="at exactly <%=@timetable.updated_at%>">
      Last updated <%= distance_of_time_in_words(Time.zone.now, @timetable.updated_at) %> ago<%= ", by #{@timetable.updated_by_person.full_name}" if @timetable.updated_by_person.present? %>
    </span>
  <% else %>
    Timetable never updated
  <% end %>
</div>

<%- if @can_edit || @can_show -%>
<div class="statusheadwrap">
  <div class="badhead"></div>
	<% if !Cmt::CONFIG[:hide_poor_status_in_scheduler] %>
  	<div class="poorhead"></div>
	<% end %>
  <div class="okhead"></div>
  <div class="goodhead"></div>
</div>
<%- end -%>
<%- if @can_show -%>
  <%= render :partial => 'timetable' %>
<%- else -%>
  Nothing to see here. Please move on.
<%- end -%>
