<script type="text/javascript" charset="utf-8">
  // Loop over the table cells and collect the ones that are checked
  // 61 td cells per column
  // free_times[0] == Sunday
  // free_times[0][0][0] = First Start Time on Sunday
  // free_times[0][0][1] = First End Time on Sunday
  function set_times_field() {
    var free = false;
    var blocks = 0;
    var been_free = false;
    var current_day;
    free_times = [[new Array], [new Array], [new Array], [new Array], [new Array], [new Array], [new Array]];
    for(i=0; i<7; i++) {
      // Go down each column
      $('table#schedule td.day_' + i).each(function(index) {
        if($(this).hasClass('busy')) {
          if(!free) {
            day = i;
            // alert(day);
            free = true;
            been_free = true;
            if(day != current_day) {
              current_day = day;
              blocks = 0;
            }
            // alert($(this).find('input').val())
            // free_times[day] = new Array;
            // alert(blocks);
            free_times[day][blocks] = new Array;
            free_times[day][blocks][0] = Number($(this).find('input').val());
            // alert(free_times[day][blocks][0]);
            // Set End Time 15 mins later
            free_times[day][blocks][1] = Number($(this).find('input').val()) + (<%= Timetable::INTERVAL %>);
          } else {
            // Set End Time 15 mins later
            free_times[day][blocks][1] = Number($(this).find('input').val()) + (<%= Timetable::INTERVAL %>);
            // alert(free_times[day][blocks][1]);
          }
        } else {
          if(been_free) {
             blocks++;
             been_free = false;
             // alert(blocks);
          }
          free = false;
        }
      })
    }
    $('#times').val($.toJSON(free_times))
  }
</script>
<%- remote_form_for [@person, @timetable], :before => "set_times_field()" do |f| -%>
  <%= hidden_field_tag :times %>
  <%= f.submit 'Update Timetable' %>
<%- end -%><br/>
<table id="schedule" width="250px" cellspacing="0">
  <thead>
    <tr>
      <th>&nbsp;</th>
    <%- 7.times do |i| -%>
      <th><%= Date::DAYNAMES[i] %></th>
    <%- end -%>
  </thead>
  <tbody>
    <!-- 6 am to 10 pm in 15 minute intervals -->
    <%- midnight = Time.today.beginning_of_day
        time = midnight + Timetable::EARLIEST 
        stop = midnight + Timetable::LATEST -%>
    <%- while time < stop 
        time_in_seconds = time.to_i - midnight.to_i -%>
      <tr>
        <td width="10px" class="time"><%= time.to_s(:time) %></td>
        <%- 7.times do |i| -%>
        <%#= logger.debug(@free_times[i].inspect) %>
        <%#- free_index = @free_times[i].detect {|bt|} -%>
        <td width="50px" height="10px" class="day_<%= i %> <%= 'busy' if @free_times[i].present? && !@free_times[i].include?(time_in_seconds) %>">
          &nbsp;
          <%= hidden_field_tag("time_#{time.to_i}", time_in_seconds) %>
        </td>
        <%- end -%>
      </tr>
      <%- time += Timetable::INTERVAL -%>
    <%- end -%>
  <tbody>
</table>    
<style>
  .busy {background:blue;}
</style>
<script>
  down = false;
  direction = 'on';
  $('table#schedule td:not(.time)').mousedown(function() {
    down = true;
    if($(this).hasClass('busy')) {
      direction = 'off';
      $(this).removeClass('busy')
    } else {
      direction = 'on';
      $(this).addClass('busy')
    }
  })
  $('table#schedule td:not(.time)').mouseover(function() {
    if(down) {
      if(direction == 'off') {
        $(this).removeClass('busy')
      } else {
        $(this).addClass('busy')
      }
    }
  })
  $('body').mouseup(function() {
    down = false;
  })
</script>