<%- help_block do -%> 
  <h3>Managing <%= I18n.t :Staff_plural, :default => 'Staff' %> </h3>
  To change the role of a current staff member, click on he "change role" button beside their name. 
  <br />
  This is where you can add new <%= I18n.t :staff_plural, :default => 'staff' %>. Click on the "add new #{I18n.t :staff_member_plural, :default => 'staff_member'} or student leader" to fill out a form to create a new account for this person.
  If you enter the email of someone who already exists on the CMT, their profile will be updated, they'll be add to this ministry, and their role will be updated
  for this ministry. 
<%- end -%>

<div id="staff">
	<div id="current_campuses" class="right_list">
		<div class="title"><%= @ministry.name %> Leaders/<%= t(:Staff_plural, :default => 'Staff') %></div>
		<ul id="staff_list">
		<%= render :partial => 'staff/staff', :collection => @staff %>
		</ul>
	</div>
	<div id="instructions">
		This screen serves as a launching area for managing the <%= t(:staff_plural, :default => 'staff') %> in your ministry. 
	</div><br />
	<div id="add_person_link">
		<%= link_to_remote( "Add a #{I18n.t :staff_member_plural, :default => 'staff_member'} or student leader", 
		                    :url => new_person_url(:staff => true), :before => "$('#spinner').show()", :method => :get) %>
		<%= spinner %><br />
	</div>
	<div id="person" style="display:none"></div>
</div>
