<li id="staff<%= staff.id %>">
  <%= link_to staff.full_name, person_url(staff) %> 
  <%- if is_ministry_admin -%> 
    | 
    <%= link_to_remote 'change role', :url => "/ministry_involvements/edit/0?person_id=#{staff.id}&ministry_id=#{@ministry.id}",
                                            :before => "$('#spinner#{staff.id}').show()" %> <!-- | 

                                                <%= link_to_remote 'demote to student', :url => "/staff/demote_form/#{staff.id}",
                                                                                        :before => "$('#spinner#{staff.id}').show()" %>  -->
  <%- end -%>
  <%= spinner(staff.id) %>
  <div id="campus_form<%= staff.id %>"></div>
</li>