<li>
<%- inv = involvement_li %>
&nbsp;&nbsp;<%= inv.start_date %> <%= t('profile.manage_campuses.to') %> <%= inv.end_date %><%- if inv.campus -%> <%= t('profile.manage_campuses.at') %> <%= inv.campus.name %><%- end -%> <%- if inv.school_year -%> <%= t("years.#{inv.school_year.translation_key}") -%> <%- end -%><%- if inv.ministry_role %> <%= inv.ministry_role.name %><%- end -%><%- if inv.ministry -%> at <%= inv.ministry.name %><%- end %>
</li>
