<h1>New term</h1>

<% form_for(@term) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :default %><br />
    <%= f.text_field :default %>
  </p>
  <p>
    <%= f.label :start %><br />
    <%= f.date_select :start %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.date_select :end %>
  </p>
  <p>
    <%= f.label :school_year %><br />
    <%= f.text_field :school_year %>
  </p>
  <p>
    <%= f.label :verify_date_sent %><br />
    <%= f.date_select :verify_date_sent %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', terms_path %>