<p>
  <b>Name:</b>
  <%=h @term.name %>
</p>

<p>
  <b>Default:</b>
  <%=h @term.default %>
</p>

<p>
  <b>Start:</b>
  <%=h @term.start %>
</p>

<p>
  <b>End:</b>
  <%=h @term.end %>
</p>

<p>
  <b>School year:</b>
  <%=h @term.school_year %>
</p>

<p>
  <b>Verify date sent:</b>
  <%=h @term.verify_date_sent %>
</p>


<%= link_to 'Edit', edit_term_path(@term) %> |
<%= link_to 'Back', terms_path %>