<h1>Editing global_dashboard_access</h1>

<% form_for(@global_dashboard_access) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :guid %><br />
    <%= f.text_field :guid %>
  </p>
  <p>
    <%= f.label :fn %><br />
    <%= f.text_field :fn %>
  </p>
  <p>
    <%= f.label :ln %><br />
    <%= f.text_field :ln %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :admin %><br />
    <%= f.check_box :admin %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @global_dashboard_access %> |
<%= link_to 'Back', global_dashboard_accesses_path %>
