<h1>Listing global_dashboard_accesses</h1>

<table>
  <tr>
    <th>Guid</th>
    <th>Fn</th>
    <th>Ln</th>
    <th>Email</th>
  </tr>

<% @global_dashboard_accesses.each do |global_dashboard_access| %>
  <tr>
    <td><%=h global_dashboard_access.guid %></td>
    <td><%=h global_dashboard_access.fn %></td>
    <td><%=h global_dashboard_access.ln %></td>
    <td><%=h global_dashboard_access.email %></td>
    <td><%= link_to 'Show', global_dashboard_access %></td>
    <td><%= link_to 'Edit', edit_global_dashboard_access_path(global_dashboard_access) %></td>
    <td><%= link_to 'Destroy', global_dashboard_access, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New global_dashboard_access', new_global_dashboard_access_path %>