<p>
  <b>Guid:</b>
  <%=h @global_dashboard_access.guid %>
</p>

<p>
  <b>Fn:</b>
  <%=h @global_dashboard_access.fn %>
</p>

<p>
  <b>Ln:</b>
  <%=h @global_dashboard_access.ln %>
</p>

<p>
  <b>Email:</b>
  <%=h @global_dashboard_access.email %>
</p>


<%= link_to 'Edit', edit_global_dashboard_access_path(@global_dashboard_access) %> |
<%= link_to 'Back', global_dashboard_accesses_path %>