<table width="60%" border="0" cellspacing="2" cellpadding="5">
	<tr>
		<th>Address</th>
		<td><%= @group.address %></td>
		<th> <%= I18n.t :State, :default => 'State' %></th>
		<td><%= @group.state %></td>
		<th>Website</th>
		<td><%= @group.url %></td>
	</tr>
	<tr>
		<th>City</th>
		<td><%= @group.city %></td>
		<th>Zip</th>
		<td><%= @group.zip %></td>
		<th>Email</th>
		<td><%= @group.email %></td>
	</tr>
	</table>