<table width="60%" border="0" cellspacing="2" cellpadding="5">
	<tr>
		<th>Campus:</th>
		<!-- <td><%= @group.campus ? @group.campus.name : "No Campus Assigned" %></td> -->
		<td><%= @group.campus.name if  @group.campus %></td>
		<th>Address:</th>
		<td><%= @group.address %></td>
		<th> <%= I18n.t :State, :default => 'State' %>:</th>
		<td><%= @group.state %></td>
		<th>Email:</th>
		<td><%= @group.email %></td>
	</tr>
	<tr>
	  <th>Dorm:</th>
		<!-- <td><%= @group.dorm ? @group.dorm.name : "No Dorm Assigned" %></td> -->
		<td><%= @group.dorm.name if  @group.dorm %></td>
		<th>City:</th>
		<td><%= @group.city %></td>
		<th><%= I18n.t :Zip, :default => 'Zip' %>:</th>
		<td><%= @group.zip %></td>
		<th>Website:</th>
		<td><%= @group.url %></td>	
	</tr>
	</table>
<br />
<% midnight = Time.now.beginning_of_day %>
<%- if @group.start_time -%>
  Start Time: <%= (midnight + @group.start_time).to_s(:time) %><br />
<%- end -%>
<%- if @group.end_time -%>
  End Time:<%= (midnight + @group.end_time).to_s(:time) %> <br />
<%- end -%>
<%- if @group.day -%>
  Day of Week: <%= Date::DAYNAMES[@group.day] %> <br />
<%- end -%>