<%- remote_form_for group do |f| -%>
  <%= render 'form', :f => f %>
<%- end -%>
<% unless group.new_record? || !Cmt::CONFIG[:find_common_times_enabled] %>
<div id="timePicker" class="thickbox" style="display:none">
  <p>
  <%- form_remote_tag :url => find_times_group_path(group.id), :method => :post do -%>
    What days would you like to search? <br/>
    <%- 7.times do |i| -%>
      <%= Date::ABBR_DAYNAMES[i] %> <%= check_box_tag 'days[]', i, (1..5).to_a.include?(i) %> &nbsp;
    <%- end -%><br/><br/>
    What time range would you like to search within?<br/>
    Between <%= select_tag :range_start, options_for_select(times(Timetable::EARLIEST, Timetable::LATEST), 18.hours) %> and 
            <%= select_tag :range_end, options_for_select(times(Timetable::EARLIEST, Timetable::LATEST), 20.hours) %><br/><br/>
    Length of Meeting: <%= text_field_tag :length, '', :size => 3 %> hour(s)<br/><br/>
    <%= submit_tag 'Submit' %><br/>
  <%- end -%>
  </p>
</div>
<% end %>
