<script language="Javascript">
<!--
function toggleDiv(id, flagit) {
  if (flagit) {
    $('#'+id).show();
    $('#time_info_'+id).text(timeLabel());
  } else {
    $('#'+id).hide();
  }
}

function toggleTime(id) {
  if (set_start_next) {
    console.log("ajax set start time");
  } else {
    console.log("ajax set end time");
  }
  set_start_next = !set_start_next;
  updateTimeLabel(id);
}

function updateTimeLabel(id) {
    $('#time_info_'+id).text(timeLabel());
}

function timeLabel() {
  return 'Click to set as ' + (set_start_next ? 'start' : 'end') + ' time';
}

set_start_next = true;

//-->
</script>

<style type="text/css"> #cmap {position:relative; top: 100; left: 200; width:200; visibility:hidden}</style>

<div id = "notices">
	<%= render :partial => 'groups/show_notices' %>
</div>

<% if @display_compare_table == true %>
	<table id="schedule" width="250px" cellspacing="0">
	  <thead>
	    <tr>
	      <th>&nbsp;</th>
	    <%- 7.times do |day| -%>
	      <th><%= Date::DAYNAMES[day] %></th>
	    <%- end -%>
	  </thead>
	  <tbody>
	    <!-- 6 am to 10 pm in 15 minute intervals -->
	    <%- midnight = Time.now.beginning_of_day
	        time = midnight + Timetable::EARLIEST 
	        stop = midnight + Timetable::LATEST 
	        time_block = 0 -%>
	    <%- while time < stop 
	        	time_in_seconds = time.to_i - midnight.to_i -%>
	      <tr>
	        <td width="10px" class="time" cellspacing="0" cellpadding="0"><%= time.to_s(:time) %></td>
	        <%- 7.times do |day| -%>
						<%- color = "neutral" %>
						<%- if @comparison_map[day][time_block][time_in_seconds]["goods"].length >= @comparison_map[day][time_block][time_in_seconds]["bads"].length then color = "moregood" end %>
						<%- if @comparison_map[day][time_block][time_in_seconds]["bads"].length >= @comparison_map[day][time_block][time_in_seconds]["goods"].length then color = "morebad" end %>
						<%- if @comparison_map[day][time_block][time_in_seconds]["bads"].length == @comparison_map[day][time_block][time_in_seconds]["goods"].length then color = "neutral" end %>
						<%- if @comparison_map[day][time_block][time_in_seconds]["goods"].length == @people.length then color = "allgood" end %>
						<%- if @comparison_map[day][time_block][time_in_seconds]["bads"].length == @people.length then color = "allbad" end %>
						
						<% slot_id = "cmap_" + day.to_s + "_" + time_block.to_s %>
            <td id="td_<%=slot_id%>" width="50px" height="10px" class="day_<%= day %> <%= color %>" 
                  onMouseOver="toggleDiv('<%=slot_id%>', true)" 
                  onMouseOut="toggleDiv('<%=slot_id%>', false)" 
                  onMouseDown="toggleTime('<%=slot_id%>')">
								<div id='<%=slot_id%>' style="display:none" class="timetable_compare_info <%= color %>">
									<u><%= @comparison_map[day][time_block][time_in_seconds]["goods"].length%> good(s):<br/></u>
									<% @comparison_map[day][time_block][time_in_seconds]["goods"].each do |p|%>
											<%= 	p.first_name %>,<br/>
									<% end %>
									
									<u><%= @comparison_map[day][time_block][time_in_seconds]["bads"].length%> bad(s):<br/></u>
									<% @comparison_map[day][time_block][time_in_seconds]["bads"].each do |p|%>
											<%= 	p.first_name %>,<br/>
									<% end %>
										
									<u><%= @comparison_map[day][time_block][time_in_seconds]["okays"].length%> okay(s):<br/></u>
									<% @comparison_map[day][time_block][time_in_seconds]["okays"].each do |p|%>
											<%= 	p.first_name %>,<br/>
									<% end %>
									<!--
									<%=link_to_remote "Set as start time", {:url => {:controller => "groups", :action => "set_start_time", :id => @group.id, :day => day, :time => time_in_seconds} , :complete => "location.hash = 'compare';" } %>
									<br/>
									<span class="redlink">
										<%=link_to_remote 'Set as end time', {:url => {:controller => "groups", :action => "set_end_time", :id => @group.id, :day => day, :time => time_in_seconds} , :complete => "location.hash = 'compare';" } %>
									</span>
									-->
                  <span id='time_info_<%=slot_id%>'>&nbsp;</span>
			  	  		</div>
                <script>
                  $("#td_<%=slot_id%>").mousemove(function(e) {
                    $("#<%=slot_id%>").css({
                      top: (e.pageY + 15) + "px",
                      left: (e.pageX + 15) + "px"
                    });
                  });
                </script>
		        </td>
	        <%- end -%>
	      </tr>
	      <%- time += Timetable::INTERVAL 
	          time_block += 1 -%>
	    <%- end -%>
	  <tbody>
	</table>    
<% end %>
