<%= stylesheet_link_tag "jquery-ui" %>


<h4 class="title">Compare Timetables</h4>


<div class="horizTableCompare timeControlsContainer">
  <% form_for @group do |form| %>
    <div class="timeControl">
      Day: <%= form.select :day, Date::DAYNAMES.zip([0,1,2,3,4,5,6]), :include_blank => true %>
    </div>
    <div class="timeControl">
      Start time: <%= form.select :start_time, times(Timetable::EARLIEST, Timetable::LATEST), :include_blank => true %>
    </div>
    <div class="timeControl">
      End time: <%= form.select :end_time, times(Timetable::EARLIEST, Timetable::LATEST), :include_blank => true %>
    </div>
    <div class="timeControl"><%= submit_tag 'Save', :class => 'action-button' %></div>
  <% end %>
</div>


<br/>


<% day_width = 14.285 %>
<% interval_width = 3.125 %>


<div id="horizTableCompareContainer" class="horizTableCompare">
  <div class="namesList">
    <%= render :partial => "compare_timetables_fancy_horizontal_person_name", :collection => @people, :as => :person, :locals => {:has_table => true} %>
    <%= render :partial => "compare_timetables_fancy_horizontal_person_name", :collection => @people_without_table, :as => :person, :locals => {:has_table => false} %>
    <%= "<div class='noTable'>* has not submitted their timetable</div>" if @people_without_table.present? %>
  </div>

  <div class="frame">

    <div class="tableContainer">
      <div class="timelineHeaderContainer timelineHeader">
        <div class="timesContainer">
          <% Date::DAYNAMES.each do |day| %>
            <div class="day dayHeader <%=day.downcase%>" style="width:<%=day_width%>%;">
              <div class="dayName"><%=day%></div>

              <% time = Time.now.beginning_of_day + Timetable::EARLIEST %>
              <% end_time = Time.now.beginning_of_day + Timetable::LATEST %>

              <% i=0 %>
              <% while time < end_time %>
                <div class="time timeHeader <%=time_header_zoom_class(time)%> hour<%=time.hour%>" style="left:<%=interval_width*i%>%;">
                  <%= time_header_text(time) %>
                </div>
                <div class="line hour<%=time.hour%>" style="left:<%=interval_width*i%>%;"></div>
                
                <% time += Timetable::INTERVAL %>
                <% i+=1 %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="rows">
        <%= render :partial => "compare_timetables_fancy_horizontal_person_row", :collection => @people, :as => :person, :locals => {:day_width => day_width, :interval_width => interval_width} %>
      </div>
    </div>

  </div>

  <div class="frameControls">
    <div class="zoomSliderContainer">
      <%= image_tag "silk/zoom_out.png" %><div id="zoomSlider"></div><%= image_tag "silk/zoom_in.png" %>
    </div>
  </div>
  
</div>


<style>
	#demo-frame > div.demo { padding: 10px !important; }
	</style>
	<script>
	$(function() {
		$("#zoomSlider").slider({min:75, max:2000, value:$(".horizTableCompare .tableContainer").width()});
	});
  $("#zoomSlider").bind( "slide", function(event, ui) {
    $(".horizTableCompare .tableContainer").width(ui.value + "%");
  });
</script>
