<h4 class="title">Compare Timetables</h4>

<div id="notices">
	<%= render :partial => 'groups/show_notices' %>
</div>

<% day_width = 14.285 %>
<% interval_width = 3.125 %>

<div id="horizTableCompareContainer" class="horizTableCompare">

  <div id="horizTableCompareTimelineHeaderContainer" class="timelineHeader">
    <div class="timesContainer">
      <% Date::DAYNAMES.each_with_index do |day| %>
        <div id="<%=day[0].downcase%>" class="day dayHeader" style="width:<%=day_width%>%;">
          <%=day[0]%>

          <% time = Time.now.beginning_of_day + Timetable::EARLIEST %>
          <% end_time = Time.now.beginning_of_day + Timetable::LATEST %>

          <% i=0 %>
          <% while time < end_time %>
            <div class="time timeHeader" style="left:<%=interval_width*i%>%;"> <%= time.to_s(:time) %> </div>
            <% time += Timetable::INTERVAL %>
            <% i+=1 %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div id="horizTableCompareRows">

    <div class="personRowContainer even">
      <div class="personRow">
        <div class="personName">Somedudewitha Prettylongnameandstuff</div>
        <div class="personTimes">
          <% Date::DAYNAMES.each_with_index do |day| %>
            <div id="<%=day[0].downcase%>" class="day" style="width:<%=day_width%>%;">
              <div class="personTimeBlock busy" style="left:<%=interval_width*3%>%; width:<%=interval_width*2%>%;">&nbsp;</div>
              <div class="personTimeBlock free" style="left:<%=interval_width*6%>%; width:<%=interval_width%>%;">&nbsp;</div>
            </div>
          <% end %>
        </div>
      </div>
    </div>



    <div class="personRowContainer odd">
      <div class="personRow">
        <div class="personName">Somedudewitha Prettylongnameandstuff</div>
        <div class="personTimes">
          <% Date::DAYNAMES.each_with_index do |day| %>
            <div id="<%=day[0].downcase%>" class="day" style="width:<%=day_width%>%;">
              <div class="personTimeBlock busy" style="left:<%=interval_width*3%>%; width:<%=interval_width*2%>%;">&nbsp;</div>
              <div class="personTimeBlock free" style="left:<%=interval_width*6%>%; width:<%=interval_width%>%;">&nbsp;</div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="personRowContainer even">
      <div class="personRow">
        <div class="personName">Somedudewitha Prettylongnameandstuff</div>
        <div class="personTimes">
          <% Date::DAYNAMES.each_with_index do |day| %>
            <div id="<%=day[0].downcase%>" class="day" style="width:<%=day_width%>%;">
              <div class="personTimeBlock busy" style="left:<%=interval_width*3%>%; width:<%=interval_width*2%>%;">&nbsp;</div>
              <div class="personTimeBlock free" style="left:<%=interval_width*6%>%; width:<%=interval_width%>%;">&nbsp;</div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    


  </div>

</div>