<%= error_messages_for 'group' %>
<%- remote_form_for @group do |f| -%>
  <table border="0" cellspacing="5" cellpadding="5">
    <tr>
      <td style="vertical-align:top;">
    	<table border="0" cellspacing="5" cellpadding="5">
    		<tr><th colspan="2"><%= @group.new_record? ? 'New Group' : @group.name %></th></tr>
    		<tr><td>Name: </td><td><%= f.text_field :name %></td></tr>
    		<tr>
    			<td>Campus: </td>
    			<td>
    				<%= f.select :campus_id, @ministry.campuses.collect {|c| [c.name, c.id]}, {:include_blank => :true}, {:style => "width:200px"} %>
    				<%= observe_field(:group_campus_id, :url => list_dorms_url(), :update => 'group_dorm_id', :with => "campus_id") %>
    			</td>
    		</tr>
    		<%- dorms =  @campus && !@campus.dorms.empty? ? @campus.dorms.collect {|d| [d.name, d.id] } : [] -%>
    		<tr><td>Dorm: </td><td><%= f.select :dorm_id, dorms %></td></tr>
    		<tr><td>Address: </td><td><%= f.text_field :address %></td></tr>
    		<tr><td>City: </td><td><%= f.text_field :city %></td></tr>
    		<tr><td>State: </td><td><%= f.text_field :state %></td></tr>
    		<tr><td>Zip: </td><td><%= f.text_field :zip %></td></tr>
    	</table>
  	  </td>
  	  <td style="vertical-align:top;">
  	    <table border="0" cellspacing="5" cellpadding="5">
      		<tr><td>Country: </td><td><%= f.country_select :country, ['United States', 'Canada','Australia'] %></td></tr>
      		<tr><td>Email: </td><td><%= f.text_field :email %></td></tr>
      		<tr><td>Website: </td><td><%= f.text_field :url %></td></tr>
      		<tr><td>Start Time: </td><td><%= f.select :start_time, times(Timetable::EARLIEST, Timetable::LATEST), :include_blank => true %></td></tr>
      		<tr><td>End Time: </td><td><%= f.select :end_time, times(Timetable::EARLIEST, Timetable::LATEST), :include_blank => true %></td></tr>
      		<tr><td>Day of Week: </td><td><%= f.select :day, Date::DAYNAMES, :include_blank => true %></td></tr>
  	    </table>
  	    <%= link_to_function("Click here for a good time", "tb_show('Time Picker', '#TB_inline?width=450&height=300&inlineId=timePicker')", :class => 'thidckbox') %>
  	  </td>
  	</tr>
  </table>
	<%= submit_tag 'Save' %> or 
	<%- if params[:action] == 'new' -%>
		<%= link_to_function 'cancel', "$('#group').fadeOut();$('#new_group_link').show()",
	 															:class => 'cancel'%>
	<%- else -%>
		<%= link_to_function 'cancel', "$('#address_form')fadeOut();$('#address').show()",
	 															:class => 'cancel'%>
	<%- end -%>
<%- end -%>
<div id="timePicker" class="thickbox" style="display:none">
  <p>
  <%- form_remote_tag :url => find_times_group_path(@group) do -%>
    What days would you like to search? <br/>
    <%- 7.times do |i| -%>
      <%= Date::ABBR_DAYNAMES[i] %> <%= check_box_tag 'days[]', i, (1..5).to_a.include?(i) %> &nbsp;
    <%- end -%><br/><br/>
    What time range would you like to search within?<br/>
    Between <%= select_tag :range_start, options_for_select(times(Timetable::EARLIEST, Timetable::LATEST), 18.hours) %> and 
            <%= select_tag :range_end, options_for_select(times(Timetable::EARLIEST, Timetable::LATEST), 20.hours) %><br/><br/>
    Length of Meeting: <%= text_field_tag :length, '', :size => 3 %> hour(s)<br/><br/>
    <%= submit_tag 'Submit' %><br/>
  <%- end -%>
  </p>
</div>