<div id="groups">

  <%- help_block do -%>
    <h3>Groups</h3>
    A group is a body of people who meet weekly. <br />
    You can do two things from this page. 
    You can view and edit groups you're in within this ministry which you do by simply clicking on the group name.<br />
    Also you can create a new group in this ministry, either by simply entering in information and then adding members later, or by hitting the "find common times" button to find an opening in peoples timetables first.<br />
    One other thing, you need to have at least on "group type" defined, so you can have your group categorized.
  <%- end -%>

	<div id="current_groups" class="right_list">
		<%- if @ministry.groups.count > 0 -%>
		<div class="title"><%= @ministry.name %> Groups</div>
		<ul id="direct_group">
		<%= render :partial => @ministry.groups %>
		</ul>
		<%- end -%>
	</div>
	<div id="instructions">
		This screen serves as a launching area for managing <%= @ministry.name %> groups. 
	</div><br />
	<%- if @ministry.all_group_types.empty? -%>
	<p>
	  <%- if authorized?(:new, :group_types) -%>
	  You don't have any group types defined for your movement. Please <%= link_to('go to the customize area', customize_path(@ministry)) %>
	  and create some. <%- tooltip do -%> A group type is category of group. An example of this is a group called "Math DG Bible Study" might be put in a group type called "Bible Study". <%- end -%>
	  <%- else -%>
	  No group types have been created for your movement. Please ask your leader to create some.
	  <%- end -%>
	</p>
	<%- else -%>
	<div>
  	<div id="new_group_link">
  		<%- if @ministry.groups.empty? -%>
  			You haven't added any groups to your ministry yet. Please click the '<strong>Add a group</strong>' link below.<br /><br />
  		<%- end -%>
  		<%= link_to_remote(t(:add_group_link, :default => 'Add a group'), :url => {:action => :new},
  											 	 :before => "$('#new_group_link').slideUp();$('#spinner').show()",
  											 	 :method => :get)%>
  		<%- if Cmt::CONFIG[:find_common_times_enabled] == true -%>
    	  or <%= link_to(t(:find_common_times_link, :default => 'Find common times'), timetables_path)%>
    	<%- end -%>
  	</div><%= spinner %>
	</div>
	<%- end -%>
	<div>
		<div id="group">
		</div>
	</div>
</div>