<% gi = @my.group_involvements.find_by_group_id(group.id) %>

<h2><%= 
  if authorized?(:show, :groups) 
    link_to(group.name, group_url(group), :method => :get)
  else
    "<b>#{group.name}</b>"
  end
-%> <%- if !@join && authorized?(:new, :groups) -%>
  &nbsp <%= link_to_remote image_tag('delete.png'), 
  						:url => {:action => :destroy, :id => group.id}, 
  						:method => :delete,
  						:confirm => "Are you sure you want to delete this bible study?\nOnce you do, it'll be gone, along with the list of who's in it.\n YOU'VE BEEN WARNED!" %>
<%- end -%>
</h2>

&nbsp &nbsp 
<b>Involvement:</b>
<%- if @my.group_involvement_interests.find_by_group_id(group.id) -%>
  Marked as Interested
<%- elsif @my.group_involvement_requests.find_by_group_id(group.id) -%>
  Join Request Pending
<%- elsif gi -%>
  <%= gi.level.capitalize %>
<%- else -%>
  <%- if @join -%>
    <%= link_to_remote 'Join', 
      :url => { :action => 'joingroup', :controller => 'group_involvements', 
        :person_id => @person.id,
        :group_id => group.id,
        :level => 'member'
      }, 
      :method => :post
    %>
    or
    <%= link_to_remote 'Interested', 
      :url => { :action => 'joingroup', :controller => 'group_involvements', 
        :gt_id => group.group_type.id,
        :person_id => @person.id,
        :group_id => group.id,
        :level => 'interested'
      }, 
      :method => :post 
    %>
  <%- end -%> 
<%- end -%>
<br />

<% involvements = group.group_involvements.reject{|gi| gi.requested == true || gi.level == 'interested'} %>
<%- unless @join || involvements.empty? -%>
  &nbsp &nbsp <b>Members:</b>  
  <%= 
      link = authorized?(:show, :people)
      involvements.map{ |i| 
        if link
          link_to(i.person.full_name, person_url(i.person.id))
        else
          i.person.full_name
        end
      }.join(', ')
  %>
  <br />
<%- end -%>

<% involvements = group.group_involvements.select{|gi| (gi.requested.nil? || gi.requested == false) && gi.level == 'interested'}%>
<%- unless involvements.empty? -%>
  &nbsp &nbsp <b>Interested:</b>
  <%= involvements.map{|i| i.person.full_name}.join(", ") %>
  <br />
<%- end -%>
&nbsp &nbsp <b>Campus:</b> 

<%- if group.campus -%>
  <%= group.campus.name %>
  <%= ", " + group.dorm.name if group.dorm %>
<%- else -%>
  All 
<%- end -%>
<br />

&nbsp &nbsp <b>Time:</b>
<% no_time_const = "TBA" %>
<% midnight = Time.now.beginning_of_day %>

<%- if group.day -%>
  <%= Date::DAYNAMES[group.day] + ", "%>
<%- end -%>

<%- if group.start_time -%>
  <%= (midnight + group.start_time).to_s(:time) + " - "%>
  <%- if group.end_time -%>
    <%= (midnight + group.end_time).to_s(:time) %>
  <%- else -%>
    <%= no_time_const %>
  <%- end -%>
<%- else -%>
  <%= no_time_const %>
<%- end -%>
<br />
  

&nbsp &nbsp <b>Email:</b> 
<%- if group.email && group.email != "" -%>
  <%= group.email %>
<%- else -%>
  <%= group.leaders.first.current_address.email if group.leaders.first && group.leaders.first.current_address %>
<%- end -%>
<br />
<br />
