<% gi = @my.group_involvements.find_by_group_id(group.id) %>

<h2><%= 
  if gi
    link_to(group.name, group_url(group), :method => :get)
  else
    "<b>#{group.name}</b>"
  end
-%> <%- if authorized?(:new, :groups) -%>
  &nbsp <%= link_to_remote image_tag('delete.png'), 
  						:url => {:action => :destroy, :id => group.id}, 
  						:method => :delete,
  						:confirm => "Are you sure you want to delete this bible study?\nOnce you do, it'll be gone, along with the list of who's in it.\n YOU'VE BEEN WARNED!" %>
<%- end -%>
</h2>

&nbsp &nbsp 
<b>Involvement:</b>
<%- if @my.group_involvement_interests.find_by_group_id(group.id) -%>
  Marked as Interested
<%- elsif @my.group_involvement_requests.find_by_group_id(group.id) -%>
  Join Request Pending
<%- elsif gi -%>
  <%= gi.level.capitalize %>
<%- else -%>
  <i>Not Involved</i>
  <%- if @join -%>
    <%= link_to_remote 'Join', 
      :url => { :action => 'joingroup', :controller => 'group_involvements', 
        :gt_id => group.group_type.id,
        :person_id => @person.id,
        :group_involvement => { :group_id => group.id, :level => 'member'}
      }, 
      :method => :post %>
      <%= link_to_remote 'Interested', 
        :url => { :action => 'joingroup', :controller => 'group_involvements', 
          :gt_id => group.group_type.id,
          :person_id => @person.id,
          :group_involvement => { :group_id => group.id, :level => 'interested'}
        }, 
        :method => :post %>
  <%- end -%> 
<%- end -%>
<br />
&nbsp &nbsp <b>Campus:</b> <%= group.campus ? group.campus.name : "<i>No Campus Selected</i>" %> <br />

<% involvements = group.group_involvements.reject{|gi| gi.requested == true || gi.level == 'interested'} %>
<%- unless involvements.empty? -%>
  &nbsp &nbsp <b>Members:</b>  
  <%= involvements.map{|i| i.person.full_name}.join(", ") %>
  <br />
<%- end -%>

<% involvements = group.group_involvements.select{|gi| (gi.requested.nil? || gi.requested == false) && gi.level == 'interested'}%>
<%- unless involvements.empty? -%>
  &nbsp &nbsp <b>Interested:</b>
  <%= involvements.map{|i| i.person.full_name}.join(", ") %>
  <br />
<%- end -%>
<br />
