<table width="70%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td colspan="5">
      <h4 class="title"><%= level.titleize.pluralize %>&nbsp;&nbsp;
        <%- if authorized?(:new, :group_involvements) %>
          <%= link_to_function 'add', "$('#add_#{level}').fadeIn()", :class => 'small' %>
        <%- end -%>
        <%- if authorized?(:change_level, :group_involvements) %>
          <%= link_to_function "move", "$('#change_#{level}').fadeIn()", :class => 'small' %>
        <%- end -%>
      </h4>
    </td>
  </tr>
  <tr>
    <td colspan="5">
      <div id="add_<%= level %>" class="box" style="display:none">
        <%= render :partial => 'group_involvements/new', :locals => {:type => level} %>
      </div>
      <div id="change_<%= level %>" class="box" style="display:none">
        <%= render :partial => 'groups/change_level', :locals => {:level => level} %>
      </div>
    </td>
  </tr>
</table>
<%- form_remote_tag({:url => change_level_group_involvement_url(@gi.try(:id) || 'auth', :group_id => @group.id),
                    :html => { :id => 'transfer_form_' + level },
                    :condition => "$('#transfer_form_#{level} :checked').length > 0",
                    :method => :post
} ) do 
-%>
<table width="70%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <%- if authorized?(:transfer, :group_involvements) || authorized?(:change_level, :group_involvements) -%>
      <th width='20px'>
        <input type="checkbox" name="<%= level %>_checked" id="<%= level %>_checked" onclick="$('#transfer_form_<%= level %> :checkbox:not(#<%= level %>_checked)').attr('checked', $('#<%= level %>_checked').attr('checked'));"/>
      </th>
    <%- end -%>
    <th width='110px'>Name</th>
    <th width='110px'>Email</th>
    <th width='70px'>Phone</th>
    <th width='70px'><%= I18n.t :alternate_phone, :default => "Cell" %></th>
    <th width='90px'>Timetable Last Updated</th>
  </tr>
  <%- @group.group_involvements.sorted.each do |gi| 
    if gi.level == level
      person = gi.person
      if (person && gi.requested != true)
        person.initialize_addresses(:current_address) if person.current_address.nil? -%>
        <%= render :partial => 'groups/member', :locals => {:person => person} %> 
      <%- end -%>
    <%- end -%>
  <%- end -%>
</table>	
<%- end -%>
