<tr>
  <%- person.initialize_addresses(:current_address) if person.current_address.nil? -%>
  <%- if authorized?(:transfer, :group_involvements) || authorized?(:change_level, :group_involvements) %>
    <td width="20px">
      <input type="checkbox" name="members[]" value= <%= person.id %> />
    </td>
  <%- end -%>
  <td><%= authorized?(:show, :people) ? link_to(person.full_name, person) : person.full_name %></td>
  <td><%= person.human_gender %></td>
  <td><%= person.current_address.email %></td>
  <td><%= person.current_address.phone %></td>
  <td><%= person.current_address.alternate_phone %></td>
  <td><%= person.timetable.updated_at.present? ? "#{time_ago_in_words(person.timetable.updated_at)} ago" : "never" %></td>
</tr>
