<tr class="<%= cycle('highlight', 'nohighlight') %>">
  <%- person.initialize_addresses(:current_address) if person.current_address.nil? -%>
  <%- if authorized?(:transfer, :group_involvements) || authorized?(:change_level, :group_involvements) %>
    <td width="20px">
      <input type="checkbox" name="members[]" value= <%= person.id %> />
    </td>
  <%- end -%>
  <td><%= authorized?(:show, :people) ? link_to(person.full_name, person) : person.full_name %></td>
  <td><%= person.human_gender %></td>
  <td><%= person.current_address.email %></td>
  <td><%= person.current_address.phone %></td>
  <td><%= person.current_address.alternate_phone %></td>
  <td>
    <% if person.timetable.present? && person.timetable.updated_at.present? %>
      <% last_updated = "#{time_ago_in_words(person.timetable.updated_at)} ago" %>
      <% last_updated += ", by #{person.timetable.updated_by_person.full_name}" if person.timetable.updated_by_person.present? && person.timetable.updated_by_person != person %>
      <%= link_to(last_updated, "/people/#{person.id}/timetables/#{person.timetable.id}", :title => "Goto #{person.first_name}'s timetable") %>
    <% else %>
      never
    <% end %>
  </td>
</tr>
