<%- help_block do -%>
  <h3>Adding and Removing People From Your Group</h3><br />
  <p>There is alot to do here.  Here you can edit who's in your group, where your group is, and what time they meet. 
  Leaders and Co Leaders can add, remove, and transfer people in their group as they wish. Leaders can accept join requests.</p>
  <p>A helpful idea is to use the "compare timetables" function at the bottom of the page to help schedule the meeting times.
  To add a member, click the add button by the role you wish to add that member as, fill in the search box that appears, and choose the member you wish to add.<br />
  To remove a member, tick off his or her checkbox and click "remove". 
  To transfer a member to another group, do the same, but after you click transfer button use the dropdown menu to choose what group to switch them into.</p>
  <%- end -%>
  <br />
  <% types = ['leader','co_leader', 'member','interested'] -%>
  <% data = ""; types.each_with_index do |t,i| data += "$('#transfer_form_" + t + "').serialize()"; if(i!=(types.length-1))then data+="+'&'+" end end -%>
  <% data += "+'&'+$('#transfer_to_form').serialize()" -%>

  <h2 id="name">
    <%= @group.name %>
  </h2>
  <div id="type"><%= @group.group_type.group_type.humanize %></div>

  <%= link_to_remote "edit", { :url => edit_group_url(@group), :method => :get }, 
    { :class => "small" } if is_group_leader(@group) 
  %>
  <%= render :partial => 'groups/group_edit_options', :locals => { :data => data } %>

  <br/>

  <div id="address">
    <%= render :partial => 'groups/address' %>
  </div>
  <div id="address_form"></div>
  <div id="members">
    <br />
    <%-types.each do |level| -%>
      <div id="<%= level %>">
        <table width="70%" border="0" cellspacing="0" cellpadding="5">
          <tr>
            <td colspan="5">
              <h4 class="title"><%= level.titleize.pluralize %>&nbsp;&nbsp;
                <%- if is_group_leader(@group) -%>
                  <%= link_to_function 'add', "$('#add_#{level}').fadeIn()", :class => 'small' %>
                  <%= link_to_function "Change a member to #{level.titleize}", "$('#change_#{level}').fadeIn()", :class => 'small' %>
                <%- end -%>
              </h4>
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <div id="add_<%= level %>" class="box" style="display:none"><%= render :partial => 'group_involvements/new', :locals => {:type => level} %></div>
              <div id="change_<%= level %>" class="box" style="display:none"><%= render :partial => 'group_involvements/change_level', :locals => {:level => level} %></div>
            </td>
          </tr>
        </table>
        <%- form_remote_tag({:url => "/group_involvements/transfer/#{@group.id}", 
                            :html => { :id => 'transfer_form_' + level }
        } ) do 
        -%>
        <table width="70%" border="0" cellspacing="0" cellpadding="5">
          <tr>
            <% if is_group_leader(@group) -%>
              <th width='20px'>
                <input type="checkbox" name="<%= level %>_checked" id="<%= level %>_checked" onclick="$('#transfer_form_<%= level %> :checkbox:not(#<%= level %>_checked)').attr('checked', $('#<%= level %>_checked').attr('checked'));"/>
              </th>
            <% end -%>
            <th width='120px'>Name</th>
            <th width='120px'>Email</th>
            <th width='70px'>Phone</th>
            <th width='70px'>Cell</th>
          </tr>
          <%- @group.group_involvements.sorted.each do |gi| 
            if gi.level == level
              person = gi.person
              if (person && gi.requested != true)
                person.initialize_addresses(:current_address) if person.current_address.nil? -%>
                <%= render :partial => 'groups/member', :locals => {:person => person} %>
              <%- end -%>
            <%- end -%>
          <%- end -%>
        </table>	
      <%- end -%>
    </div>
  <%- end -%>
</div>

<br/>
<br/>
<div id = "compare">
  <%= render :partial => 'groups/compare_timetables' %>
</div>
