<br />
<h4 class="title">
	<%= @group.name %>&nbsp;&nbsp;
	<%= link_to_remote "edit", {:url => edit_group_url(@group), 
								:method => :get}, 
								{:class => "small"}  if is_group_leader(@group) %>
</h4>
<div id="address">
	<%= render :partial => 'groups/address' %>
</div>
<div id="address_form"></div>
<div id="members">
	<br />
	<%- types = ['leader','co_leader', 'member','interested']
	  types.each do |level| -%>
		<div id="<%= level %>">
		<table width="70%" border="0" cellspacing="0" cellpadding="5">
		<tr>
			<td colspan="5">
			  <h4 class="title"><%= level.titleize.pluralize %>&nbsp;&nbsp;
				<%- if is_group_leader(@group) -%>
					<%= link_to_function 'add', "$('#add_#{level}').fadeIn()", :class => 'small' %>&nbsp;&nbsp;
					<%= link_to_function 'transfer', "$('#transfer_#{level}').fadeIn()", :class => 'small' %>&nbsp;&nbsp;
					<%= link_to_remote 'remove', {:url => group_involvement_url(@group.id), :method => :delete, 
												  :with => "$('#transfer_form_#{level}').serialize()", :confirm => "Are you sure you want to remove these people?",
												  :condition => "$('#transfer_form_#{level} :checked').length > 0"},
												 {:class => 'small'} %>
				<%- end -%>
				</h4>
			</td>
		</tr>
		<tr>
			<td colspan="5">
				<div id="add_<%= level %>" class="box" style="display:none"><%= render :partial => 'group_involvements/new', :locals => {:type => level} %></div>
			</td>
		</tr>
		</table>
		<%- form_remote_tag({:url => "/group_involvements/transfer/#{@group.id}", 
							 :html => {:id => 'transfer_form_'+level}}) do -%>
			<div id="transfer_<%= level %>"  style="display:none">
				Pick a group to transfer the selected people to:<br />
				<%= select_tag('transfer_to', options_for_select(get_ministry.groups.collect {|bs| [bs.name, bs.id]})) %>
				<%= hidden_field_tag('level', level) %>
				<%= submit_tag "go" %><br /><br />
			</div>
		<table width="70%" border="0" cellspacing="0" cellpadding="5">
		<tr>
			<th><input type="checkbox" name="<%= level %>_checked" id="<%= level %>_checked" onclick="$('#transfer_form_<%= level %> :checkbox:not(#<%= level %>_checked)').attr('checked', $('#<%= level %>_checked').attr('checked'));"/></th>
			<th>Name</th>
			<th>Phone</th>
			<th>Cell</th>
			<th>Email</th>
		</tr>
			<%- @group.group_involvements.sorted.each do |gi| 
				if gi.level == level
					person = gi.person
					if (person && gi.requested != true)
					person.initialize_addresses(:current_address) if person.current_address.nil? -%>
					<%= render :partial => 'groups/member', :locals => {:person => person} %>
  				<%- end -%>
				<%- end -%>
			<%- end -%>
		</table>	
		<%- end -%>
		</div>
	<%- end -%>
</div>

<br/>
<br/>

<% data = ""; types.each_with_index do |t,i| data += "$('#transfer_form_" + t + "').serialize()"; if(i!=(types.length-1))then data+="+'&'+" end end%>

<%= link_to_remote 'Compare Timetables', {:url => {:controller => 'groups', :action => 'compare_timetables', :id => @group.id} , 
												  :with => "#{data}"},
												 {:class => 'small'} %>
<%- tooltip do -%><p>Use this option to generate a spreadsheet containing the results of comparing the schedules of selected group members.</p><%- end -%>
  

<br/>
<br/>
<div id = "compare">
	<%= render :partial => 'groups/compare_timetables' %>
</div>
