<%# locals %>
<%# ministry - required - Ministry object - The ministry to add the year to %>

<% @ministry_school_year ||= MinistrySchoolYear.new %>

<%= render :partial => "ministry_school_years/title", :object => @ministry_school_year %>

<% form_for @ministry_school_year do |f| %>
<div>
  <%= f.error_messages %>
  
  <p>No school year found</p>
  <p>Would you like to create one?</p>

  <p>
    <%= f.label :start, 'Start of Year' %>
    <%= f.date_select :start %>
  </p>
  <p>
    <%= f.label :end, 'End of Year' %>
    <%= f.date_select :end %>
  </p>
</div>
  <br />
<p>
  <%= submit_to_remote 'create_btn', "Create",
    :url => { 
      :controller => 'ministry_school_years',
      :action => 'create'
    },
    :before => 'show_spinner();',
    :complete => 'hide_spinner();' %>
</p>
    
<% end %>

