<h1>Listing ministry_school_years</h1>

<table>
  <tr>
    <th>Ministry</th>
    <th>Create next year at</th>
    <th>Start</th>
    <th>End</th>
  </tr>

<% @ministry_school_years.each do |ministry_school_year| %>
  <tr>
    <td><%=h ministry_school_year.ministry_id %></td>
    <td><%=h ministry_school_year.create_next_year_at %></td>
    <td><%=h ministry_school_year.start %></td>
    <td><%=h ministry_school_year.end %></td>
    <td><%= link_to 'Show', ministry_school_year %></td>
    <td><%= link_to 'Edit', edit_ministry_school_year_path(ministry_school_year) %></td>
    <td><%= link_to 'Destroy', ministry_school_year, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ministry_school_year', new_ministry_school_year_path %>