<p>
  <b>Ministry:</b>
  <%=h @ministry_school_year.ministry_id %>
</p>

<p>
  <b>Create next year at:</b>
  <%=h @ministry_school_year.create_next_year_at %>
</p>

<p>
  <b>Start:</b>
  <%=h @ministry_school_year.start %>
</p>

<p>
  <b>End:</b>
  <%=h @ministry_school_year.end %>
</p>


<%= link_to 'Edit', edit_ministry_school_year_path(@ministry_school_year) %> |
<%= link_to 'Back', ministry_school_years_path %>