<div><h3 class="lbtitle">Change your password</h3></div>
<%- remote_form_for user, :loading => 'tb_remove()' do |f| -%>
  <%= error_messages_for :user %>
  <div class="popupfield">
	<h3>New Password:</h3> <%= f.password_field :plain_password %>
  	<h3>Confirm Password:</h3> <%= f.password_field :password_confirmation %>
  </div><br>
  <%= f.submit("Save Changes", :name => "commit", :class => "lbbutton") %> <%= link_to_function("cancel", "tb_remove()") %>
<%- end -%>
