<tr id="<%= dom_id(training_question) %>">
  <!-- <td>
    <%#- if @ministry.id == training_question.ministry_id -%>
      <span class="drag_me"><%= image_tag('/images/silk/move.png') %></span>
    <%#- end -%>
  </td> -->
  <td align="center">
    <%- unless @ministry.mandated_training_questions.include?(training_question) -%>
      <%- if @ministry.active_training_questions.include?(training_question) -%>
        <%= link_to_remote image_tag('silk/check_yes.png'), :url => training_question_path(:id => training_question, :activate => 0), 
                                                           :method => :put,
                                                           :before => "$('#spinnertq').show()" %>
      <%- else -%>
        <%= link_to_remote image_tag('silk/check_no.png'), :url => training_question_path(:id => training_question, :activate => 1), 
                                                           :method => :put,
                                                           :before => "$('#spinnertq').show()" %>
      <%- end -%>
    <%- else -%>
      <%= image_tag('silk/check_yes_gray.png') %>
    <%- end -%>
  </td>
  <td align="center">
    <%- if @ministry.self_mandated_training_questions.include?(training_question) -%>
        <%= link_to_remote image_tag('silk/check_yes.png'), :url => training_question_path(:id => training_question, :mandate => 0), 
                                                           :method => :put,
                                                           :before => "$('#spinnertq').show()" %>
    <%- elsif @ministry.mandated_training_questions.include?(training_question) -%>
        <%= image_tag('silk/check_yes_gray.png') %>
    <%- else -%>
      <%= link_to_remote image_tag('silk/check_no.png'), :url => training_question_path(:id => training_question, :mandate => 1), 
                                                         :method => :put,
                                                         :before => "$('#spinnertq').show()" %>
    <%- end -%>
  </td>
  <td>
    <%- if @ministry.id == training_question.ministry_id -%>
      <%= link_to_remote(training_question.activity, :url => edit_training_question_url(training_question), :method => :get,
                        :before => "$('#new_training_question_link').hide();$('#spinnertq').show()") %> 
    	| <%= link_to_remote image_tag('delete.png'), 
    						:url => training_question_url(training_question), 
    						:method => :delete,
    						:confirm => "Are you sure you want to delete this question?\nOnce you do, it'll be gone, along with all the answers associated with it.\n YOU'VE BEEN WARNED!",
    						:before => "$('#spinnertq').show()" %>
    <%- else -%>
      <%= training_question.activity %>
    <%- end -%>
    <span class="small">(added by <%= training_question.ministry.name %>)</span>
  </td>
</tr>