  <p>Column Name: <%= f.text_field :title %></p>
  <p>Select Clause: <%= f.text_field :select_clause, :size => 100 %></p>
  <p>From Clause: <%= f.text_field :from_clause, :size => 100 %></p>
  <p>Update Clause: <%= f.text_field :update_clause, :size => 100 %></p>
  <p>Join Clause: <%= f.text_field :join_clause, :size => 100 %></p>
  <p>Data Type: <%= f.text_field :column_type, :size => 100 %></p>