<!-- <div class='accordion' id='medium_accordion'>
  <div>
    <h3 class='steps'>Step 1: Content Details</h3>
    <div id='medium_form'>

    </div>
  </div>
  <div>
    <h3 class='steps'>Step 2: Attach your file</h3>
    <div>
    
    </div>
  </div>
</div> -->

  <h3>Customization</h3>  

  <p>You can edit a number of things from this page. 
  Click on each of the category headings to open that category of customization.
  You can view help on each section.
  </p>

<div id="customizebody" class="accordion">

  <%- if true || authorized?(:new, :views) -%>
  <div>
    <div class="title">
      <% help_block do -%>
        <p>
        A directory view contains what columns you wish to view when you search on the directory. 
        You can switch between these views while at the directory.
        </p>
      <% end -%>
      Directory Views
    </div>
		<div>
  		<%= render :partial => 'views/views' %>
		</div>
	</div>
	<%- end -%>
	
	<%- if authorized?(:new, :dorms) -%>
	<div>
    <div class="title">
      <% help_block do -%>
        <p>
        Dorms represent residence arrangements on a campus. 
        These are used to help pin down where even one is, and can be used for searches or easily narrowing down a meeting place.
        </p>
      <% end %>
      Dorms
    </div>
		<div id="dorm_box">
		  <%- @ministry.campuses.each do |campus| -%>
		    <h5><%= campus.name %></h5>
		    <ul id=<%= campus.id %> >
		      <%= render :partial => 'dorms/dorm', :collection => campus.dorms %>
		    </ul>
		  <%- end -%>
		  <br/>
		  <p>
		    Add new dorms
		  <%- remote_form_for Dorm.new do |f| -%>
		    <%= f.collection_select :campus_id, @ministry.campuses, :id, :name %> 
		    <%= f.text_field :name, :size => 20 %>
		    <%= f.submit 'Add Dorm' %>
		  <%- end -%>
  	  </p>
		</div>
	</div>
	<%- end -%>
	
  <%- if authorized?(:new, :group_types) -%>
  <div>
    <div class="title">
      <% help_block do -%>
        <p>
      	  A group type is category of group.  Possible group types, for example, might be "Bible Study" or "Prayer Group".
          In order to make a new group, you to have to have atleast one group type in your ministry or parent ministry.
        </p>
      <% end -%>
      Group Types <%= spinner('gt') %>
    </div>
    <div>
      <table border="0" cellspacing="5" cellpadding="5" id="group_types" class="directorytable">
        <thead>
        	<tr>
          <th rowspan="2">Group Type</th>
          <th rowspan="2">Mentor Priority</th>
          <th rowspan="2">Publicly Listed</th>
          <%- unless Cmt::CONFIG[:disable_group_timetable_impact] == true -%>
          	<th colspan="3" style="border: none; text-align: center;">Impact on timetable for</th>
					<%- end -%>
          	<th  rowspan="2" colspan="4">Actions</th>
      		</tr>
                
      	<%- unless Cmt::CONFIG[:disable_group_timetable_impact] == true -%>
      	<tr>
        	<th>Leader</th>
        	<th>Co-Leader</th>
        	<th>Participant</th>
      	</tr>
      <%- end -%>
      </thead>
      <%= render @ministry.group_types %>
    
    </table>
      <br/>
      <div id="new_group_type_link">
    		<div class="butAdd" ><%= link_to_remote('Add a group type', 
    		                                        :url => new_group_type_path,
    		                                        :before => "$('#new_group_type_link').hide();$('#spinnergt').show();",
    		                                        :method => :get)%></div> 
    	</div>
		  <div id="group_type_form" style="display:none">
  	  </div>
    </div>
  </div>
  <%- end -%>
  <%- if authorized?(:new, :custom_attributes) && authorized?(:new, :profile_questions) -%>
	<div>
		<%= render :partial => 'custom_attributes/custom_attributes', :locals => {:attributes => @ministry.profile_questions,
		                                                                          :attrib_type => 'ProfileQuestion'} %>
	</div>
	<%- end -%>
	<%- if authorized?(:new, :involvement_questions) -%>
	<div>
		<%= render :partial => 'custom_attributes/custom_attributes', :locals => {:attributes => @ministry.involvement_questions, 
		                                                                          :attrib_type => 'InvolvementQuestion'} %>
  </div>
  <%- end -%>
  
	<%- if authorized?(:new, :training_categories) -%>
  <div>
    <div class="title">
      <% help_block do -%>
        Training questions will go in a training category, for example "General Training", "Involved Student Training".
      <% end %>
      Training Categories <%= spinner('tc') %>
    </div>
		<div id="training_categories">
    	<div id="current_training_categories" class="right_list">
    		<ul id="training_categories_list"> 
    		  <%= render :partial => 'training_categories/training_category', :collection => @training_categories %>
        </ul>
    		<%= sortable_element( 'training_categories_list',
        	:url => { :action => "reorder_training_categories", :id => @ministry },
        	:complete => visual_effect(:highlight, 'training_categories_list' ),
        	:handle => 'drag_me')
        %>
    	</div>
    	<div>
    	  <div id="new_training_category_link">
      		<div class="butAdd" ><%= link_to_remote('Add a training category', :url => new_training_category_url,
      											 	 :before => "$('#new_training_category_link').hide();$('#spinnertc').show()",
      											 	 :method => :get)%></div>
      	</div>
    	</div>
    	<div>
    		<div id="training_category" style="display:none" class="inline_ajax_form">
    		</div>
    	</div>
    </div>
  </div>
	<%- end -%>
	<%- if authorized?(:new, :training_questions) -%>
  <div>
    <div class="title">
      <% help_block do -%>
        Training questions track what training each person has received.  They can be verified by staff.  An example would be "4-laws training".  In order to have a Training Question, it has to be in a Training Category.
      <% end -%>
      Training Questions <%= spinner('tq') %>
    </div>
		<div id="training_questions">
    	<div id="current_training_questions" class="right_list">
    	  <%= render :partial =>'customize/training_category', :collection => @ministry.all_training_categories %>
    	</div>
    	<div>
    	  <div id="new_training_question_link">
      		<div class="butAdd" ><%= link_to_remote('Add a training question', :url => new_training_question_url,
      											 	 :before => "$('#new_training_question_link').hide();$('#spinnertq').show()",
      											 	 :method => :get)%></div>
      	</div>
    	</div>
    	<div>
    		<div id="training_question" style="display:none" class="inline_ajax_form">
    		</div>
    	</div>
    </div>
	</div>
	<%- end -%>
</div>
<script type="text/javascript" charset="utf-8">
    $(function(){
      $(".accordion").accordion({ header: ".title",
                                         autoHeight: false,
                                         clearStyle: true});
      $(".accordion .title").prepend('<span class="accordion_instructions"></span>');
    });
</script>
