<!-- <div class='accordion' id='medium_accordion'>
  <div>
    <h3 class='steps'>Step 1: Content Details</h3>
    <div id='medium_form'>

    </div>
  </div>
  <div>
    <h3 class='steps'>Step 2: Attach your file</h3>
    <div>
    
    </div>
  </div>
</div> -->

<%- help_block do -%> 
  <h3>Customization</h3>  

  <p>You can edit seven things from this page. 
  Click on each of the category headings to open that category of customization. </p>
  
  <p>The first thing at the top of this page is your different directory views. 
  A directory view contains what columns you wish to view when you search on the directory. 
  You can switch between these views while at the directory.
  </p>
  
  <p>The next option is to manage dorms. 
  Dorms represent residence arrangements on a campus. 
  These are used to help pin down where even one is, and can be used for searches or easily narrowing down a meeting place.
  </p>
  
  <p>
  Group types are under Dorms. 
  These are categories in which groups are stored. 
  In order to make a new group, you to have to have atleast one group type in your ministry or parent ministry.
  </p>
  
  <p>
  Profile Questions will show up on everyone's profile, but only admins or leaders will be able to view them.<br />
  Everyone in your ministry can see Involvement Questions, where the answer and questions are displayed for all in your ministry to see.<br />
  Training Categories host Training Questions, where everyone in your ministry can see and verify the answers. In order to have a Training Question, it has to be in a Training Category.<br />
  </p>
  

<%- end -%>

<div id="customizebody" class="accordion">
  <%- if authorized?(:new, :views) -%>
  <div>
		<div class="title">Directory Views</div>
		<div>
  		<%= render :partial => 'views/views' %>
		</div>
	</div>
	<%- end -%>
	<%- if authorized?(:new, :dorms) -%>
	<div>
		<div class="title">Dorms</div>
		<div id="dorm_box">
		  <%- @ministry.campuses.each do |campus| -%>
		    <h5><%= campus.name %></h5>
		    <ul id="dorms">
		      <%= render :partial => 'dorms/dorm', :collection => campus.dorms %>
		    </ul>
		  <%- end -%>
		  <br/>
		  <p>
		    Add new dorms
		  <%- remote_form_for Dorm.new do |f| -%>
		    <%= f.collection_select :campus_id, @ministry.campuses, :id, :name %> 
		    <%= f.text_field :name, :size => 20 %>
		    <%= f.submit 'Add Dorm' %>
		  <%- end -%>
  	  </p>
		</div>
	</div>
	<%- end -%>
  <%- if authorized?(:new, :group_types) -%>
  <div>
    <div class="title">Group Types <%= spinner('gt') %></div>
    <div>
      <%- tooltip do -%> A group type is category of group. An example of this is a group called "Math DG Bible Study" might be put in a group type called "Bible Study". <%- end -%>
      <table border="0" cellspacing="5" cellpadding="5" id="group_types" class="directorytable">
        <thead>
        <tr>
          <th rowspan="2">Group Type</th>
          <th rowspan="2">Mentor Priority</th>
          <th rowspan="2">Publicly Listed</th>
          <th colspan="3" style="border: none; text-align: center;">Impact on timetable for</th>

          <th  rowspan="2" colspan="4">Actions</th>
      </tr>
      <tr>
        <th>Leader</th>
        <th>Co-Leader</th>
        <th>Participant</th>
      </tr>
      </thead>
      <%= render @ministry.group_types %>
    
    </table>
      <br/>
      <div id="new_group_type_link">
    		<div class="butAdd" ><%= link_to_remote('Add a group type', 
    		                                        :url => new_group_type_path,
    		                                        :before => "$('#new_group_type_link').hide();$('#spinnergt').show();",
    		                                        :method => :get)%></div> 
    	</div>
		  <div id="group_type_form" style="display:none">
  	  </div>
    </div>
  </div>
  <%- end -%>
  <%- if authorized?(:new, :custom_attributes) && authorized?(:new, :profile_questions) -%>
	<div>
		<%= render :partial => 'custom_attributes/custom_attributes', :locals => {:attributes => @ministry.profile_questions,
		                                                                          :attrib_type => 'ProfileQuestion'} %>
	</div>
	<%- end -%>
	<%- if authorized?(:new, :involvement_questions) -%>
	<div>
		<%= render :partial => 'custom_attributes/custom_attributes', :locals => {:attributes => @ministry.involvement_questions, 
		                                                                          :attrib_type => 'InvolvementQuestion'} %>
  </div>
  <%- end -%>
  
	<%- if authorized?(:new, :training_categories) -%>
  <div>
		<div class="title">Training Categories <%= spinner('tc') %></div>
		<div id="training_categories">
    	<div id="current_training_categories" class="right_list">
    		<ul id="training_categories_list"> 
    		  <%= render :partial => 'training_categories/training_category', :collection => @training_categories %>
        </ul>
    		<%= sortable_element( 'training_categories_list',
        	:url => { :action => "reorder_training_categories", :id => @ministry },
        	:complete => visual_effect(:highlight, 'training_categories_list' ),
        	:handle => 'drag_me')
        %>
    	</div>
    	<div>
    	  <div id="new_training_category_link">
      		<div class="butAdd" ><%= link_to_remote('Add a training category', :url => new_training_category_url,
      											 	 :before => "$('#new_training_category_link').hide();$('#spinnertc').show()",
      											 	 :method => :get)%></div>
      	</div>
    	</div>
    	<div>
    		<div id="training_category" style="display:none" class="inline_ajax_form">
    		</div>
    	</div>
    </div>
  </div>
	<%- end -%>
	<%- if authorized?(:new, :training_questions) -%>
  <div>
		<div class="title">Training Questions <%= spinner('tq') %></div>
		<div id="training_questions">
    	<div id="current_training_questions" class="right_list">
    	  <%= render :partial =>'customize/training_category', :collection => @ministry.all_training_categories %>
    	</div>
    	<div>
    	  <div id="new_training_question_link">
      		<div class="butAdd" ><%= link_to_remote('Add a training question', :url => new_training_question_url,
      											 	 :before => "$('#new_training_question_link').hide();$('#spinnertq').show()",
      											 	 :method => :get)%></div>
      	</div>
    	</div>
    	<div>
    		<div id="training_question" style="display:none" class="inline_ajax_form">
    		</div>
    	</div>
    </div>
	</div>
	<%- end -%>
</div>
<script type="text/javascript" charset="utf-8">
    $(function(){
      $(".accordion").accordion({ header: ".title",
                                         autoHeight: false,
                                         clearStyle: true});
      $(".accordion .title").prepend('<span class="accordion_instructions">&nbsp;</span>')
    });
</script>
