<h1>Editing event</h1>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :registrar_event_id %><br />
    <%= f.text_field :registrar_event_id %>
  </p>
  <p>
    <%= f.label :event_group_id %><br />
    <%= f.text_field :event_group_id %>
  </p>
  <p>
    <%= f.label :register_url %><br />
    <%= f.text_field :register_url %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>