<p>
  This tool is for importing STUDENTs only. Please don't try to add staff in this fashion. The most important step of the upload process is making 
  sure your spreadsheet has the right column headers. Please <%= link_to('download a sample spreadsheet', '/files/sample_import.csv') %> and make sure your 
  column headers match EXACTLY. If any of your columns don't match the sample, they will be ignored. Import file must be a CSV (comma separated values)
</p>


<div style="margin-bottom:15px;">  
<p>
  <h3>There are 3 required fields: </h3>
  <ul style="margin-left:10px;">
    <li>first_name</li>
    <li>last_name</li>
    <li>email</li>
  </ul>
</p>
</div>

<div class="actionbox">
<p>Please pick a campus to add students to.</p>
<%- form_for(@import, :html => {:multipart => true}) do |f|  -%>
<p><label>Campus Name</label><%= select_tag(:campus_id, options_for_select(@ministry.campuses.sort.collect {|c| [c.name, c.id]})) %></p>
<p><label>File to import:</label><%= f.file_field :uploaded_data, :size => '18px' %></p>
<p><%= submit_tag('Import!') %>&nbsp; <%= link_to('Cancel', :back) %></p>
</div>

<%- end -%>