<div class="sectionHeader">
	<h2><%= @campus ? @campus.name : @ministry.name %> Mass People Import</h2>
</div>
<br />


<p><%= link_to('(Back to the directory)', :back, :style => 'color:silver; font-style:italic;') %></p>


<p><strong>This tool is for importing STUDENTs only.</strong> Please don't try to add staff in this fashion. The most important step of the upload process is making 
  sure your spreadsheet has the right column headers. Please  and make sure your 
  column headers match EXACTLY. If any of your columns don't match the sample, they will be ignored. Import file must be a CSV (comma separated values)</p>

<p>Please pick a campus to add students to. The list below is all the campuses you've added to the <%= @ministry.name %> ministry.</p>

<div class="spacewrap">
<div class="butDExcel"><%= link_to('Sample spreadsheet download', '/files/sample_import.csv') %></div>
</div>


<%- form_for(@import, :html => {:multipart => true}) do |f|  -%>
<div class="actionpack">
<p><label>Select campus:</label><%= select_tag(:campus_id, options_for_select(@ministry.campuses.sort.collect {|c| [c.name, c.id]})) %></p>
<p><label>File to import:</label><%= f.file_field :uploaded_data, :size => '18px' %>
<% tooltip do %>
<p>
  <strong>There are 3 required fields:</strong> 
  <ul>
    <li>first_name</li>
    <li>last_name</li>
    <li>email</li>
  </ul>
</p>
<% end %>   


</p>
<p><%= submit_tag('Import!') %> <%= link_to('Back', :back) %></p>
</div>




<%- end -%>