<h1 style="float: right"><%= @contact[:priority].upcase %></h1>

<h1><%= @contact[:first_name]%> <%= @contact[:last_name]%></h1>

<div id="followup_data" style="float: right; width: 25%; text-align: right;">
  <% form_for(@contact) do |f| %>
    <%= hidden_field_tag :contact_id, @contact[:id] %>
    <p>
      Assigned to <%= assigned_to %><br/>
      Status <%= select_tag "status", options_for_select(contact_options_lists[:status], @contact[:status].nil? ? 0 : @contact[:status]) %><br/>
      Result <%= select_tag "result", options_for_select(contact_options_lists[:result], @contact[:result].nil? ? 0 : @contact[:result]) %><br/>
      Next step <%= select_tag "nextStep", options_for_select(contact_options_lists[:nextStep], @contact[:nextStep].nil? ? 0 : @contact[:nextStep]) %><br/>
    </p>
    <p><%= link_to "Terms and Definitions", "https://docs.google.com/a/p2c.com/file/d/0B7OI6_m3EjaKOW11SGtPMG1saU0/edit" %></p>
    <p><%= submit_tag 'Save', :class => "action-button" %></p>
  <% end %>
</div>

<p>
  <%= contact_gender %>, <%= @contact[:degree] %> <%= @contact[:year] %><%= @contact[:international] == 1 ? ", international student" : "" %>
</p>
<p>
  <a href="tel:<%= @contact[:cellphone] %>"><%= @contact[:cellphone] %></a><br/>
  <a href="mailto:<%= @contact[:email] %>"><%= @contact[:email] %></a>
</p>
<% if @contact[:data_input_notes].present? %>
  <p>
    Data input notes: <em><%= @contact.data_input_notes %></em>
  </p>
<% end %>

<div id="survey_answers">
	<table>
		<tr><td colspan="2"><h2>Survey Answers</h2></td></tr>
		<tr><td>GENERAL - The one thing I crave most is:</td><td><%= @contact[:craving] %></td></tr>
		<tr><td>FREE MAGAZINE</td><td><%= @contact[:magazine] %></td></tr>
		<tr><td>Interest in a chat about Jesus Christ?</td><td><%= interest_to_chat %></td></tr>
		<tr><td>On my spiritual journey I'd like to:</td><td><%= @contact[:journey] %></td></tr>
	</table>
</div>

<br>
<br>

<div id="contact_notes">
  <h2>Notes</h2>

  <ul>
    <% @contact.notes.each do |note| %>
      <li>"<%= note.content %>" &#8211; <em><%= "#{time_ago_in_words(note.created_at)} #{t("misc.ago")}" if note.created_at %> <%= "by #{link_to note.person.full_name, note.person}" if note.person %></em></li>
    <% end %>
  </ul>

  <div class="new_note">
    <% form_for [@contact, Note.new] do |f| %>
      <p>
        <%= f.text_area :content %>
        <%= f.submit 'Add Note', :class => 'action-button' %>
      </p>
    <% end %>
  </div>
</div>

<br>
<br>

<div id="contact_rejoiceables">
  <h2>Rejoiceables</h2>

  <ul>
    <% @contact.activities.each do |a| %>
      <li><strong><%= activity_options.select{|o| o[1] == a.activity_type_id.to_i }.first[0] %></strong> &#8211; <em><%= "#{time_ago_in_words(a.created_at)} #{t("misc.ago")}" if a.created_at %> <%= "by #{link_to(a.reporter.full_name, a.reporter)}" if a.reporter %></em></li>
    <% end %>
  </ul>

  <br>

  <div class="new_activity">
    <% form_for [@contact, Activity.new] do |f| %>
      <p>
        Add rejoiceable: <%= f.select :activity_type_id, options_for_select(activity_options[1..3]) %>
        <%= f.submit 'Rejoice!', :class => 'action-button' %>
      </p>
    <% end %>
  </div>
</div>

<br>
<br>
<br>

<p><%= link_to "Back to contact search", search_contacts_path %></p>