<% if @campus %>

  <h2>
    Impact & Progress Snapshot at <%= select_tag "report_campus_id", contact_campuses_options_for_select(@campus.id) %>
  </h2>

  <br>

  <div class="contacts_report">

    <table>
      <thead>
        <tr>
          <th colspan="2">Contacts:&nbsp;&nbsp;</th>
          <td><%= @campus.contacts.size %></td>
        </tr>
      </thead>
    </table>

    <div class="clear"></div>

    <table>
      <thead>
        <tr>
          <th colspan="2">Follow-up Priority</th>
        </tr>
      </thead>
      <tbody>
        <% contact_search_options[:priority][:options].drop(1).each do |option| %>
          <tr>
            <td><%= option %></td>
            <td><%= @campus.contacts.all(:conditions => {:priority => option}).size %></td>
          </tr>
        <% end %>
      </tbody>  
    </table>

    <table>
      <thead>
        <tr>
          <th colspan="2">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Completed</td>
          <td><%= @campus.contacts.all(:conditions => {:status => [2]}).size %></td>
        </tr>
        <tr>
          <td>In Progress</td>
          <td><%= @campus.contacts.all(:conditions => {:status => [0, 1, 4]}).size %></td>
        </tr>
        <tr>
          <td class="sub">uncontacted</td>
          <td><%= @campus.contacts.all(:conditions => {:status => [0]}).size %></td>
        </tr>
        <tr>
          <td class="sub">attempted</td>
          <td><%= @campus.contacts.all(:conditions => {:status => [1]}).size %></td>
        </tr>
        <tr>
          <td class="sub">contacted</td>
          <td><%= @campus.contacts.all(:conditions => {:status => [4]}).size %></td>
        </tr>
        <tr>
          <td>Do Not Contact</td>
          <td><%= @campus.contacts.all(:conditions => {:status => [3]}).size %></td>
        </tr>
      </tbody>  
    </table>

    <table>
      <thead>
        <tr>
          <th colspan="2">Reached out but...</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Bad Information</td>
          <td><%= @campus.contacts.all(:conditions => {:result => [1]}).size %></td>
        </tr>
        <tr>
          <td>No Response</td>
          <td><%= @campus.contacts.all(:conditions => {:result => [2]}).size %></td>
        </tr>
        <tr>
          <td>No Longer Interested</td>
          <td><%= @campus.contacts.all(:conditions => {:result => [3]}).size %></td>
        </tr>
        <tr>
          <td>Another Digital Sent</td>
          <td><%= @campus.contacts.all(:conditions => {:result => [4]}).size %></td>
        </tr>
        <tr>
          <td>Total</td>
          <td><%= @campus.contacts.all(:conditions => {:result => [1, 2, 3, 4]}).size %></td>
        </tr>
      </tbody>  
    </table>

    <table>
      <thead>
        <tr>
          <th colspan="2">Met and...</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Magazine Grab 'n' Go</td>
          <td><%= @campus.contacts.all(:conditions => {:result => [5]}).size %></td>
        </tr>
        <tr>
          <td>Interaction</td>
          <td><%= @campus.contacts.all(:conditions => {:result => [6]}).size %></td>
        </tr>
        <tr>
          <td>Interaction & Magazine</td>
          <td><%= @campus.contacts.all(:conditions => {:result => [7]}).size %></td>
        </tr>
        <tr>
          <td>Total</td>
          <td><%= @campus.contacts.all(:conditions => {:result => [5, 6, 7]}).size %></td>
        </tr>
      </tbody>  
    </table>

    <table class="wide">
      <thead>
        <tr>
          <th colspan="7">Follow-up Progress</th>
        </tr>
      </thead>
      <tbody>
        <% if @campus.leaders_with_contacts.blank? %>
          <tr>
            <td>Nobody has contact assigned to them yet.</td>
          </tr>
        <% else %>
          <tr>
            <td>&nbsp;</td>
            <td>Completed</td>
            <td>In Progress</td>
            <td>Uncontacted</td>
            <td>Attempted</td>
            <td>Contacted</td>
            <td>Do Not Contact</td>
          </tr>
          <% @campus.leaders_with_contacts.each do |person| %>
            <tr>
              <td><%= "#{person.person_fname} #{person.person_lname}" %></td>
              <td><%= person.contacts_with_status(2).size %></td>
              <td><%= person.contacts_with_status([0, 1, 4]).size %></td>
              <td><%= person.contacts_with_status(0).size %></td>
              <td><%= person.contacts_with_status(1).size %></td>
              <td><%= person.contacts_with_status(4).size %></td>
              <td><%= person.contacts_with_status(3).size %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>  
    </table>

    <br>
    <br>
    <br>
    <p>The total number of contacts <em>in progress</em> is the sum of the number of contacts with a status of uncontacted, attempted or contacted.</p>
    <br>
    <br>
    <p><%= link_to "Back to contact search", contacts_path %></p>
  </div>

  <script type="text/javascript">
    $(function() {
      $('#report_campus_id').change(function() {
        $('.contacts_report').fadeOut();
        window.location.href = '<%= impact_report_contacts_path %>?campus_id=' + $('#report_campus_id').val();
      });
    });
  </script>

<% end %>