<% cache([@campuses, Time.now.to_date, Time.now.hour]) do %>

  <% if @campuses %>
    <% campus_ids = @campuses.collect(&:id) %>

    <h2>
      National Snapshot Report
    </h2>

    <div id="results" class="contacts_report">

      <table class="statsTable statsReportTabContainer">
        <thead>
          <tr>
            <th colspan="7" class="statsTitle"><p>Drill-down by Priority</p></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>&nbsp;</td>
            <td class="statsTableTitle">Total</td>
            <td class="statsTableTitle">Hot</td>
            <td class="statsTableTitle">Medium</td>
            <td class="statsTableTitle">Mild</td>
            <td class="statsTableTitle">Not Interested</td>
          </tr>
          <% @campuses.each do |campus| %>
            <tr class="<%= cycle('highlight', 'nohighlight') %>">
              <td class="statsTableTitle"><%= campus.desc %></td>
              <td><%= number_with_delimiter campus.contacts.all(:conditions => {:priority => [contact_search_options[:priority][:options][1], contact_search_options[:priority][:options][2], contact_search_options[:priority][:options][3], contact_search_options[:priority][:options][4]]}).size %></td>
              <td><%= number_with_delimiter campus.contacts.all(:conditions => {:priority => contact_search_options[:priority][:options][1]}).size %></td>
              <td><%= number_with_delimiter campus.contacts.all(:conditions => {:priority => contact_search_options[:priority][:options][2]}).size %></td>
              <td><%= number_with_delimiter campus.contacts.all(:conditions => {:priority => contact_search_options[:priority][:options][3]}).size %></td>
              <td><%= number_with_delimiter campus.contacts.all(:conditions => {:priority => contact_search_options[:priority][:options][4]}).size %></td>
            </tr>
          <% end %>
          <tr>
            <td>Totals</td>
            <td><%= number_with_delimiter Contact.all(:conditions => {:campus_id => campus_ids, :priority => [contact_search_options[:priority][:options][1], contact_search_options[:priority][:options][2], contact_search_options[:priority][:options][3], contact_search_options[:priority][:options][4]]}).size %></td>
            <td><%= number_with_delimiter Contact.all(:conditions => {:campus_id => campus_ids, :priority => contact_search_options[:priority][:options][1]}).size %></td>
            <td><%= number_with_delimiter Contact.all(:conditions => {:campus_id => campus_ids, :priority => contact_search_options[:priority][:options][2]}).size %></td>
            <td><%= number_with_delimiter Contact.all(:conditions => {:campus_id => campus_ids, :priority => contact_search_options[:priority][:options][3]}).size %></td>
            <td><%= number_with_delimiter Contact.all(:conditions => {:campus_id => campus_ids, :priority => contact_search_options[:priority][:options][4]}).size %></td>
          </tr>
        </tbody>  
      </table>

      <br>
      <div class="clear"></div>
      <br>

      <table class="statsTable statsReportTabContainer">
        <thead>
          <tr>
            <th colspan="7" class="statsTitle"><p>Follow-up Progress</p></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>&nbsp;</td>
            <td class="statsTableTitle">Completed</td>
            <td class="statsTableTitle">In Progress</td>
            <td class="statsTableTitle">Uncontacted</td>
            <td class="statsTableTitle">Attempted</td>
            <td class="statsTableTitle">Contacted</td>
            <td class="statsTableTitle">Do Not Contact</td>
          </tr>
          <% @campuses.each do |campus| %>
            <tr class="<%= cycle('highlight', 'nohighlight') %>">
              <td class="statsTableTitle"><%= campus.desc %></td>
              <td><%= number_with_delimiter campus.contacts.all(:conditions => {:status => 2}).size %></td>
              <td><%= number_with_delimiter campus.contacts.all(:conditions => {:status => [0, 1, 4]}).size %></td>
              <td><%= number_with_delimiter campus.contacts.all(:conditions => {:status => 0}).size %></td>
              <td><%= number_with_delimiter campus.contacts.all(:conditions => {:status => 1}).size %></td>
              <td><%= number_with_delimiter campus.contacts.all(:conditions => {:status => 4}).size %></td>
              <td><%= number_with_delimiter campus.contacts.all(:conditions => {:status => 3}).size %></td>
            </tr>
          <% end %>
          <tr>
            <td>Totals</td>
            <td><%= number_with_delimiter Contact.all(:conditions => {:campus_id => campus_ids, :status => 2}).size %></td>
            <td><%= number_with_delimiter Contact.all(:conditions => {:campus_id => campus_ids, :status => [0, 1, 4]}).size %></td>
            <td><%= number_with_delimiter Contact.all(:conditions => {:campus_id => campus_ids, :status => 0}).size %></td>
            <td><%= number_with_delimiter Contact.all(:conditions => {:campus_id => campus_ids, :status => 1}).size %></td>
            <td><%= number_with_delimiter Contact.all(:conditions => {:campus_id => campus_ids, :status => 4}).size %></td>
            <td><%= number_with_delimiter Contact.all(:conditions => {:campus_id => campus_ids, :status => 3}).size %></td>
          </tr>
        </tbody>  
      </table>

      <br>
      <br>
      <br>
      <p>The total number of contacts <em>in progress</em> is the sum of the number of contacts with a status of uncontacted, attempted or contacted.</p>
      <br>
      <br>
      <p><%= link_to "Back to contact search", search_contacts_path %></p>
    </div>

  <% end %>
  
<% end %>