<div class="title">
  <% if attrib_type == 'ProfileQuestion' %>
    <% help_block do -%>
      <p>
        Profile questions are added to the bottom of each person's profile.  Their answers can be seen by everyone who can see the profile.
      </p>
    <% end -%>
  <% elsif attrib_type == 'InvolvementQuestion'-%>
    <% help_block do -%>
      <p>
        Involvement questions keep track of what each person is involved in.
      </p>
    <% end -%>
  <% end -%>
  <%= attrib_type.to_s.underscore.pluralize.humanize.titleize %>
</div>

<div id="custom_attributes_<%= attrib_type %>">
	<div id="current_custom_attributes_<%= attrib_type %>" class="right_list">
		<ul id="direct_custom_attribute_<%= attrib_type %>">
		<%= render :partial => 'custom_attributes/custom_attribute', :collection => attributes %>
		</ul>
	</div>
	<div>
	<div id="new_custom_attribute_link_<%= attrib_type %>">
		<div class="butAdd" ><%= link_to_remote('Add a ' + attrib_type.to_s.underscore.humanize.downcase, :url => new_custom_attribute_url(:type => attrib_type),
											 	 :before => "$('#new_custom_attribute_link_#{attrib_type}').slideUp();$('#spinner#{attrib_type}').show()",
											 	 :method => :get)%></div>
	</div><%= spinner(attrib_type) %>
	</div>
	<div>
		<div id="<%= attrib_type %>" style="display:none;" class="inline_ajax_form">
		</div>
	</div>
</div>
