<%= error_messages_for 'custom_attribute' %>
<%- remote_form_for @custom_attribute do |f| -%>
	<%= f.hidden_field :ministry_id %>
	<%= hidden_field_tag :type, params[:type] %>
	<table border="0" cellspacing="5" cellpadding="5">
		<tr><th colspan="2"><%= @custom_attribute.new_record? ? 'New Custom Attribute' : @custom_attribute.name %></th></tr>
		<tr><td>Name: </td><td><%= f.text_field :name, :class => "customform" %></td></tr>
		<tr><td>Type: </td><td><%= f.select :value_type, [['Short Text', 'text_field'], ['Long Text','text_area'], 
														  ['Date','date_select'], ['Yes/No','check_box']], {:selected => @custom_attribute.new_record? ? 'check_box' : @custom_attribute.value_type} %></td></tr>
		<tr><td>Description: </td><td><%= f.text_field :description, :class => "customform" %></td></tr>
	</table>
	<%= submit_tag 'Save' %> or <%= link_to_function 'cancel', "$('##{type}').fadeOut();$('#new_custom_attribute_link_#{type}').show()",
	 															:class => 'cancel'%>
<%- end -%>
