<h1>Editing API Key</h1>
<br/>

<% form_for(@api_key) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :user_id %>
    <%= f.text_field :user_id %> (user id or user email)
  </p>
  
  <p>
    <%= f.label :purpose %>
    <%= f.text_field :purpose %>
  </p>
  
  <br/>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
<br/>

<%= link_to 'Show', @api_key %> |
<%= link_to 'Back', api_keys_path %>
