<html>
  <p><%= @person[:first_name] %>,</p>

  <p>The following <%= @contacts_length > 1 ? "#{@contacts_length} contacts have" : "contact has" %> been assigned to you for follow-up:</p>

  <ul>
    <% @contacts.each do |contact| %>
      <li>
        <%= link_to "#{contact[:first_name]} #{contact[:last_name]} (#{contact[:priority].upcase})", "#{@base_url}/contacts/#{contact[:id]}/edit" %>
      </li>
    <% end %>
  </ul>

  <p><%= link_to "View all your follow-up contacts.", "#{@base_url}/contacts/search?assigned_to[]=#{@person[:id]}" %></p>

  <p><%= link_to "Find great follow-up tips on the p2c.com site.", "http://powertochange.com/students/resources/september-launch-follow-up/" %></p>
</html>