 <script type="text/javascript">
  // This requires the jquery library
  // Added here to get it working quickly. Someone can probably move and/or
  // refactor the following mess.
  // Dynamic on-the-fly field creation to alter the number of parameter
  // name/value pairs. I didn't think remote_edit was appropriate since
  // you would need to create and save the type before you can make changes
  // to the parameter list.
  //    Daniel Harsojo. 25/4/2009
   redirect_params_json = <%=@correspondence_type.redirect_params.to_json  %>;
   redirect_params = eval(redirect_params_json);


var count = new Array();
count['redirect_params'] = 0;

 $(document).ready(function() {
   if (redirect_params == null) {
      addField('#redirect_params', 'controller', undefined, false);
      addField('#redirect_params', 'action', undefined, false);
      return true;
    }

    for (key in redirect_params) {
      if (key == 'controller' || key == 'action') {
          removeFlag = false;
        }
        else
          removeFlag = true;
        addField('#redirect_params',key, redirect_params[key], removeFlag);
    }
 });

function addField(id, defaultName, defaultValue, allowDelete){
    if (allowDelete === undefined) {
        allowDelete = true;
    }
    if (defaultName === undefined) {
        defaultName = '';
    }
    if (defaultValue === undefined) {
        defaultValue = '';
    }
    var d = $(id);

    // reformat id without initial #
    id = id.substring(1)

    var content = '<p id="'+id+'_'+count[id]+'">';
    content += 'Name: <input type="text" size="15" name="correspondence_type['+id+']['+count[id]+'][name]" value="'+defaultName+'"/>, ';
    content += 'Value: <input type="text" size="15" name="correspondence_type['+id+']['+count[id]+'][value]" value="'+defaultValue+'"/>';
    if (allowDelete == true) {
        content += '<a href="javascript:removeField(\'#'+id+'_'+count[id]+'\');">remove</a>';
    }
    content += '</p>';
    d.before(content);

    count[id]++;
}



function removeField(id) {
    $(id).remove();
}

function createAndFillDynElements(fieldName, data) {
    if (data == null) {
        return true;
    }
    var firstRun = true;
    while (data.length > 0)
    {
        var comment = '';
        while ((comment = data.shift()) == null);

        if (firstRun == true) {
            removeField(fieldName+'_0');
            count[fieldName]--;
            addField(fieldName,comment,0);
            firstRun = false;
        }
        else {
         addField(fieldName,comment);
         }
    }
}
 </script>
<%- if @correspondence_type.new_record?
    path = correspondence_types_path
    method = :post -%>
    <h4>New correspondence Type</h4>
<%- else
    path = correspondence_type_path(@correspondence_type)
    method = :put -%>
  <h4>Editing <%= @correspondence_type.name %></h4>
<%- end -%>

<%- form_for @correspondence_type, :url => path, :method => method do |f| -%>
<%= f.error_messages %>

<table border="0" cellspacing="5" cellpadding="5">
    <tr>
      <td style="vertical-align:top;">
    	<table border="0" cellspacing="5" cellpadding="5">
    		<tr><th colspan="2"><%= @correspondence_type.new_record? ? 'New correspondence Type' : @correspondence_type.name %></th></tr>
    		<tr><td><%= f.label :name %></td><td><%= f.text_field :name %></td></tr>
    		<tr>
    			<td><%= f.label :overdue_lifespan %></td>
    			<td>
    				<%= f.text_field :overdue_lifespan %>
    			</td>
    		</tr>
    		<tr>
    		    <td>
    		        <%= f.label :expiry_lifespan %>
                </td>
                <td>
                    <%= f.text_field :expiry_lifespan %>
                </td>
    		</tr>
            <tr>
    		    <td>
    		        <%= f.label :actions_now_task %>
                </td>
                <td>
                    <%= f.text_field :actions_now_task %>
                </td>
    		</tr>
            <tr>
    		    <td>
    		        <%= f.label :actions_overdue_task %>
                </td>
                <td>
                    <%= f.text_field :actions_overdue_task %>
                </td>
    		</tr>
            <tr>
    		    <td>
    		        <%= f.label :actions_followup_task %>
                </td>
                <td>
                    <%= f.text_field :actions_followup_task %>
                </td>
    		</tr>
            <tr>
    		    <td>
    		        <%= f.label :redirect_target_id_type %>
                </td>
                <td>
                    <%= f.text_field :redirect_target_id_type %>
                </td>
    		</tr>
            <tr>
              <td colspan="2">
                <div>
    Redirect Params<br />
    <p id="redirect_params">
        <a href="javascript:addField('#redirect_params');">Add more parameters</a>
    </p>
  </div>
              </td>
            </tr>
    	</table>
  	  </td>
  	</tr>
</table>
<%= submit_tag 'Save' %> or
	<%= link_to 'cancel', correspondence_types_path %>


<%- end -%>