<div class="title">Listing Correspondence Types (System admin only)</div>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Overdue lifespan</th>
    <th>Expiry lifespan</th>
  </tr>

<% @correspondence_types.each do |correspondence_type| %>
  <tr>
    <td><%=h correspondence_type.id %></td>
    <td><%=h correspondence_type.name %></td>
    <td><%=h correspondence_type.overdue_lifespan %></td>
    <td><%=h correspondence_type.expiry_lifespan %></td>
    <td><%= link_to 'Show', correspondence_type %></td>
    <td><%= link_to 'Edit', edit_correspondence_type_path(correspondence_type) %></td>
    <td><%= link_to 'Destroy', correspondence_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New correspondence_type', new_correspondence_type_path %>