<div class="title">Correspondence Type showing: <%=h @correspondence_type.name %></div>

<p>
  <b>Overdue lifespan:</b>
  <%=h @correspondence_type.overdue_lifespan %>
</p>

<p>
  <b>Expiry lifespan:</b>
  <%=h @correspondence_type.expiry_lifespan %>
</p>

<p>
  <b>Actions now task:</b>
  <%=h @correspondence_type.actions_now_task %>
</p>

<p>
  <b>Actions overdue task:</b>
  <%=h @correspondence_type.actions_overdue_task %>
</p>

<p>
  <b>Actions followup task:</b>
  <%=h @correspondence_type.actions_followup_task %>
</p>
<div class="redirect_params">
  <h4>Redirect Parameter Constants</h4>
  <% for key,redirect_param in @correspondence_type.redirect_params %>
    <div class="redirect_param">
      <span id="redirect_param_<%= key %>">
        <strong>Param Name:</strong> <%= key %>, <strong>Param Value:</strong> <%= redirect_param %>
      </span>
      
    </div>
  <% end %>
</div>


<%= link_to 'Edit', edit_correspondence_type_path(@correspondence_type) %> |
<%= link_to 'Back', correspondence_types_path %>
<br/>
<div class="email_templates">
  <div class="title">Email Templates</div>
  <% for email_template in @correspondence_type.email_templates %>
    <div class="email_template">
      <span id="email_template_<%= email_template.id %>">
        <%= email_template.outcome_type %>
      </span>
      <span>
        <%= link_to 'Edit', edit_correspondence_type_email_template_path(@correspondence_type, email_template) %>
       | <%= link_to 'Delete', correspondence_type_email_template_path(@correspondence_type, email_template), :confirm => 'Are you sure?', :method => :delete %>
      </span>
    </div>
  <% end %>
  <%= link_to 'New Template', new_correspondence_type_email_template_path(@correspondence_type) %> |
  <%= link_to 'Back', correspondence_types_path %>
</div>