<h1>Editing event_campus</h1>

<% form_for(@event_campus) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :event_id %><br />
    <%= f.text_field :event_id %>
  </p>
  <p>
    <%= f.label :campus_id %><br />
    <%= f.text_field :campus_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @event_campus %> |
<%= link_to 'Back', event_campuses_path %>