<li id='<%=@short%>_li_edit_<%= involvement.id %>'>
<div class='inline_ajax_form'>
<% remote_form_for(involvement, 
     :url => self.send("person_#{@singular}_involvement_url", @person.id, involvement.id),
     :method => :post) do |f| %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save' %>
  or
  <%= link_to_function 'cancel', "$(\"##{@short}_li_edit_#{involvement.id}\").replaceWith(\"\"); $(\"##{@short}_li_#{involvement.id}\").show();" %>
<% end %>
</div>
</li>

