<div id="dialog" style="display:none;">
  <% if @student %>
     Make this person a staff member. 
  <% end %>
  <%- if @denied -%>
    <p>Students are assigned to campuses, not ministries.  Edit their Campuses instead.</p>
  <%- else -%>
  <ul id='<%=@short%>_list'>
    <%= render :collection => instance_variable_get("@#{@singular}_involvements"), :partial => "involvements/involvement_li" %>
    <li id='new_<%=@singular%>_li'>
    <%= link_to_remote image_tag('add.png') + ' ' + @add_title, :url => self.send("new_person_#{@singular}_involvement_url", @person.id, :from_profile => true), :method => :get, :with => %|'already=' + $('#new_#{@singular}_involvement').is(':visible')| %>
    or
      <a id="TB_closeWindowButton" href="#">close</a>
    </li>
  </ul>
  <br/>
  <div id='involvement_history'>Involvement History</div>
    <ul id='history'>
      <%= render :collection => @involvement_history, :partial => "involvement_history/involvement_li" %>
    </ul>
  </div>
  <%- end -%>
</div>
