<h1>Editing campus_term</h1>

<% form_for(@campus_term) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :term_id %><br />
    <%= f.text_field :term_id %>
  </p>
  <p>
    <%= f.label :campus_id %><br />
    <%= f.text_field :campus_id %>
  </p>
  <p>
    <%= f.label :start %><br />
    <%= f.date_select :start %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.date_select :end %>
  </p>
  <p>
    <%= f.label :verification_date %><br />
    <%= f.date_select :verification_date %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @campus_term %> |
<%= link_to 'Back', campus_terms_path %>