<h1>Editing correspondence</h1>

<% form_for(@correspondence) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :correspondence_type_id %><br />
    <%= f.text_field :correspondence_type_id %>
  </p>
  <p>
    <%= f.label :receipt %><br />
    <%= f.text_field :receipt %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :visited %><br />
    <%= f.date_select :visited %>
  </p>
  <p>
    <%= f.label :completed %><br />
    <%= f.date_select :completed %>
  </p>
  <p>
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </p>
  <p>
    <%= f.label :overdue_at %><br />
    <%= f.date_select :overdue_at %>
  </p>
  <p>
    <%= f.label :expire_at %><br />
    <%= f.date_select :expire_at %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @correspondence %> |
<%= link_to 'Back', correspondences_path %>