
<div class="title">Listing correspondences in queue (System Admin Only)</div>

 <div class="divider" style="margin-bottom:0;">&nbsp;</div>
<table>
  <tr>
    <th>Recepient</th>
    <th>Type</th>
    <th>State</th>
    <th>Visited</th>
    <th>Completed</th>
    <th>Created at</th>
    <th>Overdue at</th>
    <th>Expire at</th>
  </tr>

<% @correspondences.each do |correspondence| %>
  <tr>
    <td><%=h correspondence.person.first_name %> <%=h correspondence.person.last_name %></td>
    <td><%=h correspondence.correspondence_type.name %></td>
    <td><%=h correspondence.get_state %></td>
    <td><%=h correspondence.visited %></td>
    <td><%=h correspondence.completed %></td>
    <td><%=h correspondence.created_at %></td>
    <td><%=h correspondence.overdue_at %></td>
    <td><%=h correspondence.expire_at %></td>
    <td><%= link_to 'Show', correspondence %></td>
    <td><%= link_to 'Destroy', correspondence, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<div class="butUpdate" style="margin-right:5px;">
  <%= link_to 'Manage Correspondence Types', correspondence_types_path %>
 </div>