<p>
  <b>Id:</b>
  <%=h @correspondence.id %>
</p>
<p>
  <b>Recepient:</b>
  <%=h @correspondence.person.first_name %> <%=h @correspondence.person.last_name %>
</p>
<p>
  <b>Correspondence type:</b>
  <%=h @correspondence.correspondence_type.name %>
</p>

<p>
  <b>Receipt:</b>
  <%=h @correspondence.receipt %>
</p>

<p>
  <b>State:</b>
  <%=h @correspondence.get_state %>
</p>

<p>
  <b>Visited:</b>
  <%=h @correspondence.visited %>
</p>

<p>
  <b>Completed:</b>
  <%=h @correspondence.completed %>
</p>

<p>
  <b>Created at:</b>
  <%=h @correspondence.created_at %>
</p>

<p>
  <b>Overdue at:</b>
  <%=h @correspondence.overdue_at %>
</p>

<p>
  <b>Expire at:</b>
  <%=h @correspondence.expire_at %>
</p>

<p>
  <b>Stored token params:</b>
</p>

<div style="position: relative; left: 20px; margin-bottom: 20px;">
  <%= @correspondence.token_params_html %>
</div>


<%= link_to 'Back', correspondences_path %>