<h1>Compose email</h1>

<script src="/ckeditor/ckeditor.js" type="text/javascript"></script>

<% form_for(@email, :html => { :class => "disableOnSubmit"}) do |f| %>
  <br/>
  
  <%- if @people -%>
  <p>
  <b>To:</b>
  <span><%= @people.collect(&:email).join(", ") %></span>
  </p>
  <%- end -%>

  <%= f.error_messages %>
  <%= f.hidden_field :search_id %>
  <%= f.hidden_field :people_ids %>
  <br/>
  <p>
    <b>Subject:</b>
    <%= f.text_field :subject, :size => 100 %>
  </p>
  <br/>
  <p>
    Use {{first_name}} and {{last_name}} to substitute the recipients' first and last names, respectively.
  </p>
  <p>
    <%= f.text_area :body, :cols => 80, :class => "ckeditor" %>
  </p>
  <br/>
  <p>
    <%= f.submit 'Send', :class => 'action-button disableOnSubmit' %> or 
    <%= link_to 'cancel', :back, :class => 'cancel' %>
  </p>
<% end %>

<script type="text/javascript">
  disableInputsOnSubmit("disableOnSubmit");
</script>