<%- archived = campus_involvement.end_date.present? -%>
<div<%= ' class="archived_text"' if archived %>>

  <% ministry = campus_involvement.campus.derive_ministry %>
  <% if @person == @me || ( authorized?(:edit, :campus_involvements) &&
        ( is_ministry_leader(ministry, @me) || ministry.leaders.include?(@me) || is_ministry_admin )
      )
  %>
    <%= link_to_remote "", {:url => person_campus_involvement_url(@person.id, campus_involvement.id, :from_profile => @from_profile), :method => :delete, :confirm => (archived ? "Are you sure you want to delete this archived involvement?  Please delete this archived involvement only if it's inaccurate, so that we can collect accurate statistics." : t("profile.manage_campuses.archive_confirm"))}, {:title => "Remove", :class => "removeInvolvementIconLink"} %>
  <% end %>

  <% if @student %>
    <%= campus_involvement.find_or_create_ministry_involvement.ministry_role.name %>
  <% end %>

  <%= campus_involvement.campus.name %> <%= campus_involvement.school_year_translation_key ? t("years.#{ campus_involvement.school_year_translation_key }") : '&lt;no school year set&gt;' %>

  &nbsp;<%= link_to_remote "", {:url => edit_person_campus_involvement_url(@person.id, campus_involvement.id, :from_manage => true), :method => :get}, {:title => "Edit", :class => "editInvolvementIconLink"} %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    strikeParentOnHover($(".removeInvolvementIconLink"));
  });
</script>
