<%- archived = campus_involvement.end_date.present? -%>
<div<%= ' class="archived_text"' if archived %>>
<%= link_to_remote image_tag('delete.png'), :url => person_campus_involvement_url(@person.id, campus_involvement.id, :from_manage => true), :method => :delete, :confirm => (archived ? "Are you sure you want to delete this archived involvement?  Please delete this archived involvement only if it's inaccurate, so that we can collect accurate statistics." : "Are you sure you want to archive this involvement?" ) %> 
<%= campus_involvement.campus.name %>, <%= campus_involvement.try(:school_year).try(:name) || 'no school year set'%>,
<%- if campus_involvement.end_date.present? -%> from <%= campus_involvement.start_date %> to <%= campus_involvement.end_date %> (archived)
<%- else -%>
 since <%= campus_involvement.start_date %>
<%- end -%>
<%= link_to_remote image_tag('button_edit_tiny.gif'), :url => edit_person_campus_involvement_url(@person.id, campus_involvement.id, :from_manage => true), :method => :get %>
</div>
