
<% content_for :javascripts do %>
  <%= javascript_include_tag "group_invitations_new.js" %>
<% end %>


Invite people to <%= @group.name %>

<form id="invitationSearchForm" action="">
  <%= render :partial => "/search/uber_search_box", :locals => { :default_text => "search for a person or simply enter their email",
                                                                 :input_id => "inviteSearchBox",
                                                                 :input_class => "invitePersonSearch uberSearchBox",
                                                                 :resultsClass => "ac_results ac_results_group_invite",
                                                                 :action_params => "all_results_link=false&actions=false&max_results=7",
                                                                 :resultFunction => "groupInvitationSearchBoxResultAction" } %>
</form>

<div id="invitationsDisplay"></div>

<div id="invitePreview">
  Invitation preview:
  <%= render :partial => "user_mailer/group_invitation", :locals => {:group_invitation => @preview_group_invitation} %>
</div>

<% form_tag 'create_multiple', :id => "invitationsForm" do %>
  <div id="invitations"></div>
  <%= submit_tag 'Invite!', :id => 'invitationSubmit', :class => 'action-button' %> &nbsp; <%= spinner('_submit') %>
<% end %>


