<h1>Listing global_areas</h1>

<table>
  <tr>
    <th>Area</th>
  </tr>

<% @global_areas.each do |global_area| %>
  <tr>
    <td><%=h global_area.area %></td>
    <td><%= link_to 'Show', global_area %></td>
    <td><%= link_to 'Edit', edit_global_area_path(global_area) %></td>
    <td><%= link_to 'Destroy', global_area, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New global_area', new_global_area_path %>