<%- help_block do -%> 
  <h3>Managing Ministry Roles</h3>
  <p>This is a very powerful page. 
  What you modify in here will effect all roles for every ministry on the Campus Movement Tracker. 
  The roles you see are listed in hierarchal style; the higher the role, the higher its position in the Campus Movement Tracker.
  To change a role position, click on the four-pronged arrow and drag it to its new position. 
  If you want to change a staff role to a student role, or vice versa, you'll have to click the edit button and change its category.
  This will effect the Responsible Person chains, who can edit who's profile, etc. Use this carefully.
  </p>
  <p>
  In order to delete a role, everyone of that role must be switched to a different role.
  Names and desriptions don't change anything rather than how they are displayed. 
  Permissions are the meat a potatoes of roles. Click on the key to edit what a certain role can do.
  </p>

<%- end -%>

<div id="permissions">
	<div class="right_list">
		<div class="title"><%= @ministry.name %> Roles</div>
		<h4><%= t(:Staff, :default => 'Staff') %> Roles</h4>
		<ul id="staff_role_list">
		  <%= render :partial => 'ministry_roles/ministry_role', :collection => @ministry.staff_roles %>
		</ul>
		<h4>Student Roles</h4>
		<ul id="student_role_list">
		  <%= render :partial => 'ministry_roles/ministry_role', :collection => @ministry.student_roles %>
		</ul>
		<h4>Other Roles <%- tooltip do -%><p>These people aren't <%= t(:staff_plural, :default => 'staff') %>, but they aren't students either.</p><%- end -%></h4>
		<ul id="other_role_list">
		  <%= render :partial => 'ministry_roles/ministry_role', :collection => @ministry.other_roles %>
		</ul>
    <%- if @ministry.ministry_roles.empty? -%>
    	<p id="no_ministries">There are currently no roles set up for your ministry.</p>
    <%- end -%>
    <div class="butAdd" id="add_link"><%= link_to_remote('Add a new role', :url => new_ministry_role_path,
      											 	 :before => "$('#spinner').show()",
      											 	 :method => :get)%> <%= spinner %></div>
    <br/>
    <div id="ministry_role" style="display:none"></div>
	</div>
</div>

<%= sortable_element( 'staff_role_list',
	:url => { :action => "reorder" },
	:complete => visual_effect(:highlight, 'staff_role_list' ),
	:handle => 'drag_me')
%>

<%= sortable_element( 'student_role_list',
	:url => { :action => "reorder" },
	:complete => visual_effect(:highlight, 'student_role_list' ),
	:handle => 'drag_me')
%>

<%= sortable_element( 'other_role_list',
	:url => { :action => "reorder" },
	:complete => visual_effect(:highlight, 'other_role_list' ),
	:handle => 'drag_me')
%>
