<p>
  <b>Name:</b>
  <%=h @global_country.name %>
</p>

<p>
  <b>Global area:</b>
  <%=h @global_country.global_area.area %>
</p>

<p>
  <b>Iso3:</b>
  <%=h @global_country.iso3 %>
</p>

<p>
  <b>Stage:</b>
  <%=h @global_country.stage %>
</p>

<p>
  <b>Live exp:</b>
  <%=h @global_country.live_exp %>
</p>

<p>
  <b>Live dec:</b>
  <%=h @global_country.live_dec %>
</p>

<p>
  <b>New grth mbr:</b>
  <%=h @global_country.new_grth_mbr %>
</p>

<p>
  <b>Mvmt mbr:</b>
  <%=h @global_country.mvmt_mbr %>
</p>

<p>
  <b>Mvmt ldr:</b>
  <%=h @global_country.mvmt_ldr %>
</p>

<p>
  <b>New staff:</b>
  <%=h @global_country.new_staff %>
</p>

<p>
  <b>Lifetime lab:</b>
  <%=h @global_country.lifetime_lab %>
</p>


<%= link_to 'Edit', edit_global_country_path(@global_country) %> |
<%= link_to 'Back', global_countries_path %>
