<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <title>
      <%= build_site_title(@site_title) -%>
    </title>


    <%= stylesheet_link_tag "ext/ext-all", "style", "thickbox", "ext/xtheme-gray",
                            :media => "screen",
                            :cache => "cache/all" %>

    <!-- this is a conditional comment, only IE recognizes these -->
    <!--[if lt IE 8]>
      <%= stylesheet_link_tag "ext/ext-all", "style", "thickbox", "ext/xtheme-gray",
                              :media => "screen" %>
    <![endif]-->


    <%= stylesheet_link_tag "/javascripts/jscalendar-1.0/skins/white/calendar-white.css", :media => "screen" %>

    <%= javascript_include_tag :defaults, 'person', 'thickbox-compressed', 'alternate', 'ext-jquery-adapter', 'ext-all', 'json',
                               'jquery.disable.text.select.pack', 'jquery.scrollTo-min', 'jquery.pjax',
                               'jscalendar-1.0/calendar.js', 'jscalendar-1.0/lang/calendar-en.js', 'jscalendar-1.0/calendar-setup.js',
                               'application', 'application.ready',
                               :cache => "cache/all" %>

    <%= yield :javascripts %>

    <%- if logged_in? -%>
      <%= stylesheet_link_tag "connexion_default.css" %>
    <%- end -%>

    <%= stylesheet_link_tag "connexion_default.css" %>

    <%= locale_stylesheet_link_tag %>

    <%= fb_connect_javascript_tag if Cmt::CONFIG[:facebook_connectivity_enabled] %>
  </head>


  <body>
    <div id="background">

      <%= init_fb_connect('XFBML', :js => :jquery) if Cmt::CONFIG[:facebook_connectivity_enabled]%>

      <div id="outer">

        <%= render '/layouts/gcx_connexion_bar' %>

        <%= render '/link_bar/pulse_link_bar' %>

        <div id="wrapper" class="<%= 'dashboard' if controller.controller_name == 'dashboard' %>">
          <div id="userbar_wrapper">
            <div id="userbar">
              <div id="logos">
                <%= link_to "<span id='pulse_logo'>&nbsp;</span>", :controller => 'dashboard', :action => 'index' %>
              </div>


              <% if logged_in? && @me && !@custom_userbar_title %>

                <%= render :partial => "layouts/search_box", :locals => { :q => @q, :default_text => "Search the Pulse" } unless @hide_layout_navigation %>

                <% if Cmt::CONFIG[:facebook_connectivity_enabled] && facebook_session %>
                  <a href="#" class="logoutbutton" onclick="try {
                    FB.Connect.logoutAndRedirect('<%= logout_url %>');
                    } catch (e) { alert('RJS error:\n\n' + e.toString()); alert('FB.Connect.logoutAndRedirect(\'<%= logout_url %>\');'); throw e }; return false;">logout</a>
                <% end %>

                <div id="userblock" class="link_bar">
                  <%= spinner('_switch_ministries', 'opaqueWhite') %>
                  <%= t('layout.top_bar.greeting', :name => %|
                        <div id="username">#{link_to(@my.full_name, person_path(@me), :title => "Goto your profile")}</div>
                        |) %>

                  <%- if authorized?(:switch_list, :ministries) && authorized?(:switch_apply, :ministries) %>
                    <div id="switch_ministries">
                      <%- if @ministry -%>
                        &nbsp;&nbsp;
                        <%= link_to_remote "#{@ministry.name}<span class='menu_link_arrow'>&nbsp;</span>", {:url => switch_list_ministries_url(:format => 'js'), :method => 'get', :before => "$('#spinner_switch_ministries').show();", :success => "$('#spinner_switch_ministries').hide();"}, {:class => "menu_link"} %>
                      <%- end -%>
                    </div>
                    <div id="switch_ministries_list" style="display:none">&nbsp;</div>
                  <%- end -%>

                  <%= link_to(t('layout.top_bar.logout'), session_url, :method => :delete, :class => "rl log_out") %>
                </div>

                <div class="clear"></div>
              </div>
            </div>


            <% if controller.controller_name == "dashboard" %>
              <div id="banner_container">
                <%= render :partial => "/dashboard/banner" %>
              </div>
            <% else %>
              <% unless @hide_layout_navigation %>
                <div id="tablist_container">
                  <%= tabnav :main %>
                </div>
              <% end %>
            <% end %>


              <%- else -%>

                <div id="userblock">
                </div>

                <div class="clear"></div>
              </div>
            </div>


            <div id="greenbar">
              <div id="signin"><%= @custom_userbar_title || link_to(t("signup.login"), CASClient::Frameworks::Rails::Filter.login_url(controller)) %></div>
            </div>

          <%- end -%>

          <div class="clear">&nbsp;</div>

          <div class="pjax_container">
            <div class="messages">
              <!-- this is a conditional comment, only IE recognizes these -->
              <!--[if lt IE 8]>
                <div id='browser_warning' class='flash_notice warning'>
                  <%= image_tag "/images/silk/exclamation.png" %>
                  <b>You are using an outdated browser (<%= link_to "what's a browser?", "http://www.whatbrowser.org/", :target => "_blank" %>)</b><br/>
                  For a faster, safer browsing experience, upgrade for free to one of these browsers today:

                  <div style='display:inline; padding:5px 5px 0;'>
                    <%= link_to image_tag("browser_chrome_small.gif", :alt => "Google Chrome"), 'http://www.google.com/chrome', :title => "Google Chrome" %>
                    <%= link_to image_tag("browser_firefox_small.gif", :alt => "Firefox"), 'http://www.mozilla.com/firefox/', :title => "Firefox" %>
                    <%= link_to image_tag("browser_safari_small.gif", :alt => "Safari"), 'http://www.apple.com/safari/', :title => "Safari" %>
                    <%= link_to image_tag("browser_ie_small.gif", :alt => "Internet Explorer"), 'http://www.microsoft.com/windows/internet-explorer/', :title => "Internet Explorer" %>
                  </div>
                </div>
              <![endif]-->

              <noscript>
                <div class="flash_notice flash warning">
                  <%= image_tag "/images/silk/exclamation.png" %>
                  <b>For full functionality of this site it is necessary to enable JavaScript.</b>
                  <br/>
                  <br/>
                  <a href="http://www.enable-javascript.com/" target="_blank">Click here for instructions how to enable JavaScript in your web browser.</a>
                </div>
              </noscript>

              <div class="flash notice fade_on_pjax" id="flash_notice" <%= %(style="display:none;") unless flash[:notice].present? %>><%= flash[:notice] %></div>

              <%- if @notices -%>
                <%- for notice in @notices -%>
                  <div class="flash_notice fade_on_pjax" id="notice_<%= notice.id %>">
                    <%= notice.message %> <%= link_to_remote "Hide", :url => dismiss_notice_url(notice.id), :method => :post %>
                  </div>
                <%- end %>
              <%- end %>

              <div class="flash warning fade_on_pjax" id="flash_warning" <%= %(style="display:none;") unless flash[:warning].present? %>><%= flash[:warning] %></div>

              <div id="instructions" style="display:none;" class="fade_on_pjax"></div>
            </div>

            <div id="content_wrapper">
              <div id="content" class="fade_on_pjax">
                <%= yield %>
                <div class="clear">&nbsp;</div>
              </div>
            </div>
          </div>
        </div> <!-- Wrapper -->

        <div id="dialog" style="display:none"></div>

      </div> <!-- Outer -->

    </div> <!-- Background -->

    <div id="footer">
      <div id="ptcLinkContainer"><a href="http://powertochange.com" title="Power to Change" target="_blank"><div id="ptcLogoLink">&nbsp;</div></a></div>
      <div id="helpLinkContainer"><a href="http://getsatisfaction.com/powertochange" title="Pulse Help Center" target="_blank"><div id="helpLink">&nbsp;</div></a></div>
    </div>

    <%= I18n.t :analytics, :default => "" %>

    <% unless request.domain =~ /localhost/ %>
      <%= I18n.t :analytics, :default => "" %>
      <%= render 'layouts/seevolution' %>
    <% end %>

  </body>
</html>