<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%# Check if the web_title config option is set, and if so, use it %>
    <title>
      <% if Cmt::CONFIG[:web_title] %>
        <%= Cmt::CONFIG[:web_title] %>
      <% else %>
	      Campus Movement Tracker
      <% end %>      
      <%= ': ' + @site_title if @site_title -%>
    </title>
		<%= stylesheet_link_tag "ext/ext-all", "style", "thickbox", "ext/xtheme-gray", :media => "screen", :cache => false %>
		<%= javascript_include_tag :defaults, 'person', 'thickbox-compressed', 'alternate', 'ext-jquery-adapter', 'ext-all', 'json', 
		                            'jquery.disable.text.select.pack', 'jquery.scrollTo-min', :cache => true %>
    <%= yield :javascripts %>
    
		<%= stylesheet_link_tag "/javascripts/jscalendar-1.0/skins/aqua/theme.css" %>
    <%- if logged_in? -%>
      <%= stylesheet_link_tag "connexion_default.css" %>
    <%- end -%>
    <%= javascript_include_tag "jscalendar-1.0/calendar.js", "jscalendar-1.0/lang/calendar-en.js", "jscalendar-1.0/calendar-setup.js", :cache => 'calendar' %>
    
    <%= fb_connect_javascript_tag if Cmt::CONFIG[:facebook_connectivity_enabled] %>
		
	</head>	
	<body>
    <%= init_fb_connect('XFBML', :js => :jquery) if Cmt::CONFIG[:facebook_connectivity_enabled]%>
		<div id="outer">
    <%= connexion_bar if Cmt::CONFIG[:gcx_connexion_bar] %>

		<div id="wrapper">
      
		  <% if logged_in? %>
		  <div id="userbar">
    		<% if Cmt::CONFIG[:facebook_connectivity_enabled] && facebook_session %>
	  	    <a href="#" class="logoutbutton" onclick="try {
            FB.Connect.logoutAndRedirect('<%= logout_url %>');
            } catch (e) { alert('RJS error:\n\n' + e.toString()); alert('FB.Connect.logoutAndRedirect(\'<%= logout_url %>\');'); throw e }; return false;">logout</a>
	  	  <% else %>
		    	<%= link_to("logout", session_url, :class => 'logoutbutton', :method => :delete) %>
	    	<% end %>&nbsp;&nbsp;&nbsp;
		    <div id="userblock">
          <div id="username"><%= @my.full_name %></div>
          <small><%= link_to(image_tag('silk/page_white_edit.png'), person_path(@me)) %></small>
		    </div>
  			<div class="clear"></div>
			</div>
			
			<div id="greenbar">	
        <h1 id="title"><%= @ministry.try(:name) == Cmt::CONFIG[:default_ministry_name] ? I18n.t(:slogan, :default => 'Campus Movement Tracker') : @ministry.try(:name) %><%- if @is_staff_somewhere[@me.id] %> <%= link_to_remote "&#92;&#47;", :url => switch_list_ministries_url %><%- end -%></h1>
        <%= tabnav :main %>
        <div id="switch_ministries_list" style="display:none">
          &nbsp;
        </div>
			</div>
			<%- else -%>
		  <div id="userbar">
				<div id="userblock">
          <div id="username"><%= I18n.t(:please_login, :default => 'Please Login') %></div>
		    </div>
  			<div class="clear"></div>
			</div>
			<div id="greenbar">	
  			<h1 id="title"><%= I18n.t(:slogan, :default => 'Campus Movement Tracker') %></h1>
  			<%= render :partial => 'tabnav/auth' %>
			</div>
			<%- end -%>
			<div class="clear">&nbsp;</div>
			
			<div class="flash notice" id="flash_notice" <%= "style=\"display:none;\"" unless flash[:notice] %>><%= flash[:notice] %></div>
			<div class="flash warning" id="flash_warning" <%= "style=\"display:none;\"" unless flash[:notice] %>><%= flash[:warning] %></div>
			
			<div id="content">
				<%= yield %>
				<div class="clear">&nbsp;</div>
				<br />
			</div>
		</div> <!-- Wrapper -->
		
    <div id="dialog" style="display:none"></div>
		<div id="footer">
		<table width="100%">
			<tr>
				<td width="18%">
          <!-- <%= image_tag("logo.png") %></td><td style="font-size:11px;"> 
          Student Network is part of the <a href="http://www.ministryhacks.com/">MinistryHacks Toolbox</a> -->
				</td>
				<td align="right">
					<a href="http://www.ministryhacks.com/" target="_new"><%= image_tag("mh_logo.png") %></a>
				</td>
			</tr>
		</table>
		</div>
		</div> <!-- Center -->
		<%= I18n.t :analytics, :default => "" %>
	</body>
</html>
