<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <link rel="Shortcut Icon" href="https://www.campusforchrist.org/images/favicon.ico">
    <%# Check if the web_title config option is set, and if so, use it %>
    <title>
      <% if Cmt::CONFIG[:web_title] %>
        <%= Cmt::CONFIG[:web_title] %>
      <% else %>
	      Campus Movement Tracker
      <% end %>
      <%= ': ' + @site_title if @site_title -%>
    </title>
    
		<%= stylesheet_link_tag "ext/ext-all", "style", "thickbox", "ext/xtheme-gray", :media => "screen", :cache => false %>
		<%= javascript_include_tag :defaults, 'person', 'thickbox-compressed', 'alternate', 'ext-jquery-adapter', 'ext-all', 'json',
		                            'jquery.disable.text.select.pack', 'jquery.scrollTo-min', :cache => true %>
    <%= yield :javascripts %>

		<%= stylesheet_link_tag "/javascripts/jscalendar-1.0/skins/aqua/theme.css" %>
    <%= javascript_include_tag "jscalendar-1.0/calendar.js", "jscalendar-1.0/lang/calendar-en.js", "jscalendar-1.0/calendar-setup.js", :cache => 'calendar' %>

    <%= fb_connect_javascript_tag if Cmt::CONFIG[:facebook_connectivity_enabled] %>

	</head>
	<body id="facebook_canvas_body" class="facebook_canvas">
<br/>~~<br/>
<%=session[:from_facebook_canvas]%>
<br/>~<br/>
<%=request.inspect%>
<br/>~~<br/>
    <%= javascript_include_tag "facebook_sdk_helpers.js" %>
    <%= init_facebook_js_sdk_async %>
    
    <%= init_fb_connect('XFBML', :js => :jquery) if Cmt::CONFIG[:facebook_connectivity_enabled]%>
		<div id="outer">

    <%= image_tag("/images/log_in_facebook_header.gif") %>

		<div id="wrapper" class="facebook_canvas">

			<div class="clear">&nbsp;</div>
<noscript>
	<div class="flash_notice warning">
  For full functionality of this site it is necessary to enable JavaScript.
  Here are the <a href="http://www.enable-javascript.com/" target="_blank">
  instructions how to enable JavaScript in your web browser</a>.</div>
</noscript>
			<div class="flash notice" id="flash_notice" <%= "style=\"display:none;\"" unless flash[:notice] %>><%= flash[:notice] %></div>
                        <%- if @notices -%>
                          <%- for notice in @notices -%>
                            <div class="flash_notice" id="notice_<%= notice.id %>"><%= notice.message %> <%= link_to_remote "Hide", :url => dismiss_notice_url(notice.id), :method => :post %></div>
                          <%- end %>
                        <%- end %>
			<div class="flash warning" id="flash_warning" <%= "style=\"display:none;\"" unless flash[:notice] %>><%= flash[:warning] %></div>
      <div id="instructions" class="flash_notice notice" style="display:none;"></div>

			<div id="content">
				<%= yield %>
				<div class="clear">&nbsp;</div>
				<br />
			</div>
		</div> <!-- Wrapper -->

    <div id="dialog" style="display:none"></div>
		</div> <!-- Center -->
		<%= I18n.t :analytics, :default => "" %>
                <!-- BEGIN: SeeVolution --><img width=0 height=0 src="https://c.svlu.net/pixel.aspx"/><script type="text/javascript" src="https://c.svlu.net/JInitScript.js"></script><!-- END: SeeVolution  -->
	</body>
</html>
