<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <%# Check if the web_title config option is set, and if so, use it %>
    <title>
      <% if Cmt::CONFIG[:web_title] %>
        <%= Cmt::CONFIG[:web_title] %>
      <% else %>
        Campus Movement Tracker
      <% end %>
      <%= ': ' + @site_title if @site_title -%>
    </title>
    <%= stylesheet_link_tag "ext/ext-all", "style", "thickbox", "ext/xtheme-gray", :media => "screen", :cache => false %>
    <%= javascript_include_tag :defaults, 'person', 'thickbox-compressed', 'alternate', 'ext-jquery-adapter', 'ext-all', 'json',
                                'jquery.disable.text.select.pack', 'jquery.scrollTo-min', :cache => true %>
    <%= yield :javascripts %>

    <%= stylesheet_link_tag "/javascripts/jscalendar-1.0/skins/white/calendar-white.css", :media => "screen" %>
    <%= javascript_include_tag "jscalendar-1.0/calendar.js", "jscalendar-1.0/lang/calendar-en.js", "jscalendar-1.0/calendar-setup.js", :cache => 'calendar' %>

  </head>

	<body>
      
		<div id="outer">

		<div id="wrapper">

      <div class="clear">&nbsp;</div>

      <!-- this is a conditional comment, only IE recognizes these -->
      <!--[if lt IE 8]>
        <div id='browser_warning' class='flash_notice warning'>
          <%= image_tag "/images/silk/exclamation.png" %>
          <b><big>You are using an outdated browser (<%= link_to "what's a browser?", "http://www.whatbrowser.org/", :target => "_blank" %>)</big></b><br/>
          For a faster, safer browsing experience, upgrade for free to one of these browsers today: 

          <div style='background-color:white; display:inline; padding:5px 5px 0;'>
            <%= link_to image_tag("browser_chrome_small.gif", :alt => "Google Chrome"), 'http://www.google.com/chrome', :title => "Google Chrome" %>
            <%= link_to image_tag("browser_firefox_small.gif", :alt => "Firefox"), 'http://www.mozilla.com/firefox/', :title => "Firefox" %>
            <%= link_to image_tag("browser_safari_small.gif", :alt => "Safari"), 'http://www.apple.com/safari/', :title => "Safari" %>
            <%= link_to image_tag("browser_ie_small.gif", :alt => "Internet Explorer"), 'http://www.microsoft.com/windows/internet-explorer/', :title => "Internet Explorer" %>
          </div>
        </div>
      <![endif]-->

      <noscript>
        <div class="flash_notice warning">
          <%= image_tag "/images/silk/exclamation.png" %>
          <b><big>For full functionality of this site it is necessary to enable JavaScript.</big></b>
          <br/>
          <br/>
          <a href="http://www.enable-javascript.com/" target="_blank">Click here for instructions how to enable JavaScript in your web browser.</a>
        </div>
      </noscript>

      <div class="flash notice" id="flash_notice" <%= "style=\"display:none;\"" unless flash[:notice] %>><%= flash[:notice] %></div>
                        <%- if @notices -%>
                          <%- for notice in @notices -%>
                            <div class="flash_notice" id="notice_<%= notice.id %>"><%= notice.message %> <%= link_to_remote "Hide", :url => dismiss_notice_url(notice.id), :method => :post %></div>
                          <%- end %>
                        <%- end %>
      <div class="flash warning" id="flash_warning" <%= "style=\"display:none;\"" unless flash[:notice] %>><%= flash[:warning] %></div>
      <div id="instructions" class="flash_notice notice" style="display:none;"></div>

      <div id="content">
        <%= yield %>
        <div class="clear">&nbsp;</div>
      </div>
    </div> <!-- Wrapper -->

    <div id="dialog" style="display:none"></div>
    </div> <!-- Center -->
    
    <div id="footer">
      <div id="helpLink"><a href="https://www.mygcx.org/Pulse_Help_Center/screen/home" title="Pulse Help Center"><%= image_tag "/images/help.gif" %></a></div>
    </div>
    
    <%= I18n.t :analytics, :default => "" %>

    <% user_agent = request.env['HTTP_USER_AGENT'].downcase %>
    <%- unless user_agent =~ /msie/i || request.domain =~ /localhost/ -%>
      <%= I18n.t :analytics, :default => "" %>
      <!-- BEGIN: SeeVolution --><img width=0 height=0 src="https://c.svlu.net/pixel.aspx"/><script type="text/javascript" src="https://c.svlu.net/JInitScript.js"></script><!-- END: SeeVolution  -->
    <% end %>
  </body>
</html>

