<%- inside_layout 'application' do -%>
<div id="manage">

  <div id="left-body">
    <%= yield %>
  </div>

</div>

<div id="right-menu" class="right-menu">
	<ul class="right-menu-list">
	  <%- if authorized?(:new, :ministries) || authorized?(:edit, :ministries) -%>
  		<li<%= ' class="highlighted"' if ["ministries", "manage"].include?(params[:controller]) %>>
  		<%= link_to 'Ministries', ministries_path %></li>
		<%- end -%>
		
	    <%- if authorized?(:index, :staff) -%>
		    <li<%= ' class="highlighted"' if params[:controller] == "staff" %>>
		    <%= link_to "Leaders/#{t(:Staff_plural, :default => 'Staff')}", {:controller => :staff} %></li>
	    <%- end -%>
	  
	    <%- if authorized?(:new, :groups) -%>
		    <li<%= ' class="highlighted"' if params[:controller] == "groups" %>>
		    <%= link_to(t(:groups, :default => 'Groups'), groups_path) %></li>
        <%- end -%>
      
		<%- if authorized?(:new, :involvement_questions) || authorized?(:new, :training_questions) ||
		       authorized?(:new, :views) || authorized?(:new, :custom_attributes) ||
		       authorized?(:new, :group_types) || authorized?(:new, :dorms) -%>
  		    <li<%= ' class="highlighted"' if params[:controller] == "customize" %>>
  		    <%= link_to 'Customize', customize_path(@ministry) %></li>
  	<%- end -%>
    
   <%- if @ministry.campuses.find :first -%>
    <li<%= ' class="highlighted"' if params[:controller] == "campus trees" %>>
      <%= link_to "Campus Trees", 
                  ministry_campus_path(@ministry.ministry_campuses.find(:first).id) %></li>
   <%- end -%>
    
    
  	</ul>
		<%- if authorized?(:edit, :ministry_roles) -%>
		<br/><br/>
		  <h3>System Settings</h3>
		  <h5>(These affect all ministries)</h5>
  		<ul class="right-menu-list">
		    <li<%= ' class="highlighted"' if params[:controller] == "ministry_roles" %>>
		    <%= link_to 'Roles/Permissions', ministry_roles_path %></li>
    		<li<%= ' class="highlighted"' if params[:controller] == "school_years" %>>
    		<%= link_to 'School Years', school_years_path %></li>
  		<%- if current_user.developer? -%>
    		<li<%= ' class="highlighted"' if params[:controller] == "columns" %>>
    		<%= link_to 'Columns', columns_path %></li>
    		<li<%= ' class="highlighted"' if params[:controller] == "permissions" %>>
    		<%= link_to 'ACL Permissions', permissions_path %></li>
            <li<%= ' class="highlighted"' if params[:controller] == "correspondences" %>>
		    <%= link_to 'Correspondences', correspondences_path %></li>
  		<%- end -%>
  	</ul>
	  <%- end -%>
</div>
<%= render :partial => 'students/ajax_form', :locals => {:person => Person.new} %>
<%- end -%>