<%- inside_layout 'application' do -%>
  <div id="subtabs">
  <ul class="subtabs-menu">
  <li><%= link_to('Profile', person_path(@person), :class => params[:controller] == 'people' ? "subtabs-menu-active" : "subtabs-menu-inactive") %></li>
  <%- if authorized?(:index, :involvement) && Cmt::CONFIG[:involvement_questions_enabled] -%>
    <li><%= link_to('Involvement', person_involvement_index_path(@person), :class => params[:controller] == 'involvement' ? "subtabs-menu-active" : "subtabs-menu-inactive") %></li>
  <%- end -%>
  <%- if authorized?(:index, :training) && Cmt::CONFIG[:training_enabled] -%>
    <li><%= link_to('Training', person_training_index_path(@person), :class => params[:controller] == 'training' ? "subtabs-menu-active" : "subtabs-menu-inactive") %></li>
  <%- end -%>
  <%- if authorized?(:show, :timetables) -%>
  <li><%= link_to('Timetable', person_timetable_path(@person.id, (@person.timetable || Timetable.create(:person_id => @person.id)).id), :class => params[:controller] == 'timetables' ? "subtabs-menu-active" : "subtabs-menu-inactive") %></li>
  <%- end -%>
  <%- if !currently_impersonating && Cmt::CONFIG[:allow_impersonate] -%>
  <li><%= link_to('Impersonate', impersonate_person_path(@person.id), :class => "subtabs-menu-inactive") %></li>
  <%- end -%>
  </ul>
  </div>
  <%= yield %>
<%- end -%>
