<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
	    <title>Ministry Track<%= ': ' + @site_title if @site_title -%></title>
	    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<%= stylesheet_link_tag "style", :media => "all" %>
		<%= javascript_include_tag :defaults %>
	</head>
	<body>
	<div align="center">
		<div id="wrapper">
			
			
			
			
			
			
			
			
			
			<div id="userbar">
		    <div class="floatleft">
		    <div class="username">Please Login</div><a href=""><small></small></a>
		    </div>
		  
  			
  			<%#= link_to("logout", session_url, :class => 'logoutbutton', :method => :delete) %>&nbsp;&nbsp;&nbsp;
  			<div class="clear"></div>
			</div>
			
			<%- if @ministry && is_ministry_leader -%>
  			<!--
  			<div id="addStudentLink">
  				<%= link_to_function(image_tag("add_student.png"), "show_add_student()") %>&nbsp;&nbsp;&nbsp;
  			</div>
  			-->
			<% end %>
			
			<div id="greenbar">	
			<h1 id="title"><%= @ministry ? @ministry.name : 'Ministry Track' %></h1>
			<%= render :partial => 'tabnav/auth' %>
			</div>
			
			
			
			
			
			
			<div class="clear">&nbsp;</div>
			<div class="flash notice" id="flash_notice"><%= flash[:notice] %></div>
			<div class="flash warning" id="flash_warning"><%= flash[:warning] %></div>
			<div id="content">
				<%= yield %>
				<div class="clear">&nbsp;</div>
				<br />
			</div>
		</div>
	</div>
		<script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-79392-17");
      pageTracker._initData();
      pageTracker._trackPageview();
    </script>
	</body>
</html>
